root = true

[*]
# Unconfigurable Rome/Prettier behavior
insert_final_newline = true
charset = utf-8
# Configurable Rome/Prettier behavior
max_line_length = 80
indent_style = tab
trim_trailing_whitespace = true
