/*
	componentPath: src/app/common/components/Animations/Tracking/ArticleDetails
	cssComponentId: article-details_brocy1
*/
@import '../../../../../common/styles/colors';

.article-details_brocy1 {
	position: relative;
	display: flex;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	padding: 0.35em 0.4em;
}
.article-details_brocy1 > .rank {
	position: absolute;
	width: 0.9em;
	height: 0.9em;
	background: inherit;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -0.4em;
	left: -0.55em;
}
.article-details_brocy1 > .rank > .numbers {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.625em;
	font-family: 'Museo Sans (700)';
}
.article-details_brocy1 > .rank > .numbers > .number {
	position: absolute;
	opacity: 0;
}
.article-details_brocy1 > .lines {
	flex: 1 1 auto;
}
.article-details_brocy1 > .lines > .line:nth-child(1) {
	height: 0.25em;
}
.article-details_brocy1 > .lines > .line:nth-child(2) {
	height: 0.15em;
	margin: 0.2em 0;
}
.article-details_brocy1 > .lines > .line:nth-child(3) {
	height: 0.15em;
}
.article-details_brocy1 > .star {
	font-size: 0.6em;
}
.article-details_brocy1 > .children {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.article-details_brocy1.playing.n-1 {
	animation: article-details_brocy1-article-1 1s forwards 26.5s;
}
.article-details_brocy1.finished.n-1 {
	transform: translateX(calc(100% + 0.5em + 1.25em));
}
.article-details_brocy1.playing.n-2 {
	animation: article-details_brocy1-article-2 6.5s forwards 21s;
}
.article-details_brocy1.finished.n-2 {
	transform: translateY(0);
}
.article-details_brocy1.playing.n-3 {
	animation: article-details_brocy1-article-3 7.5s forwards 20.5s;
}
.article-details_brocy1.finished.n-3 {
	transform: scale(1) translateY(calc(-200% - 1.5em - 1px));
}
.article-details_brocy1.playing.n-4,
.article-details_brocy1.playing.n-5,
.article-details_brocy1.playing.n-6 {
	animation: article-details_brocy1-article-shift-up 1s forwards 26.5s;
}
.article-details_brocy1.finished.n-4,
.article-details_brocy1.finished.n-5,
.article-details_brocy1.finished.n-6 {
	transform: translateY(calc(-100% - 0.5em));
}

.article-details_brocy1.playing.n-3 > .rank {
	animation: article-details_brocy1-trophy 0.5s forwards 27s;
}
.article-details_brocy1.finished.n-3 > .rank {
	transform: rotate(0) scale(1);
}

.article-details_brocy1.n-1 > .rank > .numbers > .number:nth-child(1) {
	opacity: 1;
}
.article-details_brocy1.n-2 > .rank > .numbers > .number:nth-child(2) {
	opacity: 1;
}
.article-details_brocy1.playing.n-2 > .rank > .numbers > .number:nth-child(2) {
	animation: article-details_brocy1-article-2-rank-2 6.5s forwards 21s;
}
.article-details_brocy1.finished.n-2 > .rank > .numbers > .number:nth-child(2) {
	opacity: 1;
}
.article-details_brocy1.playing.n-2 > .rank > .numbers > .number:nth-child(3) {
	animation: article-details_brocy1-article-2-rank-3 6.5s forwards 21s;
}
.article-details_brocy1.finished.n-2 > .rank > .numbers > .number:nth-child(3) {
	opacity: 0;
}
.article-details_brocy1.n-3 > .rank > .numbers > .number:nth-child(3) {
	opacity: 1;
}
.article-details_brocy1.playing.n-3 > .rank > .numbers > .number:nth-child(3) {
	animation: article-details_brocy1-fade-out 0.5s forwards 21s;
}
.article-details_brocy1.finished.n-3 > .rank > .numbers > .number:nth-child(3) {
	opacity: 0;
}
.article-details_brocy1.playing.n-3 > .rank > .numbers > .number:nth-child(2) {
	animation: article-details_brocy1-article-3-rank-2 6.5s forwards 20.5s;
}
.article-details_brocy1.finished.n-3 > .rank > .numbers > .number:nth-child(2) {
	opacity: 0;
}
.article-details_brocy1.playing.n-3 > .rank > .numbers > .number:nth-child(1) {
	animation: article-details_brocy1-fade-in 0.5s forwards 26.5s;
}
.article-details_brocy1.finished.n-3 > .rank > .numbers > .number:nth-child(1) {
	opacity: 1;
}
.article-details_brocy1.n-4 > .rank > .numbers > .number:nth-child(4) {
	opacity: 1;
}
.article-details_brocy1.playing.n-4 > .rank > .numbers > .number:nth-child(4) {
	animation: article-details_brocy1-fade-out 0.5s forwards 26.5s;
}
.article-details_brocy1.finished.n-4 > .rank > .numbers > .number:nth-child(4) {
	opacity: 0;
}
.article-details_brocy1.playing.n-4 > .rank > .numbers > .number:nth-child(3) {
	animation: article-details_brocy1-fade-in 0.5s forwards 26.5s;
}
.article-details_brocy1.finished.n-4 > .rank > .numbers > .number:nth-child(3) {
	opacity: 1;
}
.article-details_brocy1.n-5 > .rank > .numbers > .number:nth-child(5) {
	opacity: 1;
}
.article-details_brocy1.playing.n-5 > .rank > .numbers > .number:nth-child(5) {
	animation: article-details_brocy1-fade-out 0.5s forwards 26.5s;
}
.article-details_brocy1.finished.n-5 > .rank > .numbers > .number:nth-child(5) {
	opacity: 0;
}
.article-details_brocy1.playing.n-5 > .rank > .numbers > .number:nth-child(4) {
	animation: article-details_brocy1-fade-in 0.5s forwards 26.5s;
}
.article-details_brocy1.finished.n-5 > .rank > .numbers > .number:nth-child(4) {
	opacity: 1;
}
.article-details_brocy1.n-6 > .rank > .numbers > .number:nth-child(5) {
	opacity: 1;
}

.article-details_brocy1.n-1 > .lines > .line:nth-child(1) { width: 55%; }
.article-details_brocy1.n-1 > .lines > .line:nth-child(2) { width: 25%; }
.article-details_brocy1.n-1 > .lines > .line:nth-child(3) { width: 30%; }
.article-details_brocy1.n-2 > .lines > .line:nth-child(1) { width: 65%; }
.article-details_brocy1.n-2 > .lines > .line:nth-child(2) { width: 30%; }
.article-details_brocy1.n-2 > .lines > .line:nth-child(3) { width: 25%; }
.article-details_brocy1.n-3 > .lines > .line:nth-child(1) { width: 50%; }
.article-details_brocy1.n-3 > .lines > .line:nth-child(2) { width: 25%; }
.article-details_brocy1.n-3 > .lines > .line:nth-child(3) { width: 30%; }
.article-details_brocy1.n-4 > .lines > .line:nth-child(1) { width: 55%; }
.article-details_brocy1.n-4 > .lines > .line:nth-child(2) { width: 20%; }
.article-details_brocy1.n-4 > .lines > .line:nth-child(3) { width: 30%; }
.article-details_brocy1.n-5 > .lines > .line:nth-child(1) { width: 60%; }
.article-details_brocy1.n-5 > .lines > .line:nth-child(2) { width: 30%; }
.article-details_brocy1.n-5 > .lines > .line:nth-child(3) { width: 30%; }
.article-details_brocy1.n-6 > .lines > .line:nth-child(1) { width: 45%; }
.article-details_brocy1.n-6 > .lines > .line:nth-child(2) { width: 25%; }
.article-details_brocy1.n-6 > .lines > .line:nth-child(3) { width: 30%; }

@keyframes article-details_brocy1-article-1 {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(100% + 0.5em + 1.25em));
	}
}
@keyframes article-details_brocy1-article-2 {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(calc(100% + 0.5em));
	}
	85% {
		transform: translateY(calc(100% + 0.5em));
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes article-details_brocy1-article-2-rank-2 {
	0% {
		opacity: 1;
	}
	8% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes article-details_brocy1-article-2-rank-3 {
	0% {
		opacity: 0;
	}
	8% {
		opacity: 1;
	}
	92% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes article-details_brocy1-article-3 {
	0% {
		transform: scale(1);
	}
	7% {
		transform: scale(1.1) translateY(0);
	}
	20% {
		transform: scale(1.1) translateY(calc(-100% - 0.5em));
	}
	27% {
		transform: scale(1) translateY(calc(-100% - 0.5em));
	}
	73% {
		transform: scale(1) translateY(calc(-100% - 0.5em));
	}
	80% {
		transform: scale(1.1) translateY(calc(-100% - 0.5em));
	}
	93% {
		transform: scale(1.1) translateY(calc(-200% - 1.5em - 1px));
	}
	100% {
		transform: scale(1) translateY(calc(-200% - 1.5em - 1px));
	}
}
@keyframes article-details_brocy1-article-3-rank-2 {
	0% {
		opacity: 0;
	}
	8% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	92% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes article-details_brocy1-article-shift-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-100% - 0.5em));
	}
}
@keyframes article-details_brocy1-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes article-details_brocy1-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes article-details_brocy1-trophy {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(22.5deg) scale(1.25);
	}
	50% {
		transform: rotate(0) scale(1.5);
	}
	66% {
		transform: rotate(-22.5deg) scale(1.25);
	}
	100% {
		transform: rotate(0) scale(1);
	}
}

@include theme using ($root, $scheme) {
	#{$root} .article-details_brocy1 {
		@include theme-colors(
			$scheme,
			(
				"background-color": $content-background-color,
				"border-color": $content-border-color
			)
		);
	}
	#{$root} .article-details_brocy1 > .rank {
		@include theme-colors(
			$scheme,
			(
				"border-color": $content-border-color
			)
		);
	}
	#{$root} .article-details_brocy1 > .lines > .line:nth-child(1),
	#{$root} .article-details_brocy1 > .lines > .line:nth-child(2),
	#{$root} .article-details_brocy1 > .lines > .line:nth-child(3) {
		@include theme-colors(
			$scheme,
			(
				"background-color": $control-border-color
			)
		);
	}
	#{$root} .article-details_brocy1 > .star {
		@include theme-colors(
			$scheme,
			(
				"color": $control-border-color
			)
		);
	}
}