/*
	componentPath: src/app/common/components/Animations/Tracking/Article
	cssComponentId: article_pw2r68
*/

.article_pw2r68 {
	padding: 0.25em;
}
.article_pw2r68 > h1 {
	height: 0.25em;
	width: 80%;
	background-color: #999;
	margin: 0.25em 0;
}