/*
	componentPath: src/app/common/components/Animations/Tracking/Figure
	cssComponentId: figure_9y2fg8
*/
@import '../../../../../common/styles/colors';

.figure_9y2fg8 {
	margin: 0.5em 0;
}
.figure_9y2fg8 > div {
	width: 2em;
	height: 1em;
	margin: 0 auto;
}

@include theme using ($root, $scheme) {
	#{$root} .figure_9y2fg8 > div {
		@include theme-colors(
			$scheme,
			(
				"background-color": $control-background-color
			)
		);
	}
}