/*
	componentPath: src/app/common/components/Animations/Tracking/Figure
	cssComponentId: figure_9y2fg8
*/

.figure_9y2fg8 {
	margin: 0.5em 0;
}
.figure_9y2fg8 > div {
	width: 2em;
	height: 1em;
	background-color: #ccc;
	margin: 0 auto;
}