/*
	componentPath: src/embed/components/Global
	cssComponentId: global_lutpij
*/
@import '../../common/styles/colors';

.global_lutpij.error {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@include theme using ($root, $scheme) {
	#{$root} .global_lutpij.error {
		@include theme-colors(
			$scheme,
			(
				"background": $overlay-color
			)
		);
	}
}