/*
	componentPath: src/embed/components/ProgressIndicatorInfoDialog
	cssComponentId: progress-indicator-info-dialog_903i4
*/

.progress-indicator-info-dialog_903i4 {
	max-width: 600px;
}
.progress-indicator-info-dialog_903i4 > p {
	margin: 15px 0;
}
