/*
	componentPath: src/common/components/comments/CommentAddendumComposer
	cssComponentId: comment-addendum-composer_z77dhy
*/
@import '../../styles/colors';

.comment-addendum-composer_z77dhy {
	max-width: 600px;
}
.comment-addendum-composer_z77dhy > textarea {
	box-sizing: border-box;
	width: 100%;
	height: 130px;
	padding: 5px;
	margin: 5px 0;
	border-width: 1px;
	border-style: solid;
	outline: none;
}
.comment-addendum-composer_z77dhy > .controls {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 475px) {
	.comment-addendum-composer_z77dhy > .controls {
		flex-flow: column;
	}
	.comment-addendum-composer_z77dhy > .controls > .buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 5px;
	}
}

@include theme using ($root, $scheme) {
	#{$root} .comment-addendum-composer_z77dhy > textarea {
		@include theme-colors(
			$scheme,
			(
				"background-color": $control-background-color,
				"border-color": $control-border-color
			)
		);
	}
}