/*
	componentPath: src/common/components/comments/CommentAddendumComposer
	cssComponentId: comment-addendum-composer_z77dhy
*/

.comment-addendum-composer_z77dhy {
	max-width: 600px;
}
.comment-addendum-composer_z77dhy > textarea {
	box-sizing: border-box;
	width: 100%;
	height: 130px;
	padding: 5px;
	margin: 5px 0;
	font-family: inherit;
	border: 1px solid silver;
	outline: none;
}
.comment-addendum-composer_z77dhy > .controls {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 475px) {
	.comment-addendum-composer_z77dhy > .controls {
		flex-flow: column;
	}
	.comment-addendum-composer_z77dhy > .controls > .buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 5px;
	}
}