/*
	componentPath: src/common/components/comments/CommentDetails
	cssComponentId: comment-details_qker1u
*/

.comment-details_qker1u > .post-header_f4a846 {
	border-radius: 3px;
}
.comment-details_qker1u > .text-wrapper > .text {
	margin: 10px 0;
	overflow-wrap: break-word;
}
.comment-details_qker1u > .text-wrapper > .text.deleted {
	color: #999;
}
.comment-details_qker1u > .addenda {
	margin-top: 10px;
	padding-bottom: 10px;
}
.comment-details_qker1u > .addenda > .addendum + .addendum {
	margin-top: 10px;
}
.comment-details_qker1u > .addenda > .addendum > .date {
	font-family: 'Museo Sans (500)';
}
.comment-details_qker1u > .addenda > .addendum > .text {
	overflow-wrap: break-word;
}
.comment-details_qker1u > .actions {
	font-size: 12pt;
	font-family: 'Museo Sans (500)';	
}
.comment-details_qker1u > .actions > .action-link_ftamt8 + .action-link_ftamt8 {
	margin-left: 10px;
}
.comment-details_qker1u > .comment-revision-composer_dnzrxr,
.comment-details_qker1u > .comment-addendum-composer_z77dhy,
.comment-details_qker1u > .comment-composer_fgo1ny {
	margin-top: 10px;
}
.comment-details_qker1u > .replies {
	margin-top: 10px;
	padding-left: 20px;
	border-left: 1px dotted darkgray;
}
.comment-details_qker1u > .replies > li {
	margin-top: 5px;
}
.comment-details_qker1u.post-embed {
	border: 1px solid #999;
	border-radius: 3px;
	border-top-width: 0;
}
.comment-details_qker1u.post-embed > .post-header_f4a846 {
	border-radius: 3px 3px 0 0;
}
.comment-details_qker1u.post-embed > .text-wrapper > .text {
	margin: 10px;
}
.comment-details_qker1u.post-embed > .addenda {
	padding: 0 10px 10px 10px;
}
.comment-details_qker1u.post-embed > .actions {
	margin: 0 10px 10px 10px;
}

@media (max-width: 450px) {
	.comment-details_qker1u > .actions {
		font-size: 11pt;
	}
	.comment-details_qker1u > .replies {
		padding-left: 10px;
	}
}