/*
	componentPath: src/extension/content-script/embed/components/App
	cssComponentId: app_5ii7ja
*/

.app_5ii7ja > .post-prompt {
	text-align: center;
	margin-bottom: 15px;
}
.app_5ii7ja > .post-prompt > .post-button_euo01q {
	margin-top: 10px;
}