/*
	componentPath: src/extension/content-script/embed/components/Logo
	cssComponentId: logo_dlp7ba
*/

.logo_dlp7ba {
	margin-bottom: 10px;
}
.logo_dlp7ba > img[alt="logo"] {
	display: block;
	width: 50px;
	margin: 0 auto;
}