.app-auth-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 0 10px;
}
.app-auth-screen::before {
	content: "";
	height: 10%;
	min-height: 10px;
}
.app-auth-screen::after {
	content: "";
	min-height: 10px;
}
.app-auth-screen > .content {
	width: 100%;
	max-width: 400px;
}
.app-auth-screen > .content > .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.app-auth-screen > .content > .logo > svg {
	display: block;
	width: 80%;
	min-width: 240px;
	max-width: 300px;
}
.app-auth-screen > .content > .flip-container {
	perspective: 1000px;
}
.app-auth-screen > .content > .flip-container > .flipper {
	transition: 500ms;
	transform-style: preserve-3d;
	position: relative;
}
.app-auth-screen > .content > .flip-container > .flipper.flipped {
	transform: rotateY(-180deg);
}
.app-auth-screen > .content > .flip-container > .flipper > .front,
.app-auth-screen > .content > .flip-container > .flipper > .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.app-auth-screen > .content > .flip-container > .flipper > .front {
	z-index: 2;
	transform: translateZ(0);
}
.app-auth-screen > .content > .flip-container > .flipper > .back {
	transform: rotateY(180deg);
}