.app-auth-screen {
	position: relative;
}
.app-auth-screen > .content > .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.app-auth-screen > .content > .logo > svg {
	display: block;
	width: 80%;
	min-width: 240px;
	max-width: 300px;
}
.app-auth-screen > .content > strong {
	display: block;
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
}
.app-auth-screen > .content > .break {
	display: flex;
	align-items: center;
	margin: 20px 0;
	color: silver;
}
.app-auth-screen > .content > .break::before,
.app-auth-screen > .content > .break::after {
	content: "";
	display: block;
	flex: 1 1 auto;
	border-bottom: 1px solid silver;
	margin: 0 10px;
}
.app-auth-screen > .create-account-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}