.app-screen {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 0 10px;
	background-image: url('/images/marble.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.app-screen::before {
	content: "";
	height: 10%;
	min-height: 10px;
}
.app-screen::after {
	content: "";
	min-height: 10px;
}
.app-screen > .content {
	width: 100%;
	max-width: 400px;
}