%nav-separator {
	flex: 0 0 auto;
	width: 1px;
	background-color: silver;
	margin: 0 6px;
}
%menu-flag {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 6px;
	border-style: solid;
	border-color: red red transparent transparent;
}

.header {
	padding: 10px 0 15px 0;
}
.header > .row {
	display: flex;
}
.header > .row > .content {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 100%;
	max-width: 870px;
	padding: 0 10px;
	margin: 0 auto;
}
.header > .row.top > .content {
	height: 40px;
	align-items: center;
}
.header > .row.top > .content > .logo {
	flex: 0 0 auto;
	padding-left: 10px;
}
.header > .row.top > .content > .logo > svg {
	display: block;
	width: 180px;
}
.header > .row.top > .content > .nav-section {
	display: flex;
	align-items: center;
	min-width: 0;
	margin-left: 20px;
}
.header > .row.top > .content > .nav-section > .header-button {
	height: 32px;
}
.header > .row.top > .content > .nav-section > .header-button.about {
	flex: 0 0 auto;
}
.header > .row.top > .content > .nav-section > .menu {
	box-sizing: border-box;
	height: 32px;
	min-width: 0;
	align-items: center;
	display: flex;
	padding: 0 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.header > .row.top > .content > .nav-section > .menu:focus {
	border: 1px solid black;
	padding: 0 9px;
	background-color: white;
}
.header > .row.top > .content > .nav-section > .menu.indicator::after {
	@extend %menu-flag;
}
.header > .row.top > .content > .nav-section > .menu > label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.header > .row.top > .content > .nav-section > .menu > .hamburger {
	display: none;
}
.header > .row.top > .content > .nav-section > .menu > ol {
	top: 30px;
	right: -1px;
	background-color: white;
	border: 1px solid black;
}
.header > .row.top > .content > .nav-section > .menu > ol > li {
	position: relative;
}
.header > .row.top > .content > .nav-section > .menu > ol > li.about {
	display: none;
}
.header > .row.top > .content > .nav-section > .menu > ol > li.indicator::after {
	@extend %menu-flag;
}
.header > .row.top > .content > .nav-section > .menu > ol > li > a,
.header > .row.top > .content > .nav-section > .menu > ol > li > span {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 5px 10px;
}
.header > .row.top > .content > .nav-section > .nav-separator {
	@extend %nav-separator;
	height: 17px;
}
.header > .row.bottom > .content {
	height: 45px;
}
.header > .row.bottom > .content > .section {
	display: flex;
	align-items: center;
}
.header > .row.bottom > .content > .section.left > .subtitle {
	display: none;
	padding: 5px 5px 0 5px;
	font-style: italic;
	color: #333;
	font-size: 12px;
	text-align: center;
}
.header > .row.bottom > .content > .section.left > .nav-buttons {
	display: flex;
}
.header > .row.bottom > .content > .section > .nav-buttons > .header-button {
	height: 32px;
}
.header > .row.bottom > .content > .section > .pizza-button {
	height: 41px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	color: black;
}
.header > .row.bottom > .content > .section > .pizza-button > .live {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 5px;
	box-sizing: border-box;
	color: white;
	background-color: plum;
}
.header > .row.bottom > .content > .section > .pizza-button > .live > .icon {
	margin-right: 3px;
	top: 0;
}
.header > .row.bottom > .content > .section > .pizza-button > .content {
	padding: 0 5px;
	border-width: 1px 1px 1px 0;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid plum;
	box-sizing: border-box;
}
.header > .row.bottom > .content > .section > .pizza-button.selected > .content {
	border-bottom-width: 3px;
	 padding-top: 2px;
}
.header > .row.bottom > .content > .section > .pizza-button > .content > .subtitle {
	font-weight: normal;
    font-size: 11px;
}
.header > .row.subtitle {
	margin-top: 5px;
}
.header > .row.subtitle > .content {
	justify-content: center;
}
.header > .row.subtitle > .content > span {
	display: block;
	text-align: center;
	font-style: italic;
	color: #333;
}

@media (max-width: 499px) {
	.header > .row.top.unauthenticated {
		margin-bottom: 10px;
	}
	.header > .row.top.unauthenticated > .content {
		flex-direction: column;
		height: auto;
	}
	.header > .row.top.unauthenticated > .content > .logo {
		margin-bottom: 10px;
		padding-left: 0;
	}
	.header > .row.top.unauthenticated > .content .nav-section {
		margin-left: 0;
	}
	.header > .row.top:not(.unauthenticated) > .content > .nav-section > .header-button.about,
	.header > .row.top:not(.unauthenticated) > .content > .nav-section > .nav-separator {
		display: none;
	}
	.header > .row.top > .content > .nav-section > .menu > label {
		display: none;
	}
	.header > .row.top > .content > .nav-section > .menu > .hamburger {
		display: inline-block;
		width: 28px;
		height: 28px;
	}
	.header > .row.top > .content > .nav-section > .menu > .caret {
		display: none;
	}
	.header > .row.top > .content > .nav-section > .menu > ol > li.about {
		display: list-item;
	}
	.header > .row.bottom > .content {
		justify-content: center;
	}
	.header > .row.bottom > .content > .section.left {
		position: fixed;
		background-color: white;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		display: flex;
		justify-content: space-evenly;
		border-top: 1px solid black;	
		flex-direction: column;
	}
	.header > .row.bottom > .content > .section.left > .subtitle {
		display: block;
	}
	.header > .row.subtitle {
		display: none;
	}
}