.main-view_header {
	display: flex;
	flex-flow: column;
}
.main-view_header > .title {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
.main-view_header > .title > .logos {
	display: flex;
	align-items: center;
	padding-top: 10px;
	flex: 1 0 0;
}
.main-view_header > .title > .logos > .speech-bubble-link {
	position: relative;
}
.main-view_header > .title > .logos > .speech-bubble-link::after {
	content: "Beta";
	font-size: 11px;
	position: absolute;
	border: 1px solid forestgreen;
	padding: 0 4px;
	left: 32px;
	top: -4px;
	border-radius: 7px;
	background: lightseagreen;
	color: white;
}
.main-view_header > .title > .logos > .speech-bubble-link > .speech-bubble {
	display: block;
	width: 40px;
}
.main-view_header > .title > .logos > h1 {
	margin-left: 14px;
}
.main-view_header > .title > .logos > h1 > .logo-text {
	display: block;
}
.main-view_header > .title > .logos > h1 > .logo-text > svg {
	display: block;
	width: 200px;
}
.main-view_header > .title > .user-controls {
	flex: 2 0 auto;
	padding-top: 10px;
	display: flex;
	max-width: 100%;
	white-space: nowrap;
	justify-content: flex-end;
}
.main-view_header > .title > .user-controls.signing-out {
	color: #ccc;
}
.main-view_header > .title > .user-controls > .user-name {
	overflow: hidden;
	text-overflow: ellipsis;
}
.main-view_header > nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
}
.main-view_header > nav > .left-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.main-view_header > nav > .left-nav > .button,
.main-view_header > nav > .right-nav > .nav-bar {
	margin-top: 5px;
}
.main-view_header > nav > .left-nav > .button:not(:first-child) {
	margin-left: (4 + 6) + px;
}

@media (max-width: 619px) {
	.main-view_header > nav {
		flex-flow: column;
	}
	.main-view_header > .title > .logos {
		justify-content: center;
	}
}