.read-readiness-bar {
	-webkit-perspective: 500;
	-moz-perspective: 500;
	-o-perspective: 500;
	perspective: 500;
}
.read-readiness-bar > .content {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: black;
	text-align: center;
	background-color: yellow;
	padding: 5px 0;
	transition:all 250ms ease;
	transform-origin: top;
	animation: read-readiness-bar-swing 1.5s ease-in-out 110ms 1 alternate;
}
.read-readiness-bar > .content > span > a {
	text-decoration: underline;
	cursor: pointer;
}

@keyframes read-readiness-bar-swing {
	0% { }
	15% { transform: rotateX(-50deg); }
	30% { transform: rotateX(50deg); }
	45% { transform: rotateX(-30deg); }
	60% { transform: rotateX(30deg); }
	75% { transform: rotateX(-30deg); }
	100% { transform: rotateX(0deg); }
}