.challenge-view {
	position: relative;
	height: 150px;
}
.challenge-view > .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.challenge-view > .overlay > .menu {
	display: flex;
	flex-flow: column;
	max-width: 85%;
	padding: 10px;
	background-color: rgba(255,255,255,0.9);
	border: 6px outset gray;
	border-radius: 3px;
	font-family: 'Press Start 2P';
	font-size: 8px;
	text-align: center;
}