/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/ButtonTutorialStep
	cssComponentId: button-tutorial-step_12zrbe
*/

.button-tutorial-step_12zrbe {
	text-align: center;
}
.button-tutorial-step_12zrbe > h1 {
	font-size: 30pt;
	font-weight: normal;
	font-family: 'Museo Sans (500)';
	margin-bottom: 25px;
}
.button-tutorial-step_12zrbe > .ad-free-animation_lv6n94 {
	font-size: 25px;
	margin: 0 auto 15px auto;
}