/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/CreateAuthServiceAccountStep
	cssComponentId: create-auth-service-account-step_tnixn3
*/

.create-auth-service-account-step_tnixn3 {
	text-align: center;
}
.create-auth-service-account-step_tnixn3 > h1 {
	font-size: 20pt;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.create-auth-service-account-step_tnixn3 > .global-error {
	margin-top: 15px;
	color: darkred;
}
.create-auth-service-account-step_tnixn3 > .button_ovrlmi {
	margin-top: 20px;
}
.create-auth-service-account-step_tnixn3 > .action-link_ftamt8 {
	display: inline-block;
	margin-top: 25px;
	color: #999;
	font-size: 11pt;
}