/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/CreateAuthServiceAccountStep
	cssComponentId: create-auth-service-account-step_tnixn3
*/
@import '../../../../../common/styles/colors';

.create-auth-service-account-step_tnixn3 {
	text-align: center;
}
.create-auth-service-account-step_tnixn3 > h1 {
	font-size: 20pt;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.create-auth-service-account-step_tnixn3 > .global-error {
	margin-top: 15px;
}
.create-auth-service-account-step_tnixn3 > .button_ovrlmi {
	margin-top: 20px;
}
.create-auth-service-account-step_tnixn3 > .action-link_ftamt8 {
	display: inline-block;
	margin-top: 25px;
	font-size: 11pt;
}

@include theme using ($root, $scheme) {
	#{$root} .create-auth-service-account-step_tnixn3 > .global-error {
		@include theme-colors(
			$scheme,
			(
				"color": $intent-danger-color
			)
		);
	}
	#{$root} .create-auth-service-account-step_tnixn3 > .action-link_ftamt8 {
		@include theme-colors(
			$scheme,
			(
				"color": $text-muted-color
			)
		);
	}
}