/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/CreateAccountStep
	cssComponentId: create-account-step_3cn5rp
*/

.create-account-step_3cn5rp {
	text-align: center;
}
.create-account-step_3cn5rp > h1 {
	font-size: 20pt;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.create-account-step_3cn5rp > .form-field_8ey399 + .form-field_8ey399 {
	margin-top: 15px;
}
.create-account-step_3cn5rp > .global-error {
	margin-top: 15px;
	color: darkred;
}
.create-account-step_3cn5rp > .button_ovrlmi {
	margin-top: 20px;
}
.create-account-step_3cn5rp > .form-partition_69q83q {
	margin-top: 15px;
}
.create-account-step_3cn5rp > .apple-id-button_mrmms4,
.create-account-step_3cn5rp > .twitter-auth-button_h10z4a {
	margin-top: 15px;
}
.create-account-step_3cn5rp > .action-link_ftamt8 {
	display: inline-block;
	margin-top: 25px;
	color: #999;
	font-size: 11pt;
}