/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/RequestPasswordResetStep
	cssComponentId: request-password-reset-step_em0y1x
*/
@import '../../../../../common/styles/colors';

.request-password-reset-step_em0y1x {
	text-align: center;
}
.request-password-reset-step_em0y1x > h1 {
	font-size: 20pt;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.request-password-reset-step_em0y1x.submitted > h1 {
	font-size: 30pt;
	font-family: 'Museo Sans (500)';
	margin-bottom: 25px;
}
.request-password-reset-step_em0y1x.submitted > h2 {
	font-size: 20pt;
	font-family: 'Museo Sans (500)';
	margin-bottom: 25px;
}
.request-password-reset-step_em0y1x > .global-error {
	margin-top: 15px;
}
.request-password-reset-step_em0y1x > .button_ovrlmi {
	margin-top: 20px;
}

@include theme using ($root, $scheme) {
	#{$root} .request-password-reset-step_em0y1x > .global-error {
		@include theme-colors(
			$scheme,
			(
				"color": $intent-danger-color
			)
		);
	}
}