/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/ResetPasswordStep
	cssComponentId: reset-password-step_oygm48
*/

.reset-password-step_oygm48 {
	text-align: center;
}
.reset-password-step_oygm48 > h1 {
	font-size: 20pt;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.reset-password-step_oygm48 > .form-field_8ey399 + .form-field_8ey399 {
	margin-top: 15px;
}
.reset-password-step_oygm48 > .global-error {
	margin-top: 15px;
	color: darkred;
}
.reset-password-step_oygm48 > .button_ovrlmi {
	margin-top: 20px;
}