/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/ResetPasswordStep
	cssComponentId: reset-password-step_oygm48
*/
@import '../../../../../common/styles/colors';

.reset-password-step_oygm48 {
	text-align: center;
}
.reset-password-step_oygm48 > h1 {
	font-size: 20pt;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.reset-password-step_oygm48 > .form-field_8ey399 + .form-field_8ey399 {
	margin-top: 15px;
}
.reset-password-step_oygm48 > .global-error {
	margin-top: 15px;
}
.reset-password-step_oygm48 > .button_ovrlmi {
	margin-top: 20px;
}

@include theme using ($root, $scheme) {
	#{$root} .reset-password-step_oygm48 > .global-error {
		@include theme-colors(
			$scheme,
			(
				"color": $intent-danger-color
			)
		);
	}
}