/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/ShareStep
	cssComponentId: share-step_nw2x7s
*/

.share-step_nw2x7s {
	text-align: center;
}
.share-step_nw2x7s > h1 {
	font-size: 30pt;
	font-weight: normal;
	font-family: 'Museo Sans (500)';
	margin-bottom: 25px;
}
.share-step_nw2x7s > h2 {
	font-size: 20pt;
	font-weight: normal;
	font-family: 'Museo Sans (500)';
	margin-bottom: 25px;
}
.share-step_nw2x7s > .icon_rour3d {
	font-size: 130px;
	margin: 0 auto 25px auto;
}
.share-step_nw2x7s > .share-control_mnbspk {
	margin-bottom: 15px;
}
.share-step_nw2x7s > .controls {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 50px;
}
.share-step_nw2x7s > .controls > .skip {
	color: #999;
	font-size: 11pt;
}
.share-step_nw2x7s > .controls > .continue {
	animation: share-step_nw2x7s-fade-in 250ms forwards;
}
.share-step_nw2x7s > .controls > .skip.hidden {
	animation: share-step_nw2x7s-fade-out 250ms forwards;
}

@keyframes share-step_nw2x7s-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes share-step_nw2x7s-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}