/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/SignInStep
	cssComponentId: sign-in-step_ffly8u
*/

.sign-in-step_ffly8u {
	text-align: center;
}
.sign-in-step_ffly8u > h1 {
	font-size: 20pt;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.sign-in-step_ffly8u > .form-field_8ey399 + .form-field_8ey399 {
	margin-top: 15px;
}
.sign-in-step_ffly8u > .global-error {
	margin-top: 15px;
	color: darkred;
}
.sign-in-step_ffly8u > .button_ovrlmi {
	margin-top: 20px;
}
.sign-in-step_ffly8u > .form-partition_69q83q {
	margin-top: 15px;
}
.sign-in-step_ffly8u > .apple-id-button_mrmms4,
.sign-in-step_ffly8u > .twitter-auth-button_h10z4a {
	margin-top: 15px;
}
.sign-in-step_ffly8u > .action-link_ftamt8 {
	display: inline-block;
	margin-top: 25px;
	color: #999;
	font-size: 11pt;
}
.sign-in-step_ffly8u > .action-link_ftamt8 + .action-link_ftamt8 {
	margin-top: 15px;
}