/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow/TwitterStep
	cssComponentId: twitter-step_elydna
*/

.twitter-step_elydna {
	text-align: center;
}
.twitter-step_elydna > h1 {
	font-size: 20pt;
	font-weight: normal;
	font-family: 'Museo Sans (700)';
	margin-bottom: 25px;
}
.twitter-step_elydna > h2 {
	font-size: 20pt;
	font-weight: normal;
	font-family: 'Museo Sans (500)';
	margin-bottom: 25px;
}
.twitter-step_elydna > .twitter-auth-button_h10z4a {
	width: 350px;
	height: 70px;
	margin: 0 auto;
	font-size: 16pt;
}
.twitter-step_elydna > .button_ovrlmi {
	margin-top: 25px;
}