
@font-face {
	font-family: 'Cambria (Bold)';
	src: url('/fonts/cambria-bold.ttf');
}
@font-face {
	font-family: 'Cambria (Regular)';
	src: url('/fonts/cambria-regular.ttf');
}
@font-face {
	font-family: 'Museo Sans (100)';
	src: url('/fonts/museo-sans-100.ttf');
}
@font-face {
	font-family: 'Museo Sans (300)';
	src: url('/fonts/museo-sans-300.ttf');
}
@font-face {
	font-family: 'Museo Sans (500)';
	src: url('/fonts/museo-sans-500.ttf');
}
@font-face {
	font-family: 'Museo Sans (700)';
	src: url('/fonts/museo-sans-700.ttf');
}
@font-face {
	font-family: 'Museo Sans (900)';
	src: url('/fonts/museo-sans-900.ttf');
}

.heading-small {
    font-family: 'Cambria (Bold)', sans-serif;
    font-size: 24px;
}

// current panel h2 heading
// .panel_zd0n2d > .content > h2
// font-family: "Museo Sans (700)";
// font-size: 20pt;
// text-align: center;

.heading-regular {
    font-family: 'Cambria (Bold)', sans-serif;
    font-size: 36px;
}

.heading-display {
    font-family: 'Cambria (Bold)', sans-serif;
    font-size: 44px;
}

.preheading {
    font-family: 'Museo Sans (700)';
    font-size: 14px;
	text-transform: uppercase;
}