/*
Establish a universal line-height.
*/
html {
	line-height: 1.15;
}
/*
Reset block level elements + body.
https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
*/
address, article, aside, blockquote, body, dd, details, dialog, div, dl, dt,
fieldset, figcaption, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, li, main, nav, ol, p, pre, section, table, ul {
	border: none;
	padding: 0;
	margin: 0;
}
/*
Reset font weights and size.
*/
big, h1, h2, h3, h4, h5, h6, small, strong, sub, sup, th {
	font-weight: normal;
	font-size: inherit;
}
/*
Reset list styles.
*/
ol, ul {
	list-style: none;
}
/*
Reset table borders.
*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
Reset form controls.
*/
button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}