/*
	componentPath: src/app/common/components/controls/comments/CommentBox
	cssComponentId: comment-box_kaqbc2
*/

.comment-box_kaqbc2 {
	text-align: right;
	max-width: 600px;
	margin: 0 auto;
}
.comment-box_kaqbc2 > textarea {
	box-sizing: border-box;
	width: 100%;
	height: 64px;
	padding: 5px;
	margin-bottom: 5px;
	font-family: inherit;
	border: 1px solid silver;
	outline: none;
	transition: width 250ms, height 250ms;
}
.comment-box_kaqbc2 > textarea.expanded {
	height: 130px;
}
.comment-box_kaqbc2 > textarea.resizing {
	transition: none;
}
.comment-box_kaqbc2 > textarea::placeholder {
	position: relative;
	top: 3px;
	color: lightgray;
	font-style: italic;
	text-indent: 5px;
}
.comment-box_kaqbc2 > textarea:focus::placeholder {
	visibility: hidden;
}
.comment-box_kaqbc2 > .comment-warning {
	display: block;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 2px;
	margin-bottom: 3px;
}
.comment-box_kaqbc2 > .comment-warning > a {
	color: white;
	cursor: pointer;
	text-decoration: underline;
}
.comment-box_kaqbc2 > .button_ovrlmi:not(:last-child) {
	margin-right: (8 + 6) + px;
}