.comment-box {
	text-align: right;
	max-width: 600px;
}
.comment-box > textarea {
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	padding: 5px;
	margin-bottom: 5px;
	font-family: inherit;
	border: 1px solid silver;
	outline: none;
	transition: width 250ms, height 250ms;
}
.comment-box > textarea.expanded {
	height: 130px;
}
.comment-box > textarea.resizing {
	transition: none;
}
.comment-box > textarea::placeholder {
	position: relative;
	top: 3px;
	color: lightgray;
	font-style: italic;
	text-indent: 5px;
}
.comment-box > textarea:focus::placeholder {
	visibility: hidden;
}
.comment-box > .comment-warning {
	display: block;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 2px;
	margin-bottom: 3px;
}
.comment-box > .comment-warning > a {
	color: white;
	cursor: pointer;
	text-decoration: underline;
}
.comment-box > .button:last-child {
	margin-left: (8 + 6) + px;
}