/*
  componentPath: src/app/common/components/AppRoot/AuthScreen/Button
  cssComponentId: button_vp905n
*/

.button_vp905n {
	background-color: white;
	border: 2px solid black;
	text-transform: uppercase;
	font-weight: bold;
	height: 34px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button_vp905n[disabled] {
	color: silver;
	border-color: silver;
}
.button_vp905n.loud {
	background-color: black;
	color: white;
}
.button_vp905n > .icon,
.button_vp905n > .spinner {
	top: 0;
	margin: 0 5px;
}
.button_vp905n > .icon:last-child,
.button_vp905n > .spinner:last-child {
	visibility: hidden;
}