/*
	componentPath: src/app/common/components/AppRoot/AuthScreen/Button
	cssComponentId: button_vp905n
*/

.button_vp905n {
	display: flex;
	padding: 18px 30px;
	width: 80%;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	color: #2A2326;
	font-family: 'Museo Sans (700)';
	font-size: 16pt;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.button_vp905n[disabled] {
	color: silver;
	border-color: silver;
}
.button_vp905n.loud {
	background-color: #2A2326;
	color: white;
}
.button_vp905n > .icon_rour3d,
.button_vp905n > .spinner_4hkqd5 {
	top: 0;
	margin: 0 5px;
}
.button_vp905n > .icon_rour3d:last-child,
.button_vp905n > .spinner_4hkqd5:last-child {
	visibility: hidden;
}