.create-account-card > strong {
	display: block;
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
}
.create-account-card > .app-screen-button {
	margin-top: 10px;
}
.create-account-card > .cancel-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.create-account-card > .cancel-container > .action-link {
	color: silver;
}