.create-account-card > strong {
	display: block;
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
}
.create-account-card > .form-field:not(:last-of-type) {
	margin-bottom: 10px;
}
.create-account-card > .form-field > .field-container > .input-control > input {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 15px;
}
.create-account-card > .button_vp905n {
	margin-top: 15px;
}
.create-account-card > .action-link {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	color: #666;
}