/*
	componentPath: src/app/common/components/AppRoot/AuthScreen/CreateAccountCard
	cssComponentId: create-account-card_fr4krd
*/

.create-account-card_fr4krd > .form-field_8ey399:not(:last-of-type) {
	margin-bottom: 10px;
}
.create-account-card_fr4krd > .form-field_8ey399 > .field-container > .input-control_dua9vb > input {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 15px;
}
.create-account-card_fr4krd > .button_vp905n {
	margin-top: 15px;
}
.create-account-card_fr4krd > .action-link_ftamt8 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	color: #666;
}