/*
	componentPath: src/app/common/components/subscriptionsDialogs/PaymentEntryStep
	cssComponentId: payment-entry-step_w0p5nn
*/

.payment-entry-step_w0p5nn > .stripe-credit-card-form_128q5i > .price-selection-summary_8w3t0z {
	margin-bottom: 20px;
}