/*
	componentPath: src/app/common/components/subscriptionsDialogs/PriceSelectionSummary
	cssComponentId: price-selection-summary_8w3t0z
*/

.price-selection-summary_8w3t0z > .title {
	font-family: 'Museo Sans (700)';
	margin-bottom: 5px;
}
.price-selection-summary_8w3t0z > .name {
	margin-bottom: 5px;
}
.price-selection-summary_8w3t0z > .action-link_ftamt8 {
	margin-top: 5px;
	font-size: 11pt;
	color: var(--text-muted-color);
}