/*
	componentPath: src/app/common/components/StripeSubscriptionPrompt/ContinueStep
	cssComponentId: continue-step_dzecha
*/

.continue-step_dzecha {
	text-align: center;
}
.continue-step_dzecha > .message {
	margin-bottom: 10px;
}