/*
	componentPath: src/app/common/components/AdminPage/RevenueReport
	cssComponentId: revenue-report_tbgqil
*/

.revenue-report_tbgqil > table {
	width: 100%;
	background-color: var(--content-background-color);
}
.revenue-report_tbgqil > table > caption {
	background-color: var(--content-background-color);
}
.revenue-report_tbgqil > table > caption > .content {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: var(--content-divider-color);
}
.revenue-report_tbgqil > table > caption > .content > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}
.revenue-report_tbgqil > table > caption > .content > .header > form {
	display: flex;
	align-items: center;
}
.revenue-report_tbgqil > table > caption > .content > .header > form > .input-control_k7j7i9 {
	max-width: 200px;
	margin-right: 5px;
}
.revenue-report_tbgqil > table > caption > .content > .chart {
	padding: 10px;
	border-top: 1px solid var(--content-divider-color);
}
.revenue-report_tbgqil > table th,
.revenue-report_tbgqil > table td {
	padding: 5px;
	border: 1px solid var(--content-divider-color);
}
.revenue-report_tbgqil > table th,
.revenue-report_tbgqil > table td.align-center,
.revenue-report_tbgqil > table td[colspan] {
	text-align: center;
}
.revenue-report_tbgqil > table tfoot th,
.revenue-report_tbgqil > table .align-right {
	text-align: right;
}
.revenue-report_tbgqil > table th,
.revenue-report_tbgqil > table td:not(.null) strong {
	font-family: 'Museo Sans (500)';
}
.revenue-report_tbgqil > table td.null {
	color: var(--text-muted-color);
}