/*
	componentPath: src/extension/content-script/user-interface/components/Logo
	cssComponentId: logo_hcvv7x
*/

.logo_hcvv7x {
	margin-bottom: 10px;
}
.logo_hcvv7x > img[alt="logo"] {
	display: block;
	width: 50px;
	margin: 0 auto;
}