/*
	componentPath: src/app/common/components/controls/articles/AotdView
	cssComponentId: aotd-view_hgax0h
*/
@import '../../../../../common/styles/colors';

.aotd-view_hgax0h > .section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.aotd-view_hgax0h > .section-header > label {
	font-size: 17pt;
	font-family: 'Museo Sans (500)';
}
.aotd-view_hgax0h > .aotd > .controls {
	margin-top: 20px;
	text-align: center;
}
.aotd-view_hgax0h > .separator {
	width: 80%;
	margin: 20px auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.aotd-view_hgax0h > .loading-overlay_zfgtd1 {
	margin: 20px 0;
}

@include theme using ($root, $scheme) {
	#{$root} .aotd-view_hgax0h > .separator {
		@include theme-colors(
			$scheme,
			(
				"border-bottom-color": $content-border-color
			)
		);
	}
}