/*
	componentPath: src/app/common/components/controls/articles/AotdMetadata
	cssComponentId: aotd-metadata_3itnfw
*/

.aotd-metadata_3itnfw {
	position: relative;
	padding: 3px 0;
}
.aotd-metadata_3itnfw > .rank {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	top: -2px;
	left: -3px;
	width: 30px;
	height: 30px;
	background-color: white;
	border: 1px solid #2A2326;
	border-radius: 15px;
	font-family: 'Museo Sans (500)';
	font-size: 14pt;
}
.aotd-metadata_3itnfw > .rank.length-2 {
	font-size: 12pt;
}
.aotd-metadata_3itnfw > .rank.length-3 {
	font-size: 8pt;
}
.aotd-metadata_3itnfw > .rank.length-4 {
	font-size: 6pt;
}
.aotd-metadata_3itnfw > .rank > small {
	font-size: 8pt;
	margin-right: 1px;
}
.aotd-metadata_3itnfw > .score {
	font-size: 11pt;
}
.aotd-metadata_3itnfw > .rank + .score {
	margin-left: 34px;
}