/*
	componentPath: src/app/common/components/controls/articles/HotTopicsList
	cssComponentId: hot-topics-list_4aaj4s
*/

.hot-topics-list_4aaj4s {
	position: relative;
}
.hot-topics-list_4aaj4s > .aotd > h3 {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hot-topics-list_4aaj4s > .aotd > h3 > .icon:first-child {
	margin-right: 9px;
}
.hot-topics-list_4aaj4s > .aotd > h3 > .icon:last-child {
	margin-left: 9px;
}
.hot-topics-list_4aaj4s > .aotd > .article-details {
	border-width: 3px;
	border-color: #666;
}
.hot-topics-list_4aaj4s > .aotd > hr {
	margin: 15px auto;
	width: 75%;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: silver;
}