/*
	componentPath: src/app/common/components/controls/articles/PointsCallout
	cssComponentId: points-callout_ksplby
*/

.callout_k8z57c.points-callout_ksplby > .ellipse {
	top: -6px;
	right: -6px;
	bottom: -5px;
	left: -6px;
	border-width: 3px;
	border-radius: 44%;
}
.callout_k8z57c.points-callout_ksplby > .note {
	font-size: 11pt;
}

/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 70,
         "y": -3
      },
      "src": {
         "x": -5,
         "y": 25
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -6
      }
   },
   "note": {
      "pos": {
         "x": 153,
         "y": -76
      },
      "width": 100
   },
   "selector": ".callout_k8z57c.points-callout_ksplby"
}
**/
.callout_k8z57c.points-callout_ksplby > .arrow {
   top: -3px;
   left: 70px;
   border-width: 3px;
   font-size: 126.52px;
   transform-origin: 20.47px 20.47px;
   transform: translate(-20.47px, -20.47px) rotate(-0.55rad);
}
.callout_k8z57c.points-callout_ksplby > .arrow::before,
.callout_k8z57c.points-callout_ksplby > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.points-callout_ksplby > .arrow::before {
   transform: translate(17.47px, 15.97px) rotate(-73.5deg);
}
.callout_k8z57c.points-callout_ksplby > .arrow::after {
   transform: translate(17.47px, 15.97px) rotate(-6deg);
}
.callout_k8z57c.points-callout_ksplby > .note {
   top: -76px;
   left: 153px;
   width: 100px;
}

@media (min-width: 375px) {
/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 70,
         "y": -3
      },
      "src": {
         "x": -5,
         "y": 25
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -6
      }
   },
   "note": {
      "pos": {
         "x": 207,
         "y": -76
      },
      "width": 100
   },
   "selector": ".callout_k8z57c.points-callout_ksplby"
}
**/
.callout_k8z57c.points-callout_ksplby > .arrow {
   top: -3px;
   left: 70px;
   border-width: 3px;
   font-size: 195.64px;
   transform-origin: 30.59px 30.59px;
   transform: translate(-30.59px, -30.59px) rotate(-0.35rad);
}
.callout_k8z57c.points-callout_ksplby > .arrow::before,
.callout_k8z57c.points-callout_ksplby > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.points-callout_ksplby > .arrow::before {
   transform: translate(27.59px, 26.09px) rotate(-73.5deg);
}
.callout_k8z57c.points-callout_ksplby > .arrow::after {
   transform: translate(27.59px, 26.09px) rotate(-6deg);
}
.callout_k8z57c.points-callout_ksplby > .note {
   top: -76px;
   left: 207px;
   width: 100px;
}
}

@media (min-width: 450px) {
.callout_k8z57c.points-callout_ksplby > .note {
	font-size: 13pt;
}
/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 70,
         "y": -3
      },
      "src": {
         "x": -5,
         "y": 25
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -6
      }
   },
   "note": {
      "pos": {
         "x": 203,
         "y": -94
      },
      "width": 140
   },
   "selector": ".callout_k8z57c.points-callout_ksplby"
}
**/
.callout_k8z57c.points-callout_ksplby > .arrow {
   top: -3px;
   left: 70px;
   border-width: 3px;
   font-size: 200.67px;
   transform-origin: 31.33px 31.33px;
   transform: translate(-31.33px, -31.33px) rotate(-0.48rad);
}
.callout_k8z57c.points-callout_ksplby > .arrow::before,
.callout_k8z57c.points-callout_ksplby > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.points-callout_ksplby > .arrow::before {
   transform: translate(28.33px, 26.83px) rotate(-73.5deg);
}
.callout_k8z57c.points-callout_ksplby > .arrow::after {
   transform: translate(28.33px, 26.83px) rotate(-6deg);
}
.callout_k8z57c.points-callout_ksplby > .note {
   top: -94px;
   left: 203px;
   width: 140px;
}
}