/*
	componentPath: src/app/common/components/controls/articles/RankCallout
	cssComponentId: rank-callout_9oonk9
*/

.callout_k8z57c.rank-callout_9oonk9 > .ellipse {
	top: -6px;
	right: -6px;
	bottom: -5px;
	left: -6px;
	border-width: 3px;
}
.callout_k8z57c.rank-callout_9oonk9 > .note {
	font-family: 'Museo Sans (300)';
	font-size: 11pt;
}

/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 28,
         "y": -5
      },
      "src": {
         "x": -5,
         "y": 20
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -6
      }
   },
   "note": {
      "pos": {
         "x": 112,
         "y": -71
      },
      "width": 181
   },
   "selector": ".callout_k8z57c.rank-callout_9oonk9"
}
**/
.callout_k8z57c.rank-callout_9oonk9 > .arrow {
   top: -5px;
   left: 28px;
   border-width: 3px;
   font-size: 126.28px;
   transform-origin: 20.43px 20.43px;
   transform: translate(-20.43px, -20.43px) rotate(-0.53rad);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before,
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before {
   transform: translate(17.43px, 15.93px) rotate(-73.5deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   transform: translate(17.43px, 15.93px) rotate(-6deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .note {
   top: -71px;
   left: 112px;
   width: 181px;
}

@media (min-width: 375px) {
/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 28,
         "y": -5
      },
      "src": {
         "x": -5,
         "y": 20
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -6
      }
   },
   "note": {
      "pos": {
         "x": 164,
         "y": -74
      },
      "width": 181
   },
   "selector": ".callout_k8z57c.rank-callout_9oonk9"
}
**/
.callout_k8z57c.rank-callout_9oonk9 > .arrow {
   top: -5px;
   left: 28px;
   border-width: 3px;
   font-size: 194.80px;
   transform-origin: 30.47px 30.47px;
   transform: translate(-30.47px, -30.47px) rotate(-0.36rad);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before,
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before {
   transform: translate(27.47px, 25.97px) rotate(-73.5deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   transform: translate(27.47px, 25.97px) rotate(-6deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .note {
   top: -74px;
   left: 164px;
   width: 181px;
}
}

@media (min-width: 420px) {
/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 28,
         "y": -5
      },
      "src": {
         "x": -5,
         "y": 20
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -6
      }
   },
   "note": {
      "pos": {
         "x": 206,
         "y": -71
      },
      "width": 181
   },
   "selector": ".callout_k8z57c.rank-callout_9oonk9"
}
**/
.callout_k8z57c.rank-callout_9oonk9 > .arrow {
   top: -5px;
   left: 28px;
   border-width: 3px;
   font-size: 250.16px;
   transform-origin: 38.57px 38.57px;
   transform: translate(-38.57px, -38.57px) rotate(-0.26rad);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before,
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before {
   transform: translate(35.57px, 34.07px) rotate(-73.5deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   transform: translate(35.57px, 34.07px) rotate(-6deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .note {
   top: -71px;
   left: 206px;
   width: 181px;
}
}

@media (min-width: 550px) {
.callout_k8z57c.rank-callout_9oonk9 > .note {
	font-size: 13pt;
}
/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 28,
         "y": -5
      },
      "src": {
         "x": -5,
         "y": 20
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -6
      }
   },
   "note": {
      "pos": {
         "x": 294,
         "y": -62
      },
      "width": 216
   },
   "selector": ".callout_k8z57c.rank-callout_9oonk9"
}
**/
.callout_k8z57c.rank-callout_9oonk9 > .arrow {
   top: -5px;
   left: 28px;
   border-width: 3px;
   font-size: 369.80px;
   transform-origin: 56.10px 56.10px;
   transform: translate(-56.10px, -56.10px) rotate(-0.14rad);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before,
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before {
   transform: translate(53.10px, 51.60px) rotate(-73.5deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   transform: translate(53.10px, 51.60px) rotate(-6deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .note {
   top: -62px;
   left: 294px;
   width: 216px;
}
}

@media (min-width: 845px) {
/**
created using css-callout with params:
{
   "arrow": {
      "dst": {
         "x": 28,
         "y": -5
      },
      "src": {
         "x": -5,
         "y": 20
      },
      "width": 3,
      "point": {
         "length": 18,
         "rotation": -10
      }
   },
   "note": {
      "pos": {
         "x": 92,
         "y": -89
      },
      "width": 216
   },
   "selector": ".callout_k8z57c.rank-callout_9oonk9"
}
**/
.callout_k8z57c.rank-callout_9oonk9 > .arrow {
   top: -5px;
   left: 28px;
   border-width: 3px;
   font-size: 120.10px;
   transform-origin: 19.53px 19.53px;
   transform: translate(-19.53px, -19.53px) rotate(-0.83rad);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before,
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   width: 18px;
   height: 3px;
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::before {
   transform: translate(16.53px, 15.030000000000001px) rotate(-77.5deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .arrow::after {
   transform: translate(16.53px, 15.030000000000001px) rotate(-10deg);
}
.callout_k8z57c.rank-callout_9oonk9 > .note {
   top: -89px;
   left: 92px;
   width: 216px;
}
}