@import '../../../common/styles/colors';

@font-face {
	font-family: 'Cambria (Bold)';
	src: url('/fonts/cambria-bold.ttf');
}
@font-face {
	font-family: 'Cambria (Regular)';
	src: url('/fonts/cambria-regular.ttf');
}
@font-face {
	font-family: 'Museo Sans (100)';
	src: url('/fonts/museo-sans-100.ttf');
}
@font-face {
	font-family: 'Museo Sans (300)';
	src: url('/fonts/museo-sans-300.ttf');
}
@font-face {
	font-family: 'Museo Sans (500)';
	src: url('/fonts/museo-sans-500.ttf');
}
@font-face {
	font-family: 'Museo Sans (700)';
	src: url('/fonts/museo-sans-700.ttf');
}
@font-face {
	font-family: 'Museo Sans (900)';
	src: url('/fonts/museo-sans-900.ttf');
}

#com_readup_embed {
	max-width: 640px;
	padding: 0 10px;
	margin: 2em auto 0 auto;
	font-family: 'Museo Sans (300)';
	font-size: 13pt;
	line-height: 1.15;
	overflow: hidden;
}
#com_readup_embed a,
#com_readup_embed button,
#com_readup_embed div,
#com_readup_embed span,
#com_readup_embed svg {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#com_readup_embed a {
	color: inherit;
}

@include theme using ($root, $scheme) {
	#{$root} #com_readup_embed {
		@include theme-colors(
			$scheme,
			(
				"color": $text-color
			)
		);
	}
}