@font-face {
  font-family: 'Bitter';
  src: url('./fonts/Bitter-Regular.ttf');
}
html {
  height: 100%;
  background-color: ghostwhite;
  line-height: 1.2;
}
#root {
	padding: 5px;
}
button {
	font-family: inherit;
}
a {
	color: black;
}