@font-face {
  font-family: 'Bitter';
  src: url('./fonts/Bitter-Regular.ttf');
}
html {
  height: 100%;
  background-image: url('./images/marble.jpg');
  background-attachment: fixed;
  background-size: cover;
}
#root {
	padding: 5px;
}