/*
	componentPath: src/common/components/Dialog/DialogSpinner
	cssComponentId: dialog-spinner_xikxn5
*/

.dialog-spinner_xikxn5 {
	text-align: center;
}
.dialog-spinner_xikxn5 > .message {
	margin-bottom: 20px;
}