/*
        componentPath: src/app/common/components/BrowserRoot/TeamPage/Profile
        cssComponentId: profile_m7zor
*/

@import '../../../../../src/common/styles/breakpoints.scss';


$tablet-up-margin-title-intro: 2.6rem;

.profile_m7zor {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	max-width: 400px;


	@include from(tablet-portrait) {
		flex-direction: column;
	}

	.name {
		font-size: 1.4rem;
		grid-area: name;
		font-family: 'Cambria (Bold)', serif;
		font-weight: 700;
		font-size: 1.6rem;
	}

	.picture {
		margin-bottom: 1rem;
	}

	@include only(phone) {
		.name::after {
			content: "|";
			display: none;
		}

	}

	.picture {
		grid-area: picture;
		border-radius: 100%;
		object-fit: cover;
		max-width: 38vw;
		width: 160px;
		min-width: 120px;
		min-height: 120px;
		margin-right: 1rem;

		@include from(tablet-portrait) {
			margin-right: unset;
		}
	}

	.details {
		display: flex;
		flex-direction: column;
		justify-content: center;


		text-align: flex-start;
		@include from(tablet-portrait) {
			text-align: center;
		}

		> *:not(:last-child) {
			margin-bottom: 0.75rem;
		}

	}
 }
