/*
	componentPath: src/extension/content-scripts/reader/components/Global
	cssComponentId: global_x82v08
*/
@import '../../../../common/styles/colors';

.global_x82v08.error {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@include theme using ($root, $scheme) {
	#{$root} .global_x82v08.error {
		@include theme-colors(
			$scheme,
			(
				'background': $overlay-color,
			)
		);
	}
}
