/*
	componentPath: src/extension/content-scripts/reader/components/Logo
	cssComponentId: logo_qkctsa
*/

.logo_qkctsa {
	margin-bottom: 20px;
}
.logo_qkctsa > img[alt="logo"] {
	display: block;
	width: 70px;
	margin: 0 auto;
}