/*
	componentPath: src/extension/content-scripts/reader/components/Title
	cssComponentId: title_35dbqk
*/

.title_35dbqk > .fetchable {
	display: flex;
	position: relative;
	opacity: 0;
}
.title_35dbqk > .fetchable.loaded {
	animation: title_35dbqk-fade-in 250ms forwards;
}
.title_35dbqk > .fetchable > .aotd-rank_tqv709 {
	position: absolute;
	top: -7px;
}
.title_35dbqk > .fetchable > .aotd-score_ndfcug {
	margin-left: 38px;
}
.title_35dbqk > .fetchable > .comments {
	margin-left: 15px;
}
.title_35dbqk > .title {
	font-family: 'Cambria (bold)';
	font-size: 26pt;
	margin-top: 0.35em;
}
.title_35dbqk > .title > .star {
	float: right;
	font-size: 22pt;
	margin-left: 5px;
	opacity: 0;
}
.title_35dbqk > .title > .star.loaded {
	animation: title_35dbqk-fade-in 250ms forwards;
}
.title_35dbqk > .byline,
.title_35dbqk > .length {
	font-size: 16pt;
	font-style: italic;
	margin-top: 0.75em;
}
.title_35dbqk > .length > .value {
	position: relative;
}
.title_35dbqk > .length > .value > .debug-left {
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
}
.title_35dbqk > .length > .value > .debug-right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
}

@keyframes title_35dbqk-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
