.about-page {
	max-width: 600px;
	margin: 0 auto;
}
.about-page > .heading {
	font-size: 28px;
}
.about-page > p {
	margin: 15px 0;
	overflow: hidden;
}
.about-page > p:last-child {
	margin-bottom: none;
}
.about-page > p > img {
	float: left;
	width: 120px;
	margin-right: 10px;
}
.about-page > p > strong {
	display: block;
	margin-bottom: 5px;
}