.article-details {
	.title > a {
		color: blue;
		text-decoration: underline;
	}
	.title > .word-count {
		color: darkgray;
		font-size: 12px;
		margin: 0 3px;
		white-space: nowrap;
	}
	.title > .tag {
		white-space: nowrap;
		margin: 0 1px;
		color: lightgray;
		border: 1px dotted lightgray;
		border-radius: 3px;
		padding: 0 1px;
	}
	.title > .tag:first-of-type {
		margin-left: 3px;
	}
	.description {
		display: block;
		font-size: 11px;
		color: lightblue;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 1px;
	}
	.date-published {
		color: hotpink;
	}
	.source {
		color: mediumorchid;
	}
	.comment-count > a {
		color: magenta;
	}
	.percent-complete {
		color: salmon
	}
	.percent-complete.unlocked {
		color: springgreen
	}
}