.article-details {
	display: flex;
	border: 1px solid #666;
	border-radius: 5px;
	overflow: hidden;
	.content {
		flex: 1 1 auto;
		padding: 5px;
		overflow: hidden;
	}
	.content.with-controls {
		padding-right: 0;
		border-right: 3px double #666;
	}
	.title {
		white-space: nowrap;
		overflow: hidden;
	}
	.title > a {
		color: blue;
		text-decoration: underline;
	}
	.title > .word-count {
		color: darkgray;
		font-size: 12px;
		margin: 0 3px;
		white-space: nowrap;
	}
	.title > .tag {
		display: inline-block;
		white-space: nowrap;
		margin: 0 1px;
		color: lightgray;
		border: 1px dotted lightgray;
		border-radius: 3px;
		padding: 0 1px;
	}
	.title > .tag:first-of-type {
		margin-left: 3px;
	}
	.description {
		display: block;
		font-size: 11px;
		color: skyblue;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 1px 0;
	}
	.date-published {
		color: hotpink;
	}
	.source {
		color: mediumorchid;
	}
	.percent-complete {
		color: salmon
	}
	.percent-complete.unlocked {
		color: springgreen
	}
	.controls {
		flex: 0 0 auto;
		width: 35px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		cursor: pointer;
	}
	.controls:active {
		color: white;
		background-color: black;
	}
}