/*
	componentPath: src/app/common/components/BrowserRoot
	cssComponentId: browser-root_6tjc3j
*/

.browser-root_6tjc3j {
	height: 100%;
	display: flex;
	flex-flow: column;
}
.browser-root_6tjc3j > .redirect-banner {
	flex: 0 0 auto;
	background-color: #2A2326;
	color: white;
	font-family: 'Cambria (Regular)';
	font-size: 18pt;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.browser-root_6tjc3j > .redirect-banner > .icon {
	cursor: pointer;
	position: absolute;
	right: 12px;
	font-size: 20px;
}
.browser-root_6tjc3j > main {
	flex: 1 1 auto;
	display: flex;
	overflow: hidden;
}
.browser-root_6tjc3j > main > .screens {
	flex: 1 1 auto;
	overflow: hidden;
	position: relative;
}
.browser-root_6tjc3j > main > .screens > .screen {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	background-color: #F7F6F5;
	z-index: 1;
}