.browser-root {
	font-family: 'Bitter';
	font-size: 13px;
	letter-spacing: 0.02em;
	height: 100%;
	background-color: ghostwhite;
	display: flex;
	flex-flow: column;
}
.browser-root > .email-confirmation-bar {
	flex: 0 0 auto;
}
.browser-root > .browser-header {
	flex: 0 0 auto;
}
.browser-root > main {
	flex: 1 1 auto;
	display: flex;
}
.browser-root > main > .browser-nav {
	flex: 0 0 auto;
}
.browser-root > main > .screen {
	flex: 1 1 auto;
	overflow: auto;
	padding: 20px;
}