$button-height: 26;
$bevel-height: 6;
$bevel-width: 6;
$border-color: #000;
$disabled-border-color: #ccc;

@mixin end-cap($width) {
	content: "";
	display: block;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	height: 100%;
	border-width: ($width + px) 0;
	border-style: solid;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
@mixin end-cap-left($width, $color) {
	left: (-$width) + px;
	border-right-width: $width + px;
	border-right-color: $color;
}
@mixin end-cap-right($width, $color) {
	right: (-$width) + px;
	border-left-width: $width + px;
	border-left-color: $color;
}

.button {
    display: inline-block;
    position: relative;
	z-index: 1;
    padding: 1px 0;
    margin: 0 ($bevel-width + px);
    border-width: 0;
    font-family: monospace;
    font-size: 13px;
	background-color: $border-color;
    cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	.content {
		position: relative;
		z-index: 4;
    	height: ($button-height - 2) + px;
		line-height: ($button-height - 2) + px;
		background-color: #fff;
	}
	.content::before,
	.content::after { @include end-cap($bevel-height - 1); }
	.content::before { @include end-cap-left($bevel-width - 1, #fff); }
	.content::after { @include end-cap-right($bevel-width - 1, #fff); }
}
.button::before,
.button::after { @include end-cap($bevel-height); }
.button::before { @include end-cap-left($bevel-width, $border-color); }
.button::after { @include end-cap-right($bevel-width, $border-color); }
.button:focus {
	outline: none;
	text-decoration: underline;
}
.button:not(.disabled):active {
	.content {
		background-color: #000;
		color: #fff;
	}
	.content::before { border-right-color: #000; }
	.content::after { border-left-color: #000; }
}

.button.preferred {
	font-weight: bold;
	margin: 0 (($bevel-width + 2) + px);
	.inner-wrap {
		position: relative;
		z-index: 2;
		padding: 1px 0;
		background-color: $border-color;
	}
	.inner-wrap::before,
	.inner-wrap::after { @include end-cap($bevel-height); }
	.inner-wrap::before { @include end-cap-left($bevel-width, $border-color); }
	.inner-wrap::after { @include end-cap-right($bevel-width, $border-color); }
	.outer-wrap {
		position: relative;
		z-index: 3;
		padding: 1px 0;
		background-color: #fff;
	}
	.outer-wrap::before,
	.outer-wrap::after { @include end-cap($bevel-height + 1); }
	.outer-wrap::before { @include end-cap-left($bevel-width + 1, #fff); }
	.outer-wrap::after { @include end-cap-right($bevel-width + 1, #fff); }
}
.button.preferred::before,
.button.preferred::after { @include end-cap($bevel-height + 2); }
.button.preferred::before { @include end-cap-left($bevel-width + 2, $border-color); }
.button.preferred::after { @include end-cap-right($bevel-width + 2, $border-color); }
.button.preferred:not(.disabled):active {
	.outer-wrap { background-color: #000; }
	.outer-wrap::before,
	.outer-wrap::after { @include end-cap($bevel-height + 1); }
	.outer-wrap::before { @include end-cap-left($bevel-width + 1, #000); }
	.outer-wrap::after { @include end-cap-right($bevel-width + 1, #000); }
}

.button.disabled {
	cursor: default;
	color: #ccc;
	background-color: $disabled-border-color;
}
.button.disabled::before,
.button.disabled::after { @include end-cap($bevel-height); }
.button.disabled::before { @include end-cap-left($bevel-width, $disabled-border-color); }
.button.disabled::after { @include end-cap-right($bevel-width, $disabled-border-color); }

.button.preferred.disabled {
	.inner-wrap { background-color: $disabled-border-color; }
	.inner-wrap::before,
	.inner-wrap::after { @include end-cap($bevel-height); }
	.inner-wrap::before { @include end-cap-left($bevel-width, $disabled-border-color); }
	.inner-wrap::after { @include end-cap-right($bevel-width, $disabled-border-color); }
}
.button.preferred.disabled::before,
.button.preferred.disabled::after { @include end-cap($bevel-height + 2); }
.button.preferred.disabled::before { @include end-cap-left($bevel-width + 2, $disabled-border-color); }
.button.preferred.disabled::after { @include end-cap-right($bevel-width + 2, $disabled-border-color); }

.button.busy {
	.loading {
		position: absolute;
		bottom: -1px;
		left: 50%;
		transform: translateX(-50%);
		line-height: normal;
		text-align: left;
	}
	.loading::before {
		content: "...";
  		visibility: hidden;
	}
	.loading::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		animation: button-ellipsis 750ms steps(1) infinite;
	}
}

@keyframes button-ellipsis {
	0% { content: ""; }
	16% { content: "."; }
	32% { content: ".."; }
	50% { content: "..."; }
	68% { content: ".."; text-align: right; }
	84% { content: "."; text-align: right; }
	100% { content: ""; }
}