.comment-box {
    text-align: right;
    max-width: 400px;
}
.comment-box > textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    resize: vertical;
    font-family: serif;
    font-size: 16px;
}
.comment-box > .button:last-child {
    margin-left: (8 + 6) + px;
}