.comment-details {
	margin: 5px 0;
}
.comment-details.unread {
	border-left: 4px solid gold;
	padding-left: 6px;
}
.comment-details.highlight {
	outline: 4px solid gold;
}
.comment-details > .article-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	font-style: italic;
	color: darkviolet;
}
.comment-details > .article-title::before {
	content: "Re: ";
}
.comment-details > .title {
	color: darkgray;
	border-bottom: 1px solid lavender;
	background-color: whitesmoke;
	padding: 0 3px;
}
.comment-details > .text {
	font-family: serif;
	font-size: 16px;
	padding: 3px 3px 0 3px;
	max-width: 600px;
}
.comment-details > .text.preview {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.comment-details > .action-link {
	color: darkgray;
}
.comment-details > .action-link:hover {
	color: black;
}
.comment-details > .comment-list {
	padding-left: 20px;
	border-left: 1px dotted darkgray;
}