.comment-details {
    margin: 5px 0;
}
.comment-details > .article-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-style: italic;
    color: darkviolet;
}
.comment-details > .article-title::before {
    content: "Re: ";
}
.comment-details > .title {
    color: dimgray;
    border-bottom: 1px dashed lightgray;
}
.comment-details > .text {
    font-family: serif;
    font-size: 16px;
    margin: 3px 0 0 0;
    max-width: 600px;
}
.comment-details > .link {
    color: darkgray;
    text-decoration: underline;
    cursor: pointer;
}
.comment-details > .link:hover {
    color: black;
}
.comment-details > .comment-list {
    padding-left: 20px;
}