.comment-box {
    text-align: right;
    max-width: 600px;
}
.comment-box > textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 130px;
    font-family: serif;
    font-size: 16px;
}
.comment-box > .comment-warning {
    display: block;
    text-align: center;
    color: red;
    font-weight: bold;
}
.comment-box > .button:last-child {
    margin-left: (8 + 6) + px;
}