.comment-details {
    width: 400px;
    margin: 5px 0;
}
.comment-details > .title {
    color: dimgray;
    border-bottom: 1px dashed lightgray;
}
.comment-details > .text {
    font-family: serif;
    font-size: 16px;
    margin: 3px 0 0 0;
}
.comment-details > .reply {
    color: darkgray;
    text-decoration: underline;
    cursor: pointer;
}
.comment-details > .reply:hover {
    color: black;
}
.comment-details > .comment-list {
    padding-left: 20px;
}