.copy-page {
	max-width: 600px;
	margin: 0 auto;
}
.copy-page > section:not(:last-of-type)::after {
	content: "...";
	display: block;
	text-align: center;
	margin: 10px 0;
	letter-spacing: 1em;
}
.copy-page > p,
.copy-page > section > p {
	margin: 15px 0;
}
.copy-page > p:first-of-type,
.copy-page > section:first-of-type > p {
	margin-top: 0;
}
.copy-page > p:last-of-type,
.copy-page > section:last-of-type > p {
	margin-bottom: 0;
}
.copy-page > ul,
.copy-page > section > ul {
	list-style: disc;
	padding-left: 1.5em;
	margin-top: 5px;
}
.copy-page > p > a,
.copy-page > section > p > a {
	cursor: pointer;
	text-decoration: underline;
}