/*
	componentPath: src/app/common/components/DialogManager
	cssComponentId: dialog-manager_51j1qt
*/

.dialog-manager_51j1qt {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	animation: dialog-manager_51j1qt-overlay-fade-in 250ms forwards;
}
.dialog-manager_51j1qt.closing {
	animation: dialog-manager_51j1qt-overlay-fade-out 250ms forwards;
}
.dialog-manager_51j1qt::before {
	content: "";
	min-height: 10px;
	flex: 1 1 auto;
}
.dialog-manager_51j1qt::after {
	content: "";
	min-height: 10px;
	flex: 3 1 auto;
}

@keyframes dialog-manager_51j1qt-overlay-fade-in {
	from {
		background-color: rgba(0, 0, 0, 0);
	}
	to {
		background-color: rgba(0, 0, 0, 0.3);
	}
}
@keyframes dialog-manager_51j1qt-overlay-fade-out {
	from {
		background-color: rgba(0, 0, 0, 0.3);
	}
	to {
		background-color: rgba(0, 0, 0, 0);
	}
}