.dialog {
    padding: 15px;
	z-index: 1;
	background: #fff;
    border: 7px double #000;
    border-radius: 10px;
	h3 {
		margin-bottom: 15px;
		font-size: 17px;
		text-align: center;
	}
	.buttons {
		margin-top: 15px;
		text-align: right;
		.button:last-child {
			margin-left: (8 + 6) + px; 
		}
	}
}