/*
	componentPath: src/app/common/components/EmailSubscriptionsPage
	cssComponentId: email-subscriptions-page_tqh2pd
*/

.email-subscriptions-page_tqh2pd {
	max-width: 550px;
	margin: 0 auto;
}
.email-subscriptions-page_tqh2pd > .address {
	margin: 10px 0 30px;
	text-align: center;
	font-size: 16pt;
	font-family: 'Museo Sans (500)';	
}