/*
	componentPath: src/app/common/components/EmailConfirmationPage
	cssComponentId: email-confirmation-page_9gvf3g
*/

.email-confirmation-page_9gvf3g {
	text-align: center;
}
.email-confirmation-page_9gvf3g > .success {
	color: green;
}