/*
        componentPath: src/app/common/components/FaqPage
        cssComponentId: faq-page_35vamf
*/

.faq-page_35vamf {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 200px auto auto;
	grid-template-areas:
		"hero hero"
		"sidebar sidebar"
		"questions questions";

	> .hero {
		grid-area: hero;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1 {
			text-align: center;
		}
	}

	> .sidebar {
		grid-area: sidebar;
		line-height: 2;

		h3 {
			font-family: 'Museo Sans (300)';
			font-size: 24px;
		}

		ol {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			> li {
				margin-right: 1.5em;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		@media screen and (min-width: 768px) {
			margin-left: 30px;
			ol {
				display: block;
			}
		}
	}

	> .questions {
		grid-area: questions;
		line-height: 2;

		.question {
			font-size: 20px;
			cursor: pointer;
			> span.icon_rour3d {
				vertical-align: middle;
			}
		}

		.answer {
			display: none;
			&.open {
				display: block;
			}
		}
	}


	@media screen and (min-width: 768px) {

		grid-template-rows: 1fr 2fr;
		grid-template-areas:
			"hero hero"
			"sidebar questions";
	}
}


// .privacy-policy-page_75v4wh {
// 	max-width: 800px;
// 	margin: 0 auto;
// }
// .privacy-policy-page_75v4wh > h2 {
// 	margin: 15px 0;
// 	font-size: 16pt;
// 	font-family: 'Museo Sans (700)';
// 	text-align: center;
// }
// .privacy-policy-page_75v4wh > h3 {
// 	margin: 15px 0;
// 	font-style: italic;
// 	text-align: center;
// }
// .privacy-policy-page_75v4wh > section:not(:last-of-type)::after {
// 	content: "*****";
// 	display: block;
// 	text-align: center;
// 	margin: 10px 0;
// }
// .privacy-policy-page_75v4wh > section > p {
// 	margin: 15px 0;
// }
// .privacy-policy-page_75v4wh > section:first-of-type > p {
// 	margin-top: 0;
// }
// .privacy-policy-page_75v4wh > section:last-of-type > p {
// 	margin-bottom: 0;
// }
// .privacy-policy-page_75v4wh > section ol {
// 	list-style: decimal;
// 	padding-left: 1.5em;
// 	margin: 15px 0;
// }
// .privacy-policy-page_75v4wh > section ol > li {
// 	margin: 5px 0;
// }
// .privacy-policy-page_75v4wh > section ul {
// 	list-style: disc;
// 	padding-left: 1.5em;
// 	margin: 15px 0;
// }
// .privacy-policy-page_75v4wh > section ul > li {
// 	margin: 5px 0;
// }
// .privacy-policy-page_75v4wh > section a {
// 	cursor: pointer;
// 	text-decoration: underline;
// }
// .privacy-policy-page_75v4wh > section b,
// .privacy-policy-page_75v4wh > section strong {
// 	font-family: 'Museo Sans (700)';
// 	font-weight: normal;
// }
// .privacy-policy-page_75v4wh > section em {
// 	font-style: italic;
// }
// .privacy-policy-page_75v4wh > section .underline {
// 	text-decoration: underline;
// }