.hot-topics-page > .hero {
	margin-bottom: 15px;
}
.hot-topics-page > span {
	margin: 7px 0 14px 0;
}
.hot-topics-page > .hot-topics > .aotd > h3 {
	text-align: center;
	padding-bottom: 5px;
}
.hot-topics-page > .hot-topics > .aotd > h3 > .icon:first-child {
	margin-right: 9px;
}
.hot-topics-page > .hot-topics > .aotd > h3 > .icon:last-child {
	margin-left: 9px;
}
.hot-topics-page > .hot-topics > .aotd > hr {
	margin: 16px auto;
	width: 75%;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: silver;
}