.hot-topics-page > .hero {
	margin-bottom: 15px;
}
.hot-topics-page > span {
	margin: 20px 0;
}
.hot-topics-page > .hot-topics > .aotd > h3 {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hot-topics-page > .hot-topics > .aotd > h3 > .icon:first-child {
	margin-right: 9px;
}
.hot-topics-page > .hot-topics > .aotd > h3 > .icon:last-child {
	margin-left: 9px;
}
.hot-topics-page > .hot-topics > .aotd > .article-details {
	border-width: 3px;
	border-color: #666;
}
.hot-topics-page > .hot-topics > .aotd > hr {
	margin: 15px auto;
	width: 75%;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: silver;
}