.hot-topics-page > span {
	margin: 7px 0 14px 0;
}
.hot-topics-page > .hot-topics > .aotd {
	border: 4px solid darkturquoise;
	margin: 7px 0 17px 0;
}
.hot-topics-page > .hot-topics > .aotd > h3 {
	text-align: center;
	background: darkturquoise;
	color: white;
	padding-bottom: 3px;
}
.hot-topics-page > .hot-topics > .aotd > .article-details {
	margin: 5px;
}