/*
	componentPath: src/app/common/components/HowItWorksVideo
	cssComponentId: how-it-works-video_7wst2o
*/

.how-it-works-video_7wst2o {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
a.how-it-works-video_7wst2o > span > img {
	max-width: 100%;
	width: 560px;
}