/*
	componentPath: src/app/common/components/LeaderboardsPage
	cssComponentId: leaderboards-page_872eby
*/

.leaderboards-page_872eby {
	min-height: 100%;
}
.leaderboards-page_872eby > .panel {
	border: 1px solid silver;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 10px;
}
.leaderboards-page_872eby > .panel:not(:last-child) {
	margin-bottom: 10px;
}
.leaderboards-page_872eby > .panel > strong {
	display: block;
	margin-bottom: 10px;
}
.leaderboards-page_872eby > .panel > ol > li:not(:last-child) {
	margin-bottom: 5px;
}
.leaderboards-page_872eby > .leaderboards > ol > li > table {
	width: 100%;
}
.leaderboards-page_872eby > .leaderboards > ol > li > table > caption {
	font-weight: bold;
}
.leaderboards-page_872eby > .leaderboards > ol > li > table > caption,
.leaderboards-page_872eby > .leaderboards > ol > li > table > thead > tr > th {
	padding: 2px;
	border-bottom: 1px solid silver;
}
.leaderboards-page_872eby > .leaderboards > ol > li > table > tbody > tr > td {
	padding: 2px;
}
.leaderboards-page_872eby > .leaderboards > ol > li > table > tbody > tr > td:nth-child(2) {
	text-align: center;
}
.leaderboards-page_872eby > .leaderboards > ol > li > table > tbody > tr:nth-child(even) > td {
	background-color: #f6f6f6;
}

@media (min-width: 800px) {
	.leaderboards-page_872eby > .leaderboards > ol {
		display: flex;
	}
	.leaderboards-page_872eby > .leaderboards > ol > li {
		flex: 1 1 0;
	}
	.leaderboards-page_872eby > .leaderboards > ol > li:not(:last-child) {
		margin-bottom: 0;
	}
	.leaderboards-page_872eby > .leaderboards > ol > li:not(:last-child) {
		margin-right: 5px;
	}
	.leaderboards-page_872eby > .leaderboards > ol > li:not(:first-child) {
		margin-left: 5px;
	}
}