/*
  componentPath: src/app/common/components/LeaderboardsPage
  cssComponentId: leaderboards-page_872eby
*/

.leaderboards-page_872eby {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}