.main-view {
	font-family: monospace;
	font-size: 13px;
	max-width: 850px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.main-view > nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 7px;
}
.main-view > nav > .left-col {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	position: relative;
}
.main-view > nav > .left-col::after {
	content: "Beta";
	font-size: 11px;
	position: absolute;
	border: 1px solid forestgreen;
	padding: 0 4px;
	left: 35px;
	top: -4px;
	border-radius: 7px;
	background: lightseagreen;
	color: white;
}
.main-view > nav > .left-col > .logo {
	flex: 0 0 auto;
	margin-right: 20px;
	text-decoration: none;
	color: #000;
}
.main-view > nav > .left-col > .logo > svg {
	display: block;
	width: 44px;
}
.main-view > nav > .left-col > h1 {
	flex: 0 0 auto;
	font-family: 'Adler';
   font-size: 25px;
}
.main-view > nav > .left-col > h1 > a {
	text-decoration: none;
	color: #000;
}
.main-view > nav > .right-col {
	flex: 0 0 auto;
}
.main-view > header {
	margin: 7px 0;
}
.main-view > header > h2 {
	display: flex;
	justify-content: center;
	font-size: 22px;
	height: 30px;
}
.main-view > header > h2.reloadable::before {
	content: "";
	flex: 1 1 auto;
	max-width: 28px;
}
.main-view > header > h2 > .text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main-view > header > h2 > .icon {
	flex: 0 0 auto;
	margin-left: 8px;
	cursor: pointer;
	color: #666;
	transition: transform 250ms;
}
.main-view > header > h2.loading > .icon {
	animation: main-view-page-loading 1000ms linear infinite;
}
.main-view > header > h2 > .icon:hover {
	transform: rotate(-22deg);
}
.main-view > footer {
	text-align: center;
	padding: 20px 0;
}

@keyframes main-view-page-loading {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}