.main-view {
	font-family: monospace;
	font-size: 13px;
	max-width: 850px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.main-view > nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 7px;
}
.main-view > nav > .left-col {
	flex: 0 0 auto;
}
.main-view > nav > .left-col > .logo {
	text-decoration: none;
	color: #000;
}
.main-view > nav > .left-col > .logo > svg {
	width: 44px;
	vertical-align: middle;
}
.main-view > nav > .right-col {
	flex: 0 0 auto;
}
.main-view > header {
	margin: 7px 0;
}
.main-view > header > h1 {
	font-family: 'Adler';
	font-size: 36px;
	text-align: center;
	margin: 0;
}
.main-view > header > h1 > a {
	text-decoration: none;
	color: #000;
}
.main-view > header > h2 {
	text-align: center;
	font-size: 22px;
	height: 30px;
   line-height: 30px;
	margin: 0;
}
.main-view > footer {
	text-align: center;
	padding: 20px 0;
}