/*
  componentPath: src/app/common/components/MissionPage
  cssComponentId: mission-page_hvneey
*/

.mission-page_hvneey {
	// for all p's on this page
	$line-height-mobile: 1.25;
	p, td {
		line-height: $line-height-mobile;
	}

	.mission-point {
		.heading-regular {
			margin-bottom: 14px;
			margin-top: 30px;
		}

		p {
			margin-bottom: 22px;
		}
	}

	// &:first-of-type {
	// 	> .heading-regular {
	// 		margin-top: 0;
	// 	}
	// }

	.mission-title {
		font-size: 44px;
		margin-bottom: 75px;
		margin-top: 30px;
		line-height: 1.2;
		text-align: center;
	}

	.our-story {
		$table-width: 480px;
		&__intro {
			max-width: $table-width;
			text-align: left;
			width: 100%;
			display: block;
			margin: 30px auto;
		}

		.mission-title--our-story {
			margin-top: 38px;
			margin-bottom: 44px;
		}

		&__timeline {
			table-layout: fixed;
			border-collapse: collapse;
			width: 100%;
			max-width: $table-width;
			margin: auto;

			tr > td:nth-child(1) {
				width: 30%;
				font-family: 'Museo Sans (700)', sans-serif;
			}

			tr > td:nth-child(2) {
				width: 70%;
				padding-left: 16px;
			}

			td {
				padding-bottom: 6px;
			}

			@media screen and (min-width: 768px) {
				tr > td:nth-child(2) {
					padding-left: 16px;
				}

				td {
					padding-bottom: 10px;
				}
			}
		}
	}

	.manifesto-link {
		text-align: center;
		display: block;
		text-decoration: none;
		margin-top: 50px;
	}

	@media screen and (min-width: 768px) {

		section.mission-points {
			display: flex;
			flex-direction: column;
		}

		p, td {
			line-height: 1.4;
		}

		.mission-point {
			display: block;
			align-self: flex-start;
			max-width: 600px;
			p {
				margin-bottom: 72px;
			}
		}

		.mission-point:nth-child(2n) {
			align-self: flex-end;
		}

		.mission-title {
			margin-top: 60px;
			margin-bottom: 74px;
		}

		.our-story__intro {
			margin: 42px auto;
			max-width: 600px;
		}

		.our-story .mission-title--our-story {
			margin-top: 30px;
			margin-bottom: 84px;
			// margin-top: 30px;
			// margin-bottom: 84px;
		}
	}

	.manifesto-link {
		margin-top: 70px;
	}
}
