.pizza-page > h3 {
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}
.pizza-page > h3:first-child {
	margin-top: 0;
}
.pizza-page > h3 > small {
	display: block;
	color: gray;
	font-size: 11px;
}
.pizza-page > h4 {
	font-size: 18px;
	margin: 10px 0;
	text-align: center;
}
.pizza-page > p {
	text-align: center;
	margin: 5px 0;
}
.pizza-page > .prompt-wrapper {
	display: flex;
	justify-content: center;
}
.pizza-page > .prompt-wrapper > .prompt {
	padding: 10px;
}
.pizza-page > .prompt-wrapper > .prompt > span {
	text-decoration: underline;
	cursor: pointer;
}
.pizza-page > .start-prompt > .prompt {
	background: chartreuse;
	border: 1px solid green;
}
.pizza-page > .leaderboards {
	display: flex;
	flex-direction: row-reverse;
}
.pizza-page > .leaderboards > .leaderboard {
	width: 100%;
	border: 1px solid black;
	margin: 10px 0;
}
.pizza-page > .leaderboards > .leaderboard > caption {
	font-weight: bold;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: black;
	padding: 2px;
}
.pizza-page > .leaderboards > .leaderboard > thead> tr > th {
	border: 1px solid black;
	background-color: beige;
	padding: 2px;
}
.pizza-page > .leaderboards > .leaderboard > tbody> tr > td {
	border: 1px solid black;
	padding: 2px;
}
.pizza-page > .leaderboards > .leaderboard > tbody> tr.highlight > td {
	background-color: aqua;
}
.pizza-page > .leaderboards > .leaderboard.winners {
	margin-left: 5px;
}
.pizza-page > .leaderboards > .leaderboard.contenders {
	margin-right: 5px;
}
.pizza-page > .leaderboards > .leaderboard.winners > caption {
	background: gold;
}
.pizza-page > .leaderboards > .leaderboard.contenders > caption {
	background: violet;
}
.pizza-page > .quit-prompt {
	margin-top: 20px;
}
.pizza-page > .quit-prompt > .prompt {
	color: gray;
	background: antiquewhite;
	border: 1px solid burlywood;
}

@media (max-width: 767px) {
	.pizza-page > .leaderboards {
		flex-direction: column;
	}
	.pizza-page > .leaderboards > .leaderboard.winners {
		margin-left: 0;
	}
	.pizza-page > .leaderboards > .leaderboard.contenders {
		margin-right: 0;
	}
}