/*
	componentPath: src/app/common/components/PromoCarousel
	cssComponentId: promo-carousel_mvtpec
*/

.promo-carousel_mvtpec > .carousel.carousel-slider {
	padding-bottom: 34px;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .control-arrow {
	opacity: 1;
	transition: none;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .control-arrow:hover {
	background-color: #eaeaea;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .control-arrow.control-prev::before {
	border-right-color: #666;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .control-arrow.control-next::before {
	border-left-color: #666;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .slider-wrapper > .slider > .slide {
	background-color: transparent;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .slider-wrapper > .slider > .slide > div {
	text-align: center;
	font-size: 15px;
	padding: 0 5px;
	cursor: default;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .slider-wrapper > .slider > .slide > div > strong {
	display: block;
	font-size: 40px;
	margin-bottom: 10px;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .control-dots > .dot {
	box-shadow: none;
	background-color: #666;
}
.promo-carousel_mvtpec > .carousel.carousel-slider > .control-dots > .dot.selected {
	background-color: black;
}