/*
	componentPath: src/app/common/components/ScreenContainer
	cssComponentId: screen-container_ayqss6
*/

.screen-container_ayqss6 {
	min-height: 100%;
	max-width: 980px;
	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

@media (max-width: 450px) {
	.screen-container_ayqss6 {
		padding: 15px 10px;
	}
}