/*
	componentPath: src/app/common/components/ScreenContainer
	cssComponentId: screen-container_ayqss6
*/

.screen-container_ayqss6 {
	min-height: 100%;
	padding: 20px;
	box-sizing: border-box;
}

@media (max-width: 450px) {
	.screen-container_ayqss6 {
		padding: 10px;
	}
}