/*
	componentPath: src/app/common/components/ShareArticleDialog
	cssComponentId: share-article-dialog_okphco
*/

.share-article-dialog_okphco > h3 {
	margin-bottom: 10px;
	max-width: 375px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.share-article-dialog_okphco > .email-fields {
	margin-bottom: 6px;
}
.share-article-dialog_okphco > .email-fields > .field-container > .email-field {
	display: flex;
	margin-bottom: 6px;
}
.share-article-dialog_okphco > .email-fields > .field-container > .email-field:last-of-type {
	margin-bottom: 3px;
}
.share-article-dialog_okphco > .email-fields > .field-container > .email-field > .input-control_dua9vb {
	flex: 1 1 auto;
}
.share-article-dialog_okphco > .email-fields > .field-container > .email-field > .delete-button {
	flex: 0 0 auto;
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.share-article-dialog_okphco > .message-field > .field-container > .input-control_dua9vb > textarea {
	width: 100%;
	height: 70px;
	box-sizing: border-box;
	font-family: inherit;
}