/*
	componentPath: src/app/common/components/StoreLinks
	cssComponentId: store-links_gbmsih
*/
@import '../../../common/styles/colors';

.store-links_gbmsih {
	text-align: center;
}
.store-links_gbmsih > .title {
	font-family: 'Museo Sans (500)';
	margin-bottom: 10px;
}
.store-links_gbmsih > .images {
	display: flex;
	justify-content: center;
	align-items: center;
}
.store-links_gbmsih > .images > a {
	height: 40px;
	background-size: contain;
}
.store-links_gbmsih > .images > a + a {
	margin-left: 10px;
}
.store-links_gbmsih > .images > a.apple {
	width: 34px;
}
.store-links_gbmsih > .images > a.chrome {
	background-image: url(/images/chrome.svg);
	width: 40px;
}
.store-links_gbmsih > .images > a.firefox {
	background-image: url(/images/firefox.svg);
	width: 40px;
}
.store-links_gbmsih > .images > a.edge {
	background-image: url(/images/edge.svg);
	width: 40px;
}

@include theme using ($root, $scheme) {
	#{$root} .store-links_gbmsih > .images > a.apple {
		@if $scheme == light {
			background-image: url(/images/apple.svg);
		} @else {
			background-image: url(/images/apple-white.svg);
		}
	}
}