/*
	componentPath: src/app/common/components/StripeSubscriptionPrompt
	cssComponentId: stripe-subscription-prompt_3cqidx
*/

.stripe-subscription-prompt_3cqidx {
	min-width: 260px;
	max-width: 360px;
}