/*
	componentPath: src/app/common/components/StripePaymentConfirmationDialog
	cssComponentId: stripe-payment-confirmation-dialog_pmtnq8
*/

.stripe-payment-confirmation-dialog_pmtnq8 > .transition-container_ko0vbz {
	text-align: center;
}
.stripe-payment-confirmation-dialog_pmtnq8 > .transition-container_ko0vbz > .message {
	margin-bottom: 10px;
}