/*
        componentPath: src/app/common/components/TeamPage
        cssComponentId: team-page_a9b9l1
*/
@import '../../../../src/common/styles/breakpoints.scss';

.team-page_a9b9l1 {
	.home-panel_w65z7c {
		overflow: hidden;
	}

	.home-panel_w65z7c:nth-child(odd) {
		background-color: var(--app-background-alt-color);
	}

	.community-shoutout {
		.button_ovrlmi {
			max-width: 300px;
			margin: auto;
		}
	}

	.home-panel_w65z7c {
		> .content {
			> h2 {
				text-align: center;
				margin-bottom: 2rem;
			}

			> div.profiles {
				display: flex;
				flex-direction: column;
				margin-bottom: 2rem;
				align-items: center;
				@include from(tablet-portrait) {
					flex-direction: row;
				}
			}
		}
	}

	.home-panel_w65z7c > .content > p.special-thanks {
		margin: auto;
		max-width: 700px;
		font-family: 'Museo Sans (300)', sans-serif;
		font-size: 13pt;
		text-align: center;
	}

}