.toaster {
	position: fixed;
	top: 0;
	z-index: 200;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 0;
	padding: 0 10px;
	box-sizing: border-box;
}
.toaster > .toasts > .toast {
	padding: 10px;
	border: 5px ridge gainsboro;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	animation: toaster-pop-in 250ms;
}
.toaster > .toasts > .toast.remove {
	animation: toaster-pop-out 250ms;
}
.toaster > .toasts > .toast.success {
	color: green;
	background-color: greenyellow;
}
.toaster > .toasts > .toast.danger {
	color: white;
	background-color: red;
}

@keyframes toaster-pop-in {
	0% { transform: scale(0, 0); }
	75% { transform: scale(1.25, 1.25); }
	100% { transform: scale(1, 1); }
}
@keyframes toaster-pop-out {
	0% { transform: scale(1, 1); }
	100% { transform: scale(0, 0); }
}