/*
	componentPath: src/app/common/components/SettingsPage/WriterAccountControl/TwitterVerificationDialog
	cssComponentId: twitter-verification-dialog_fy082z
*/

.twitter-verification-dialog_fy082z {
	text-align: center;
}
.twitter-verification-dialog_fy082z > .auth-service-button_bj12nx {
	max-width: 220px;
	margin: 15px auto;
}
.twitter-verification-dialog_fy082z > .link_ke15oa {
	display: inline-block;
	margin-top: 15px;
}
.twitter-verification-dialog_fy082z > .small {
	color: var(--text-muted-color);
	font-size: 11pt;
}