.menu {
	position: relative;
	cursor: pointer;
}
.menu:focus {
	outline: none;
}
.menu > label {
	cursor: pointer;
}
.menu > .caret {
	margin-left: 3px;
	top: 0;
}
.menu > .caret.opened {
	display: none;
}
.menu:focus > .caret.opened {
	display: inline-block;
}
.menu:focus > .caret.closed {
	display: none;
}
.menu > ol {
	display: none;
	position: absolute;
	z-index: 1;
	white-space: nowrap;
}
.menu:focus > ol {
	display: block;
}