/*
	componentPath: src/common/components/ReaderHeader/SettingsWidget
	cssComponentId: settings-widget_eu0rn0
*/

.settings-widget_eu0rn0 > .popover_r7v81v > .menu > .widget-menu-content > table > tbody > tr > th {
	vertical-align: middle;
	text-align: right;
	padding-left: 10px;
	font-weight: normal;
	font-family: 'Museo Sans (500)';
}
.settings-widget_eu0rn0 > .popover_r7v81v > .menu > .widget-menu-content > table > tbody > tr > td {
	padding: 0 10px;
}
.settings-widget_eu0rn0 > .popover_r7v81v > .menu > .widget-menu-content > table > tbody > tr > td > label {
	display: none;
}
.settings-widget_eu0rn0 > .popover_r7v81v > .menu > .widget-menu-content > table > tbody > tr > td[colspan] {
	height: 10px;
}

@media (max-width: 399px) {
	.settings-widget_eu0rn0 > .popover_r7v81v > .menu > .widget-menu-content > table > tbody > tr > th {
		display: none;
	}
	.settings-widget_eu0rn0 > .popover_r7v81v > .menu > .widget-menu-content > table > tbody > tr > td > label {
		display: block;
		font-family: 'Museo Sans (500)';
		margin-bottom: 5px;
	}	
}