/*
	componentPath: src/native-client/reader/components/App
	cssComponentId: app_n0jlkg
*/

.app_n0jlkg > .post-prompt_de6v6u {
	margin-bottom: 15px;
	opacity: 0;
	animation: app_n0jlkg-fade-in 500ms forwards;
}
.app_n0jlkg > .loading-comments {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: app_n0jlkg-fade-in 500ms forwards;
}
.app_n0jlkg > .loading-comments > .spinner-icon_6s5uk2 {
	margin-right: 5px;
}
.app_n0jlkg > .comments-section_mqmgnd {
	opacity: 0;
	animation: app_n0jlkg-fade-in 500ms forwards;
}

@keyframes app_n0jlkg-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}