/*
	componentPath: src/native-client/reader/components/App
	cssComponentId: app_n0jlkg
*/

.app_n0jlkg > .post-prompt_de6v6u {
	margin-bottom: 15px;
}
.app_n0jlkg > .toaster_2zbeib {
	margin-top: env(safe-area-inset-top);
}