<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/app/server/main.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode
      logDirectory="../../../iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
    />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" setEtag="false" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="remove-www">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.(.+)" />
          </conditions>
          <action type="Redirect" url="https://{C:1}{REQUEST_URI}" />
        </rule>
        <rule name="static-content" stopProcessing="true">  
          <match url="^(fonts/.+|images/.+|bundle.css|bundle.js)$" />
          <action type="Rewrite" url="client/{R:0}"/>  
        </rule>  
        <rule name="main">
          <match url=".*" />
          <action type="Rewrite" url="server/app/server/main.js" />
        </rule>
      </rules>
    </rewrite> 
  </system.webServer>
</configuration>