<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/app/server/main.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode
      logDirectory="../../../iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
    />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" setEtag="false" />
			<mimeMap fileExtension="." mimeType="text/plain" />
    </staticContent>
    <rewrite>
      <rules>
				<rule name="force-https" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTPS}" pattern="^OFF$" />
						<add input="{REQUEST_URI}" pattern="^/\.well-known/" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/auth-service-link-handler/" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/embed-iframe-bridge/" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/apple-app-site-association$" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/version$" negate="true" />
					</conditions>
					<action type="Redirect" url="https://dev.readup.org/{R:0}" />
				</rule>
        <rule name="remove-www">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.(.+)" />
          </conditions>
          <action type="Redirect" url="https://{C:1}{REQUEST_URI}" />
        </rule>
        <rule name="static-content" stopProcessing="true">
          <match url="^(\.well\-known/.+|auth\-service\-link\-handler/.+|embed\-iframe\-bridge/.+)$" />
          <action type="Rewrite" url="client/{R:0}"/>
        </rule>
        <rule name="main">
          <match url=".*" />
          <action type="Rewrite" url="server/app/server/main.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>