/*
	componentPath: src/common/components/reader/Footer
	cssComponentId: footer_sg74y0
*/

.footer_sg74y0 {
	max-width: 500px;
	margin: 20px auto;
	padding: 20px 0;
	text-align: center;
}
.footer_sg74y0 > span > button.selected {
	background-color: lightblue;
}