@font-face {
	font-family: 'Bitter';
	src: url('/fonts/Bitter-Regular.ttf');
}
html {
	font-family: 'Bitter';
	font-size: 13px;
	letter-spacing: 0.02em;
	background-color: ghostwhite;
	line-height: 1.2;
}
html, body, #root {
	height: 100%;
}
button {
	font-family: inherit;
}
a, button, span, svg {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	color: black;
}