@font-face {
	font-family: 'Adler';
	src: url('./fonts/Adler.ttf');
}

html,
body {
	margin: 0;
  	height: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#root {
	height: 100%;
}