@font-face {
	font-family: 'Bitter';
	src: url('/fonts/Bitter-Regular.ttf');
}
html {
	font-family: 'Bitter';
	font-size: 13px;
	letter-spacing: 0.02em;
	background-color: ghostwhite;
	line-height: 1.2;
}
html, body, #root {
	height: 100%;
}
body {
	overflow: hidden;
}
#root {
	background-color: ghostwhite;
}
a, button, div, span, svg {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	color: black;
}
html > body > div:not(#root) {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: translateX(75px);
}
html > body.show-captcha > div:not(#root) {
	animation: show-captcha 200ms forwards;
}
html > body.hide-captcha > div:not(#root) {
	animation: hide-captcha 200ms forwards;
}

@keyframes show-captcha {
	from {
		transform: translateX(75px);
		z-index: -1;
	}
	to {
		transform: translateX(0);
		z-index: 100;
	}
}
@keyframes hide-captcha {
	from {
		transform: translateX(0);
		z-index: 100;
	}
	to {
		transform: translateX(75px);
		z-index: -1;
	}
}