/*
	componentPath: src/extension/content-script/components/BrowserCommentsSection
	cssComponentId: browser-comments-section_hyo38z
*/

.browser-comments-section_hyo38z {
	opacity: 0;
	animation: browser-comments-section_hyo38z-fade-in 500ms 500ms forwards;
}
.browser-comments-section_hyo38z > .post-prompt_de6v6u {
	margin-bottom: 15px;
}
.browser-comments-section_hyo38z > .loading-comments {
	display: flex;
	justify-content: center;
	align-items: center;
}
.browser-comments-section_hyo38z > .loading-comments > .spinner-icon_6s5uk2 {
	margin-right: 5px;
}
.browser-comments-section_hyo38z > .comments-section_mqmgnd {
	animation: browser-comments-section_hyo38z-fade-in 500ms forwards;
}

@keyframes browser-comments-section_hyo38z-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}