.app-screen-button {
	background-color: white;
	border: 2px solid black;
	text-transform: uppercase;
	font-weight: bold;
	height: 34px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.app-screen-button[disabled] {
	color: silver;
	border-color: silver;
}
.app-screen-button.loud {
	background-color: black;
	color: white;
}
.app-screen-button > .icon,
.app-screen-button > .spinner {
	top: 0;
	margin: 0 5px;
}
.app-screen-button > .icon:last-child,
.app-screen-button > .spinner:last-child {
	visibility: hidden;
}