/*
	componentPath: src/app/common/components/controls/Dialog
	cssComponentId: dialog_k09mus
*/

.dialog_k09mus {
	margin: 0 15px;
	padding: 15px;
	z-index: 100;
	background: #fff;
	border: 3px solid black;;
	max-width: 100%;
	box-sizing: border-box;
}
.dialog_k09mus > .header {
	position: relative;
	margin-bottom: 15px;
	font-size: 16pt;
	text-align: center;
	font-family: 'Museo Sans (700)';
}
.dialog_k09mus > .header > .close {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 13pt;
}
.dialog_k09mus > p + p {
	margin-top: 10px;
}