/*
	componentPath: src/app/common/components/controls/FormDialog
	cssComponentId: form-dialog_bdppnq
*/

.form-dialog_bdppnq > .children > .error-message {
	padding-bottom: 10px;
	text-align: center;
	color: crimson;
}
.form-dialog_bdppnq > .children > .form-field_8ey399 + .form-field_8ey399 {
	margin-top: 5px;
}
.form-dialog_bdppnq > .children > .link {
	margin-top: 5px;
	text-align: center;
}
.form-dialog_bdppnq > .children > .link > span {
	color: #999;
	cursor: pointer;
	text-decoration: underline;
	font-size: small;
}