/*
	componentPath: src/app/common/components/controls/FormDialog
	cssComponentId: form-dialog_bdppnq
*/
@import '../../../../common/styles/colors';

.form-dialog_bdppnq > .children > .error-message {
	padding-bottom: 10px;
	text-align: center;
}
.form-dialog_bdppnq > .children > .form-field_uv9cq4 + .form-field_uv9cq4 {
	margin-top: 10px;
}
.form-dialog_bdppnq > .children > .link,
.form-dialog_bdppnq > .children > .note {
	margin-top: 10px;
	text-align: center;
}
.form-dialog_bdppnq > .children > .link > span,
.form-dialog_bdppnq > .children > .note > span {
	font-size: 11pt;
}
.form-dialog_bdppnq > .children > .link > span {
	cursor: pointer;
	text-decoration: underline;
}

@include theme using ($root, $scheme) {
	#{$root} .form-dialog_bdppnq > .children > .error-message {
		@include theme-colors(
			$scheme,
			(
				"color": $intent-danger-color
			)
		);
	}
	#{$root} .form-dialog_bdppnq > .children > .link > span,
	#{$root} .form-dialog_bdppnq > .children > .note > span {
		@include theme-colors(
			$scheme,
			(
				"color": $text-muted-color
			)
		);
	}
}