/*
	componentPath: src/app/common/components/controls/InfoBox
	cssComponentId: info-box_whou0t
*/

.info-box_whou0t {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info-box_whou0t > .content {
	background-color: white;
	border: 1px solid #e0e0e0;
	padding: 7px;
	font-size: 15px;
	text-align: center;
}