/*
	componentPath: src/app/common/components/controls/InputControl
	cssComponentId: input-control_dua9vb
*/

.input-control_dua9vb > input {
	display: block;
	width: 100%;
	line-height: 26px;
	box-sizing: border-box;
	padding: 0 5px;
	border: 1px solid #999;
	border-radius: 0;
	background: #fff;
	border-radius: 3px;
}
.input-control_dua9vb > input:focus {
	outline: 1px auto #73A3D9;
}
.input-control_dua9vb > .error {
	color: darkred;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 2px;
	font-size: 11pt;
}