.input-control > input {
	display: block;
	width: 100%;
	height: 22px;
	line-height: 22px;
	box-sizing: border-box;
	padding: 0 2px;
	border: 1px solid #666;
	border-radius: 0;
	background: #fff;
}
.input-control > input:focus {
	outline: none;
}
.input-control > .error {
	position: relative;
	line-height: 16px;
	text-indent: 14px;
	color: crimson;
	font-family: serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.input-control > .error::before {
	content: "";
	display: block;
	position: absolute;
	width: 5px;
	height: 7px;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #000;
	left: 6px;
}