/*
	componentPath: src/app/common/components/controls/NotificationPreferencesControl
	cssComponentId: notification-preferences-control_m5xqhx
*/

.notification-preferences-control_m5xqhx > .alert-selector_esabj4 + .alert-selector_esabj4 {
	margin-top: 10px;
}