/*
	componentPath: src/app/common/components/controls/PageSelector
	cssComponentId: page-selector_a8tbpb
*/

.page-selector_a8tbpb {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}
.page-selector_a8tbpb > .select-list_guiajx {
	margin-left: 5px;
}