/*
	componentPath: src/app/common/components/controls/SubscriptionSelector
	cssComponentId: subscription-selector_nuri7o
*/

.subscription-selector_nuri7o > label {
	display: block;
	margin-bottom: 15px;
	text-align: center;
}
.subscription-selector_nuri7o > button {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-family: 'Museo Sans (500)';
	outline: none;
	cursor: pointer;
	border-color: var(--control-border-color);
	background-color: var(--control-background-color);
}
.subscription-selector_nuri7o > button:focus {
	border-color: var(--intent-primary-color);
}
.subscription-selector_nuri7o > button:disabled {
	color: var(--text-muted-color);
	border-color: var(--control-disabled-color);
	cursor: default;
}
.subscription-selector_nuri7o > button + button {
	margin-top: 10px;
}
.subscription-selector_nuri7o > button > .name {
	display: block;
	margin-bottom: 5px;
}
.subscription-selector_nuri7o > button > .selected {
	display: block;
	margin-top: 5px;
}
.subscription-selector_nuri7o > button > .selected > .icon_rour3d {
	vertical-align: text-top;
}
.subscription-selector_nuri7o > .custom-price-control {
	text-align: center;
	margin-top: 20px;
}
.subscription-selector_nuri7o > .custom-price-control > label {
	font-size: 11pt;
	color: var(--text-muted-color);
}
.subscription-selector_nuri7o > .custom-price-control > label.link {
	cursor: pointer;
	text-decoration: underline;
}
.subscription-selector_nuri7o > .custom-price-control > .form {
	margin-top: 15px;
}
.subscription-selector_nuri7o > .custom-price-control > .form > .controls {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.subscription-selector_nuri7o > .custom-price-control > .form > .controls > input {
	width: 80px;
	margin: 0 5px;
	line-height: 26px;
	box-sizing: border-box;
	padding: 0 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	border-radius: 3px;
	text-align: right;
	border-color: var(--control-border-color);
	background: var(--control-background-color);
}
.subscription-selector_nuri7o > .custom-price-control > .form > .controls > input:focus {
	outline: none;
}
.subscription-selector_nuri7o > .custom-price-control > .form > .controls > .icon_rour3d {
	cursor: pointer;
	margin-left: 10px;
	font-size: 15pt;
}
.subscription-selector_nuri7o > .custom-price-control > .form > .error {
	font-size: 11pt;
	margin-top: 15px;
}