/*
	componentPath: src/app/common/components/BrowserRoot/AppleDownloadButton
	cssComponentId: apple-download-button_p4jhwq
*/

.apple-download-button_p4jhwq {
	display: inline-block;
}
.apple-download-button_p4jhwq > img {
	display: block;
	height: 50px;
}