%menu-flag {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 6px;
	border-style: solid;
	border-color: red red transparent transparent;
}

.browser-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid black;
}
.browser-header > .logo-container {
	padding: 20px 0 20px 30px;
}
.browser-header > .logo-container > svg {
	height: 30px;
}
.browser-header > .menu-container {
	display: flex;
	align-items: center;
	padding: 0 30px 0 0;	
}
.browser-header > .menu-container > button {
	height: 40px;
	border: none;
	padding: 0 20px;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
}
.browser-header > .menu-container > button:not(.loud):hover {
	background-color: silver;
}
.browser-header > .menu-container > button:focus {
	outline: none;
}
.browser-header > .menu-container > button:not(:last-child) {
	margin-right: 10px;
}
.browser-header > .menu-container > button.loud {
	background-color: black;
	color: white;
}
.browser-header > .menu-container > button > label {
	cursor: pointer;
}
.browser-header > .menu-container > .menu {
	box-sizing: border-box;
	height: 32px;
	min-width: 0;
	align-items: center;
	display: flex;
	padding: 0 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.browser-header > .menu-container > .menu:focus {
	border: 1px solid black;
	padding: 0 9px;
	background-color: white;
}
.browser-header > .menu-container > .menu.indicator::after {
	@extend %menu-flag;
}
.browser-header > .menu-container > .menu > label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.browser-header > .menu-container > .menu > .hamburger {
	display: none;
}
.browser-header > .menu-container > .menu > ol {
	top: 30px;
	right: -1px;
	background-color: white;
	border: 1px solid black;
}
.browser-header > .menu-container > .menu > ol > li {
	position: relative;
}
.browser-header > .menu-container > .menu > ol > li.about {
	display: none;
}
.browser-header > .menu-container > .menu > ol > li.indicator::after {
	@extend %menu-flag;
}
.browser-header > .menu-container > .menu > ol > li > a,
.browser-header > .menu-container > .menu > ol > li > span {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 5px 10px;
}