%menu-flag {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 6px;
	border-style: solid;
	border-color: red red transparent transparent;
}

.browser-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid black;
	padding: 20px 30px;
}
.browser-header > .logo-container > svg {
	height: 30px;
}
.browser-header > .menu-container {
	display: flex;
	align-items: center;
}
.browser-header > .menu-container > button {
	height: 40px;
	border: none;
	padding: 0 20px;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
}
.browser-header > .menu-container > button:not(.loud):hover {
	background-color: silver;
}
.browser-header > .menu-container > button:focus {
	outline: none;
}
.browser-header > .menu-container > button:not(:last-child) {
	margin-right: 10px;
}
.browser-header > .menu-container > button.loud {
	background-color: black;
	color: white;
}
.browser-header > .menu-container > button > label {
	cursor: pointer;
}
.browser-header > .menu-container > .menu-icon-container > .icon {
	display: block;
	font-size: 32px;
	cursor: pointer;
}
