/*
  componentPath: src/app/common/components/BrowserRoot/Button
  cssComponentId: button_cn7dmh
*/

.button_cn7dmh {
	display: flex;
	padding: 20px 30px;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.button_cn7dmh:hover {
	background-color: #eaeaea;
}
.button_cn7dmh:focus {
	outline: none;
}
.button_cn7dmh:active {
	color: black;
}
.button_cn7dmh.loud {
	background-color: black;
	color: white;
}
.button_cn7dmh > .icon:first-child {
	margin-right: 10px;
}
.button_cn7dmh > .icon:last-child {
	margin-left: 10px;
}
.button_cn7dmh > label {
	cursor: pointer;
}