/*
        componentPath: src/app/common/components/BrowserRoot/Card
        cssComponentId: card_d4pcqo
*/

@import '../../../../common/styles/colors';

.card_d4pcqo {
    border-radius: 20px;
    padding: 32px;
    // TODO dark mode
    background-color: map-get($light-theme, $rating-seal-text-color);
    flex-grow: 1;
}