/*
        componentPath: src/app/common/components/BrowserRoot/Card
        cssComponentId: card_d4pcqo
*/

@import '../../../../common/styles/colors';

.card_d4pcqo {
    border-radius: 20px;
    padding: 62px 20px 44px 20px;
    background-color: var(--content-background-color);
}