/*
	componentPath: src/app/common/components/BrowserRoot/CountdownBanner
	cssComponentId: countdown-banner_yodmpa
*/

.countdown-banner_yodmpa {
	text-align: center;
	font-family: 'Museo Sans (500)';
	padding: 20px 10px;
}
.countdown-banner_yodmpa > span {
	display: block;
}
.countdown-banner_yodmpa > span:last-child {
	font-family: 'Museo Sans (700)';
	margin-top: 5px;
}