/*
        componentPath: src/app/common/components/BrowserRoot/DownloadPage
        cssComponentId: download-page_4u78ip
*/

// this scss affects the outer component!

.download-page_4u78ip {

	.download-options {
		margin: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 44px;
	}

	.options-set {
		width: 80%;
		max-width: 285px;

		> h2 {
			margin-bottom: 18px;
			font-family: "Cambria (Regular)";
			font-size: 32px;

			&::after {
				content: "";
				display: block;
				position: relative;
				background-color: #c3c3c3;
				margin-top: 5px;
				left: -0.5%;
				width: 101%;
				height: 1px;
			}
		}

		@media screen and (max-width: 767px) {
			> h2 {
				text-align: center;
			}

			&:last-child {
				margin-top: 34px;
			}
		}
	}


	.download-option {
		display: flex;
		&:not(:first-child) {
			margin-top: 28px;
		}

		.icon_rour3d {
			display: block;
			width: 4rem;
			height: 4rem;
			margin-right: 14px;
		}

		&__details {
			&__title {
				font-size: 1.2rem;
				font-family: 'Museo Sans (700)';
				margin-bottom: 8px;
			}

			&__android {
				> .button_ovrlmi {
					margin-top: 6px;
					border: 1px solid #565656;
				}
			}
		}
	}

}

@media screen and (min-width: 768px) {
	.download-page_4u78ip {
		.download-options {
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;

			> div:first-child {
				margin-right: 76px;
			}
		}
	}

}