/*
	componentPath: src/app/common/components/BrowserRoot/ExtensionReminderDialog
	cssComponentId: extension-reminder-dialog_i546dx
*/

.extension-reminder-dialog_i546dx > .children > p {
	margin-bottom: 15px;
}