/*
	componentPath: src/app/common/components/BrowserRoot/Footer
	cssComponentId: footer_ink40x
*/

.footer_ink40x {
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ccc;
	background-color: #eaeaea;
}
.footer_ink40x > .store-links_gbmsih {
	margin: 15px 0;
}