/*
	componentPath: src/app/common/components/BrowserRoot/GetStartedButton
	cssComponentId: get-started-button_z950ea
*/

.get-started-button_z950ea {
	display: inline-block;
}
.get-started-button_z950ea > img {
	display: block;
	height: 50px;
}