/*
	componentPath: src/app/common/components/BrowserRoot/Header
	cssComponentId: header_cvm3v7
*/

%menu-flag {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 6px;
	border-style: solid;
	border-color: red red transparent transparent;
}

.header_cvm3v7 {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid black;
	padding: 20px 30px;
}
.header_cvm3v7 > .logo-container {
	display: flex;
	align-items: center;
}
.header_cvm3v7 > .logo-container > svg {
	display: block;
	height: 30px;
}
.header_cvm3v7 > .menu-container {
	display: flex;
	align-items: center;
}
.header_cvm3v7 > .menu-container > button {
	height: 40px;
	border: none;
	padding: 0 20px;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
}
.header_cvm3v7 > .menu-container > button:not(.loud):hover {
	background-color: #eaeaea;
}
.header_cvm3v7 > .menu-container > button:focus {
	outline: none;
}
.header_cvm3v7 > .menu-container > button:not(:last-child) {
	margin-right: 10px;
}
.header_cvm3v7 > .menu-container > button.loud {
	background-color: black;
	color: white;
}
.header_cvm3v7 > .menu-container > button > label {
	cursor: pointer;
}
.header_cvm3v7 > .menu-container > .menu-icon-container > .icon_rour3d {
	display: block;
	font-size: 32px;
	cursor: pointer;
}

@media (max-width: 499px) {
	.header_cvm3v7 {
		padding: 10px;
	}
	.header_cvm3v7:not(.authenticated) {
		flex-flow: column;
		align-items: center;
	}
	.header_cvm3v7:not(.authenticated) > .logo-container {
		margin-bottom: 10px;
	}
	.header_cvm3v7 > .logo-container > svg {
		height: 24px;
	}
	.header_cvm3v7 > .menu-container > button {
		height: 28px;
	}
}