/*
	componentPath: src/app/common/components/BrowserRoot/HomeScreen
	cssComponentId: home-screen_1sjipy
*/

.home-screen_1sjipy {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}
.home-screen_1sjipy > .info-box_whou0t {
	flex: 0 0 auto;
}
.home-screen_1sjipy > .info-box_whou0t + .info-box_whou0t {
	margin-top: 10px;
}
.home-screen_1sjipy > .promo-container {
	flex: 0 0 auto;
	margin: 75px 0;
	text-align: center;
}
.home-screen_1sjipy > .promo-container > button {
	margin-top: 15px;
	background-color: black;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 50px;
	outline: none;
}
.home-screen_1sjipy > .info-box_whou0t + .community-reads-list_g4cy3n {
	margin-top: 20px;
}
.home-screen_1sjipy > .loading-overlay_zfgtd1,
.home-screen_1sjipy > .community-reads-list_g4cy3n {
	flex: 1 1 auto;
}