/*
	componentPath: src/app/common/components/BrowserRoot/HomeScreen
	cssComponentId: home-screen_1sjipy
*/

.home-screen_1sjipy {
	display: flex;
	flex-flow: column;
}
.home-screen_1sjipy > .info-box_whou0t {
	flex: 0 0 auto;
}
.home-screen_1sjipy > .info-box_whou0t + .community-reads-list_g4cy3n {
	margin-top: 20px;
}
.home-screen_1sjipy > .sticky-note_zcw6jg {
	flex: 0 0 auto;
	margin: 0 auto 10px auto;
}
.home-screen_1sjipy > .loading-overlay_zfgtd1,
.home-screen_1sjipy > .community-reads-list_g4cy3n {
	flex: 1 1 auto;
}

@media (max-width: 499px) {
	.home-screen_1sjipy {
		padding: 10px;
	}
}