/*
	componentPath: src/app/common/components/BrowserRoot/MarketingScreen
	cssComponentId: marketing-screen_n5a6wc
*/

.marketing-screen_n5a6wc > .about {
	text-align: center;
	background-color: #efefef;
}
.marketing-screen_n5a6wc > .about > .content > .bios > .popover_r7v81v > .children {
	text-decoration: underline;
	cursor: pointer;
}
.marketing-screen_n5a6wc > .about > .content > .bios > .popover_r7v81v > .menu > .links {
	display: block;
	position: relative;
	background-color: white;
	padding: 5px;
	font-size: 13pt;
}
.marketing-screen_n5a6wc > .about > .content > .bios > .popover_r7v81v > .menu > .links > a {
	display: block;
}
.marketing-screen_n5a6wc > .about > .content > .bios > .popover_r7v81v > .menu > .links > a + a {
	margin-top: 5px;
}