/*
	componentPath: src/app/common/components/BrowserRoot/MarketingPanel
	cssComponentId: marketing-panel_2bp7iu
*/

.marketing-panel_2bp7iu {
	text-align: center;
	background-color: #efefef;
}
.marketing-panel_2bp7iu > .content > h1 {
	font-weight: normal;
	font-family: 'Cambria (regular)';
	font-size: 42pt;
	line-height: 1em;
}

@media (max-width: 499px) {
	.marketing-panel_2bp7iu > .content > h1 {
		font-size: 30pt;
	}
}