/*
	componentPath: src/app/common/components/BrowserRoot/MarketingScreen
	cssComponentId: marketing-screen_n5a6wc
*/

.marketing-screen_n5a6wc {
	height: 100%;
}
.marketing-screen_n5a6wc.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}
.marketing-screen_n5a6wc.unsupported {
	display: flex;
	flex-flow: column;
}
.marketing-screen_n5a6wc > .section {
	min-height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.marketing-screen_n5a6wc > .section:nth-child(even) {
	background-color: #fcfbfa;
}
.marketing-screen_n5a6wc > .section > .content {
	font-family: 'Museo Sans (100)';
	font-size: 14pt;
	max-width: 820px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.marketing-screen_n5a6wc > .section > .content > h1 {
	font-weight: normal;
	font-family: 'Cambria (regular)';
	font-size: 42pt;
	margin: 30px 0 20px;
	text-align: center;
}
.marketing-screen_n5a6wc > .section > .content > h3 {
	font-weight: normal;
	font-family: 'Museo Sans (100)';
	font-size: 20pt;
	margin: 20px 0 20px;
	text-align: center;
}
.marketing-screen_n5a6wc > .section > .content > .button_cn7dmh {
	width: auto;
	margin: 50px auto;
}
.marketing-screen_n5a6wc > .section > .content > .platforms {
	margin-top: 50px;
	text-align: center;
}
.marketing-screen_n5a6wc > .section > .content > .platforms > .text {
	font-family: 'Museo Sans (300)';
	font-size: 16pt;
}
.marketing-screen_n5a6wc > .section > .content > .platforms > .badges {
	display: flex;
	margin: 20px auto;
	justify-content: center;
	flex-wrap: wrap;
}
.marketing-screen_n5a6wc > .section > .content > .platforms > .badges > a {
	margin: 0 10px 10px 10px;
	cursor: pointer;
}
.marketing-screen_n5a6wc > .section > .content > .platforms > .badges > a > img {
	display: block;
	height: 55px;
}
.marketing-screen_n5a6wc > .section > .content > .download-app-button {
	margin: 50px auto;
}
.marketing-screen_n5a6wc > .section > .content > .download-app-button > img {
	display: block;
	height: 50px;
}
.marketing-screen_n5a6wc > .section > .content > h2 {
	font-weight: normal;
	font-family: 'Museo Sans (700)';
	margin: 30px 0 20px;
	font-size: 30px;
	text-align: center;
}
.marketing-screen_n5a6wc > .section > .content > p {
	margin: 20px 0;
	font-family: 'Cambria (Regular)';
	font-size: 16pt;
}
.marketing-screen_n5a6wc > .section > .content > ol {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.marketing-screen_n5a6wc > .section > .content > ol > li {
	flex: 0 1 220px;
	text-align: center;
	padding: 20px;
}
.marketing-screen_n5a6wc > .section > .content > ol > li > img {
	display: block;
	margin: 0 auto 10px auto;
	width: 50px;
}
.marketing-screen_n5a6wc > .section.community > .content > p {
	text-align: center;
}
.marketing-screen_n5a6wc.unsupported > .prompt {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
.marketing-screen_n5a6wc.unsupported > .prompt > .text {
	font-family: 'Museo Sans (300)';
	font-size: 16pt;
}
.marketing-screen_n5a6wc.unsupported > .prompt > .badges {
	display: flex;
	margin: 20px auto;
	justify-content: center;
	flex-wrap: wrap;
}
.marketing-screen_n5a6wc.unsupported > .prompt > .badges > a {
	margin: 0 10px 10px 10px;
	cursor: pointer;
}
.marketing-screen_n5a6wc.unsupported > .prompt > .badges > a > img {
	display: block;
	height: 55px;
}

@media (max-width: 499px) {
	.marketing-screen_n5a6wc > .section > .content > h1 {
		font-size: 30pt;
		margin: 30px 0 20px;
	}
	.marketing-screen_n5a6wc > .section > .content > h3 {
		font-size: 15pt;
	}
}