/*
  componentPath: src/app/common/components/BrowserRoot/Menu
  cssComponentId: menu_v25ec5
*/

.menu_v25ec5 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: row-reverse;
	animation: menu_v25ec5-overlay-fade-in 250ms forwards;
}
.menu_v25ec5.closing {
	animation: menu_v25ec5-overlay-fade-in 250ms reverse backwards;
}
.menu_v25ec5 > .drawer {
	display: flex;
	flex-flow: column;
	width: 250px;
	background-color: white;
	border-left: 3px solid black;
	font-size: 16px;
	animation: menu_v25ec5-drawer-open 250ms forwards;
}
.menu_v25ec5.closing > .drawer {
	animation: menu_v25ec5-drawer-close 250ms forwards;
}
.menu_v25ec5 > .drawer > .header {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 28px 38px 20px 30px;
}
.menu_v25ec5 > .drawer > .header > label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.menu_v25ec5 > .drawer > .header > .icon {
	cursor: pointer;
}
.menu_v25ec5 > .drawer > ol {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}

@keyframes menu_v25ec5-overlay-fade-in {
	from {
		background-color: rgba(0, 0, 0, 0);
	}
	to {
		background-color: rgba(0, 0, 0, 0.25);
	}
}
@keyframes menu_v25ec5-drawer-open {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes menu_v25ec5-drawer-close {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}