/*
	componentPath: src/app/common/components/BrowserRoot/NavBar
	cssComponentId: nav-bar_yh8orf
*/

.nav-bar_yh8orf {
	flex: 0 0 auto;
	display: flex;
	flex-flow: column;
	border-right: 1px solid #ccc;
	background-color: #eaeaea;
}
.nav-bar_yh8orf > ol {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}
.nav-bar_yh8orf > .footer {
	flex: 0 0 auto;
	text-align: center;
	padding: 20px;
}