/*
	componentPath: src/app/common/components/BrowserRoot/OnboardingFlow
	cssComponentId: onboarding-flow_uzsr66
*/
@import '../../../../common/styles/colors';

.onboarding-flow_uzsr66 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}
.onboarding-flow_uzsr66::before {
	content: "";
	min-height: 10px;
	flex: 1 1 auto;
}
.onboarding-flow_uzsr66::after {
	content: "";
	min-height: 10px;
	flex: 3 1 auto;
}
.onboarding-flow_uzsr66.closing {
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}
.onboarding-flow_uzsr66 > .steps {
	display: flex;
	flex-flow: column;
	min-height: 0;
	border-radius: 5px;
	animation: onboarding-flow_uzsr66-steps-slide-in 250ms forwards;
}
.onboarding-flow_uzsr66.closing > .steps {
	animation: onboarding-flow_uzsr66-steps-slide-out 250ms forwards;
}
.onboarding-flow_uzsr66 > .steps::after {
	content: "";
	display: block;
	height: 40px;
}
.onboarding-flow_uzsr66 > .steps > .titlebar {
	flex: 0 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.onboarding-flow_uzsr66 > .steps > .titlebar > .icon-right {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}
.onboarding-flow_uzsr66 > .steps > .titlebar > .icon-right > .icon_rour3d {
	font-size: 16px;
	cursor: pointer;
}
.onboarding-flow_uzsr66 > .steps > .content {
	flex: 1 1 auto;
	width: 700px;
	padding: 0 40px;
	overflow: auto;
}
.onboarding-flow_uzsr66 > .steps > .content > .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 525px;
}
.onboarding-flow_uzsr66 > .steps > .content > .container.changing {
	animation: onboarding-flow_uzsr66-container-fade-out 250ms forwards;
}
.onboarding-flow_uzsr66 > .steps > .content > .container.changed {
	animation: onboarding-flow_uzsr66-container-fade-in 250ms forwards;
}

@keyframes onboarding-flow_uzsr66-overlay-fade-in-light {
	from {
		background-color: transparent;
	}
	to {
		background-color: map-get($light-theme, $overlay-color);
	}
}
@keyframes onboarding-flow_uzsr66-overlay-fade-out-light {
	from {
		background-color: map-get($light-theme, $overlay-color);
	}
	to {
		background-color: transparent;
	}
}
@keyframes onboarding-flow_uzsr66-overlay-fade-in-dark {
	from {
		background-color: transparent;
	}
	to {
		background-color: map-get($dark-theme, $overlay-color);
	}
}
@keyframes onboarding-flow_uzsr66-overlay-fade-out-dark {
	from {
		background-color: map-get($dark-theme, $overlay-color);
	}
	to {
		background-color: transparent;
	}
}
@keyframes onboarding-flow_uzsr66-steps-slide-in {
	from {
		transform: translateY(20%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes onboarding-flow_uzsr66-steps-slide-out {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(20%);
		opacity: 0;
	}
}
@keyframes onboarding-flow_uzsr66-container-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes onboarding-flow_uzsr66-container-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@include theme using ($root, $scheme) {
	#{$root} .onboarding-flow_uzsr66 {
		@include theme-colors(
			$scheme,
			(
				"animation-name": "onboarding-flow_uzsr66-overlay-fade-in"
			)
		);
	}
	#{$root} .onboarding-flow_uzsr66.closing {
		@include theme-colors(
			$scheme,
			(
				"animation-name": "onboarding-flow_uzsr66-overlay-fade-out"
			)
		);
	}
	#{$root} .onboarding-flow_uzsr66 > .steps {
		@include theme-colors(
			$scheme,
			(
				"background": $app-background-color,
				"box-shadow": 0px 1px 3px 1px
			)
		);
	}
	#{$root} .onboarding-flow_uzsr66 > .steps > .titlebar > .icon-right > .icon_rour3d {
		@include theme-colors(
			$scheme,
			(
				"color": $text-muted-color
			)
		);
	}
}