/*
	componentPath: src/app/common/components/BrowserRoot/ReadReadinessInfoBox
	cssComponentId: read-readiness-info-box_gbdufn
*/

.read-readiness-info-box_gbdufn > .box > .content > a {
	cursor: pointer;
	font-family: 'Museo Sans (700)';
}
.read-readiness-info-box_gbdufn > .box > .content > a > img {
	display: block;
	height: 70px;
	margin: 15px auto 0 auto;
}