.read-readiness-bar > .content {
	background-color: yellow;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}
.read-readiness-bar > .content > span > a {
	text-decoration: underline;
	cursor: pointer;
}