/*
	componentPath: src/app/common/components/BrowserRoot/StarredScreen
	cssComponentId: starred-screen_8khrr8
*/

.starred-screen_8khrr8 {
	display: flex;
	flex-flow: column;
}
.starred-screen_8khrr8 > .loading-overlay_zfgtd1,
.starred-screen_8khrr8 > .starred-screen_v6yb53 {
	flex: 1 1 auto;
}