/*
        componentPath: src/app/common/components/BrowserRoot/TeamPage
        cssComponentId: team-page_a0fwiy
*/

.team-page_a0fwiy {
	.home-panel_w65z7c:nth-child(odd) {
		background-color: var(--app-background-alt-color);
	}

	.community-shoutout {
		.button_ovrlmi {
			max-width: 300px;
			margin: auto;
		}
	}

}