/*
	componentPath: src/app/common/components/screens/AotdHistoryScreen
	cssComponentId: aotd-history-screen_lpelxe
*/

.aotd-history-screen_lpelxe > .controls {
	flex: 0 0 auto;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}
.aotd-history-screen_lpelxe > .article-list_o9uw1n > li > .date {
	margin-bottom: 5px;
	font-family: 'Museo Sans (500)';
}