/*
	componentPath: src/app/common/components/screens/AuthorsEarningsScreen
	cssComponentId: authors-earnings-screen_7wh7km
*/

.authors-earnings-screen_7wh7km > h1 {
	font-family: 'Museo Sans (700)';
	font-size: 20pt;
	margin-bottom: 20px;
}
.authors-earnings-screen_7wh7km > table {
	table-layout: fixed;
	width: 100%;
	max-width: 700px;
	margin: 30px auto 0;
}
.authors-earnings-screen_7wh7km > table th,
.authors-earnings-screen_7wh7km > table td {
	padding: 5px 10px;
	background-color: var(--content-background-color);
}
.authors-earnings-screen_7wh7km > table th:first-child,
.authors-earnings-screen_7wh7km > table td:first-child {
	padding-left: 20px;
}
.authors-earnings-screen_7wh7km > table th:last-child,
.authors-earnings-screen_7wh7km > table td:last-child {
	padding-right: 20px;
}
.authors-earnings-screen_7wh7km > table tr:last-child td {
	padding-bottom: 20px;
}
.authors-earnings-screen_7wh7km > table th {
	font-family: 'Museo Sans (700)';
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.authors-earnings-screen_7wh7km > table th.writer {
	width: 50%;
}
.authors-earnings-screen_7wh7km > table th.minutes-read {
	width: 25%;
}
.authors-earnings-screen_7wh7km > table th.amount-earned {
	width: 25%;
}
.authors-earnings-screen_7wh7km > table td.writer {
	white-space: nowrap;
}
.authors-earnings-screen_7wh7km > table td.writer > .link_ke15oa {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 22px);
	overflow: hidden;
	text-overflow: ellipsis;
}
.authors-earnings-screen_7wh7km > table td.writer > .icon_rour3d {
	margin-left: 5px;
	vertical-align: middle;
}
.authors-earnings-screen_7wh7km > table td.minutes-read,
.authors-earnings-screen_7wh7km > table td.amount-earned,
.authors-earnings-screen_7wh7km > table td.amount-paid {
	text-align: right;
}

@media screen and (max-width: 550px) {
	.authors-earnings-screen_7wh7km > table,
	.authors-earnings-screen_7wh7km > table tbody,
	.authors-earnings-screen_7wh7km > table tr,
	.authors-earnings-screen_7wh7km > table td {
		display: block;
	}
	.authors-earnings-screen_7wh7km > table thead {
		display: none;
	}
	.authors-earnings-screen_7wh7km > table tr:not(:last-child) {
		margin-bottom: 15px;
	}
	.authors-earnings-screen_7wh7km > table td {
		padding-left: 20px;
		padding-right: 20px;
	}
	.authors-earnings-screen_7wh7km > table tr td:first-child {
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.authors-earnings-screen_7wh7km > table td:last-child {
		padding-bottom: 20px;
	}
	.authors-earnings-screen_7wh7km > table tr:last-child td:not(:first-child):not(:last-child) {
		padding-bottom: 5px;
	}
	.authors-earnings-screen_7wh7km > table td.writer {
		font-size: 1.15em;
		font-family: 'Museo Sans (500)';
	}
	.authors-earnings-screen_7wh7km > table td.minutes-read,
	.authors-earnings-screen_7wh7km > table td.amount-earned,
	.authors-earnings-screen_7wh7km > table td.amount-paid {
		display: flex;
		justify-content: space-between;;
	}
	.authors-earnings-screen_7wh7km > table td.minutes-read::before,
	.authors-earnings-screen_7wh7km > table td.amount-earned::before,
	.authors-earnings-screen_7wh7km > table td.amount-paid::before {
		content: attr(data-header);
		font-family: 'Museo Sans (500)';
		color: var(--text-muted-color);
	}
}