/*
	componentPath: src/app/common/components/screens/AuthorScreen
	cssComponentId: author-screen_2cri7v
*/

.author-screen_2cri7v {
	display: flex;
	flex-flow: column;
}
.author-screen_2cri7v > .loading-overlay_zfgtd1,
.author-screen_2cri7v > .info-box_8xzdd8 {
	flex: 1 1 auto;
}
.author-screen_2cri7v > .profile {
	flex: 0 0 auto;
	margin-bottom: 20px;
}
.author-screen_2cri7v > .profile > h1 {
	font-family: "Museo Sans (700)";
	font-size: 22pt;
	font-weight: normal;
	text-align: center;
}
.author-screen_2cri7v > .article-list_o9uw1n,
.author-screen_2cri7v > .page-selector_a8tbpb {
	flex: 0 0 auto;
}