/*
	componentPath: src/app/common/components/screens/AuthorScreen
	cssComponentId: author-screen_2cri7v
*/

.author-screen_2cri7v {
	min-height: 100%;
}
.author-screen_2cri7v > .header {
	text-align: center;
	background-color: #efefef;
}
.author-screen_2cri7v > .main > .content > .profile {
	margin-bottom: 20px;
}
.author-screen_2cri7v > .main > .content > .profile > h1 {
	font-family: "Museo Sans (700)";
	font-size: 22pt;
	font-weight: normal;
	text-align: center;
}