/*
	componentPath: src/app/common/components/screens/CommentsScreen
	cssComponentId: comments-screen_udh2l6
*/

.comments-screen_udh2l6 {
	display: flex;
	flex-flow: column;
}
.comments-screen_udh2l6 > .loading-overlay_zfgtd1,
.comments-screen_udh2l6 > .info-box_whou0t {
	flex: 1 1 auto;
}
.comments-screen_udh2l6 > .article-details_d2vnmv,
.comments-screen_udh2l6 > .comments-section_mqmgnd {
	flex: 0 0 auto;
}
.comments-screen_udh2l6 > .article-details_d2vnmv {
	margin-bottom: 15px;
}