/*
	componentPath: src/app/common/components/screens/CommentsScreen
	cssComponentId: comments-screen_udh2l6
*/

.comments-screen_udh2l6 {
	min-height: 100%;
}
.comments-screen_udh2l6 > .proof {
	display: flex;
	margin-bottom: 20px;
	padding: 10px;
	justify-content: center;
}
.comments-screen_udh2l6 > .proof > .reader {
	text-align: center;
	font-size: 20pt;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46%;
}
.comments-screen_udh2l6 > .proof > .stamp > img {
	display: block;
	width: 140px;
}
.comments-screen_udh2l6 > h3 {
	padding-bottom: 5px;
	font-size: 16px;
}
.comments-screen_udh2l6 > .comment-box {
	margin-bottom: 10px;
}

@media (max-width: 499px) {
	.comments-screen_udh2l6 > .proof {
		flex-flow: column;
	}
	.comments-screen_udh2l6 > .proof > .reader {
		margin-bottom: 20px;
		width: auto;
	}
	.comments-screen_udh2l6 > .proof > .stamp > img {
		margin: 0 auto;
	}
}