/*
        componentPath: src/app/common/components/screens/FreeTrialScreen
        cssComponentId: free-trial-screen_4xoojq
*/

.free-trial-screen_4xoojq {

	.intro {
		text-align: center;
		margin: 0 1rem 1rem 1rem;
	}

	.stats, .tweet-prompt {
		max-width: 360px;
		margin: auto;
	}

	.stats {
		margin-bottom: 0.7rem;
		text-align: center;

		> .metric,
		> .metric.link_ke15oa > span {
			text-align: center;
			font-size: 1.1rem;
			line-height: 1.4;
			display: block;

			&.views--used {
				margin-bottom: 1rem;
			}
		}
	}

	.tweet-prompt {
		border: 1px solid var(--content-border-color);
		padding: 1rem;

		text-align: center;
		// > p {
		// 	text-align: center;
		// }
	}

	.subscribe-prompt {
		text-align: center;

		> h2 {
			text-align: center;
			font-size: 1.3rem;
			margin: 0.7rem;
		}

		> ul.value-points {
			text-align: start;
			margin: 0 auto;
			max-width: min(280px, 90%);
			> li {
				line-height: 1.3;
				margin: 8px auto;
				> .icon_rour3d {
					// checkmarks
					margin-right: 0.4em;
					vertical-align: middle;
					transform: translateY(-2px);
				}
			}
		}
	}



}

:root[data-com_readup_theme] .free-trial-screen_4xoojq {
	.tweet-prompt {
		> .button_ovrlmi {
			margin-top: 0.8rem;
			background-color: rgb(29, 155, 240);
		}
	}
}