/*
	componentPath: src/app/common/components/screens/HistoryScreen
	cssComponentId: history-screen_lcny0g
*/

.history-screen_lcny0g {
	display: flex;
	flex-flow: column;
}
.history-screen_lcny0g > p {
	flex: 0 0 auto;
	margin: 20px 0 30px 0;
	text-align: center;
}
.history-screen_lcny0g > .controls {
	flex: 0 0 auto;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}
.history-screen_lcny0g > .article-list_o9uw1n,
.history-screen_lcny0g > .page-selector_a8tbpb {
	flex: 0 0 auto;
}
.history-screen_lcny0g > .loading-overlay_zfgtd1,
.history-screen_lcny0g > .info-box_whou0t {
	flex: 1 1 auto;
}
