/*
	componentPath: src/app/common/components/screens/HistoryScreen
	cssComponentId: history-screen_lcny0g
*/

.history-screen_lcny0g {
	min-height: 100%;
}
.history-screen_lcny0g > p {
	margin: 20px 0 30px 0;;
	text-align: center;
}