/*
	componentPath: src/app/common/components/screens/LeaderboardsScreen
	cssComponentId: leaderboards-screen_wuzsob
*/

.leaderboards-screen_wuzsob {
	display: flex;
	flex-flow: column;
}
.leaderboards-screen_wuzsob > .loading-overlay_zfgtd1,
.leaderboards-screen_wuzsob > .reader-leaderboards_8eclav {
	flex: 1 1 auto;
}
.leaderboards-screen_wuzsob > .header-selector_9li9z5 {
	flex: 0 0 auto;
	margin-bottom: 20px;
}