/*
	componentPath: src/app/common/components/screens/LeaderboardsScreen
	cssComponentId: leaderboards-screen_wuzsob
*/

.leaderboards-screen_wuzsob {
	display: flex;
	flex-flow: column;
}
.leaderboards-screen_wuzsob > .reader-leaderboards_8eclav {
	flex: 1 1 auto;
}