/*
	componentPath: src/app/common/components/screens/MyImpactScreen
	cssComponentId: my-impact-screen_n8wfkf
*/

.my-impact-screen_n8wfkf {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.my-impact-screen_n8wfkf::before,
.my-impact-screen_n8wfkf::after {
	content: "";
	display: block;
	flex: 1 1 auto;
}
.my-impact-screen_n8wfkf > .content-block {
	text-align: center;
}
.my-impact-screen_n8wfkf.fade-in > .content-block {
	opacity: 0;
	animation: my-impact-screen_n8wfkf-fade-in 750ms 750ms forwards;
}
.my-impact-screen_n8wfkf > .content-block.toggle {
	margin-bottom: 10px;
}
.my-impact-screen_n8wfkf > .content-block.title {
	font-family: 'Museo Sans (500)';
	font-size: 15pt;
}
.my-impact-screen_n8wfkf > .spacer {
	flex: 1 1 auto;
	max-height: 30px;
}
.my-impact-screen_n8wfkf > img {
	width: 100%;
	max-width: 400px;
}
.my-impact-screen_n8wfkf > .distribution-chart_n97yi3 {
	margin: 10px 0;
	width: 100%;
	max-width: 300px;
}

.my-impact-screen_n8wfkf > .sticky-note_zcw6jg {
	margin-bottom: 1.6rem;
}

@keyframes my-impact-screen_n8wfkf-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

// screen styles
.my-impact-screen_n8wfkf {

	.intro {
		text-align: center;
		margin: 0 1rem 1rem 1rem;
	}

	.stats, .tweet-prompt {
		max-width: min(360px, 96%);
		width: 100%;
		margin: auto;
		box-sizing: border-box;
	}

	.stats {
		margin-bottom: 0.7rem;
		text-align: center;

		> .metric,
		> .metric.link_ke15oa > span {
			text-align: center;
			font-size: 1.1rem;
			line-height: 1.4;
			display: block;
		}
		> .metric.article-completions {
				margin-bottom: 1rem;
		}
	}

	.tweet-prompt {
		border: 1px solid var(--content-border-color);
		padding: 1rem;

		text-align: center;
		// > p {
		// 	text-align: center;
		// }
	}

	.subscribe-prompt {
		text-align: center;

		> h2 {
			text-align: center;
			font-size: 1.3rem;
			margin: 0.7rem;
		}
	}

}

:root[data-com_readup_theme] .my-impact-screen_n8wfkf {
	.tweet-prompt {
		> .button_ovrlmi {
			margin-top: 0.8rem;
			background-color: rgb(29, 155, 240);
		}
	}
}