/*
	componentPath: src/app/common/components/screens/MyReadsScreen
	cssComponentId: my-reads-screen_56ihtk
*/

.my-reads-screen_56ihtk {
	display: flex;
	flex-flow: column;
}
.my-reads-screen_56ihtk > .loading-overlay_zfgtd1,
.my-reads-screen_56ihtk > .info-box_whou0t {
	flex: 1 1 auto;
}
.my-reads-screen_56ihtk > .article-list_o9uw1n,
.my-reads-screen_56ihtk > .page-selector_a8tbpb {
	flex: 0 0 auto;
}
.my-reads-screen_56ihtk > .controls {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 10px 0 20px;
}
.my-reads-screen_56ihtk > .controls > .list-selector {
	flex: 0 0 auto;
	display: flex;
}
.my-reads-screen_56ihtk > .controls > .list-selector > button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Museo Sans (100)';
	font-size: 22pt;
	margin: 0;
	padding: 0 10px;
}
.my-reads-screen_56ihtk > .controls > .list-selector > button.selected {
	font-family: 'Museo Sans (700)';
}
.my-reads-screen_56ihtk > .controls > .list-selector > button + button {
	margin-left: 10px;
}

@media (max-width: 525px) {
	.my-reads-screen_56ihtk > .controls {
		flex-flow: column;
	}
	.my-reads-screen_56ihtk > .controls > .list-selector {
		width: 100%;
		justify-content: center;
		margin-bottom: 15px;
	}
	.my-reads-screen_56ihtk > .controls > .list-selector > button {
		font-size: 20pt;
	}
}