/*
	componentPath: src/app/common/components/screens/PizzaScreen
 	cssComponentId: pizza-screen_vkc6ks
*/

.pizza-screen_vkc6ks > h3 {
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}
.pizza-screen_vkc6ks > h3:first-child {
	margin-top: 0;
}
.pizza-screen_vkc6ks > h3 > .refresh-button {
	margin-left: 5px;
}
.pizza-screen_vkc6ks > h4 {
	font-size: 18px;
	margin: 10px 0;
	text-align: center;
}
.pizza-screen_vkc6ks > p {
	text-align: center;
	margin: 5px 0;
}
.pizza-screen_vkc6ks > .prompt-wrapper {
	display: flex;
	justify-content: center;
}
.pizza-screen_vkc6ks > .prompt-wrapper > .prompt {
	padding: 10px;
}
.pizza-screen_vkc6ks > .prompt-wrapper > .prompt > span {
	text-decoration: underline;
	cursor: pointer;
}
.pizza-screen_vkc6ks > .start-prompt > .prompt {
	background: chartreuse;
	border: 1px solid green;
}
.pizza-screen_vkc6ks > .leaderboards {
	display: flex;
	flex-direction: row-reverse;
}
.pizza-screen_vkc6ks > .leaderboards > .container {
	width: 50%;
}
.pizza-screen_vkc6ks > .leaderboards > .container:first-child {
	padding-left: 5px;
}
.pizza-screen_vkc6ks > .leaderboards > .container:last-child {
	padding-right: 5px;
}
.pizza-screen_vkc6ks > .leaderboards > .container > .leaderboard {
	width: 100%;
	border: 1px solid black;
	margin: 10px 0;
	background-color: white;
}
.pizza-screen_vkc6ks > .leaderboards > .container > .leaderboard > caption {
	font-weight: bold;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: black;
	padding: 2px;
}
.pizza-screen_vkc6ks > .leaderboards > .container > .leaderboard > thead> tr > th {
	border: 1px solid black;
	background-color: beige;
	padding: 2px;
}
.pizza-screen_vkc6ks > .leaderboards > .container > .leaderboard > tbody> tr > td {
	border: 1px solid black;
	padding: 2px;
}
.pizza-screen_vkc6ks > .leaderboards > .container > .leaderboard > tbody> tr.highlight > td {
	background-color: aqua;
}
.pizza-screen_vkc6ks > .leaderboards > .container > .leaderboard.winners > caption {
	background: palegreen;
}
.pizza-screen_vkc6ks > .leaderboards > .container > .leaderboard.contenders > caption {
	background: violet;
}
.pizza-screen_vkc6ks > .quit-prompt {
	margin-top: 20px;
}
.pizza-screen_vkc6ks > .quit-prompt > .prompt {
	color: gray;
	background: antiquewhite;
	border: 1px solid burlywood;
}

@media (max-width: 767px) {
	.pizza-screen_vkc6ks > .leaderboards {
		flex-direction: column;
	}
	.pizza-screen_vkc6ks > .leaderboards > .container {
		width: auto;
	}
	.pizza-screen_vkc6ks > .leaderboards > .container:first-child {
		padding-left: 0;
	}
	.pizza-screen_vkc6ks > .leaderboards > .container:last-child {
		padding-right: 0;
	}
}