/*
	componentPath: src/app/common/components/screens/ProfileScreen
	cssComponentId: profile-screen_1u1j1e
*/

.profile-screen_1u1j1e {
	min-height: 100%;
	display: flex;
	flex-flow: column;
}
.profile-screen_1u1j1e > .header {
	flex: 0 0 auto;
	text-align: center;
	background-color: #efefef;
}
.profile-screen_1u1j1e > .main {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}
.profile-screen_1u1j1e > .main > .content {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
	width: 100%;
	box-sizing: border-box;
}
.profile-screen_1u1j1e > .main > .content > .profile {
	flex: 0 0 auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 20px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .user-name {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-screen_1u1j1e > .main > .content > .profile > .user-name > .name {
	font-family: 'Museo Sans (700)';
	font-size: 22pt;
}
.profile-screen_1u1j1e > .main > .content > .profile > .user-name > .leaderboard-badges_s4o6nj {
	font-size: 16pt;
	margin-left: 15px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .following-count {
	font-family: 'Museo Sans (500)';
	font-size: 15pt;
	margin-top: 20px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .sticky-note_zcw6jg {
	margin-top: 20px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .sticky-note_zcw6jg > span {
	text-decoration: underline;
	cursor: pointer;
}
.profile-screen_1u1j1e > .main > .content > .profile > .button_ovrlmi {
	margin-top: 20px;
}
.profile-screen_1u1j1e > .main > .content > .article-list_o9uw1n,
.profile-screen_1u1j1e > .main > .content > .page-selector_a8tbpb {
	flex: 0 0 auto;
}