/*
	componentPath: src/app/common/components/screens/ProfileScreen
	cssComponentId: profile-screen_1u1j1e
*/

.profile-screen_1u1j1e {
	min-height: 100%;
}
.profile-screen_1u1j1e > .header {
	text-align: center;
	background-color: #efefef;
}
.profile-screen_1u1j1e > .main > .content > .profile {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 20px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .user-name {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .user-name > .name {
	font-family: 'Museo Sans (700)';
	font-size: 22pt;
}
.profile-screen_1u1j1e > .main > .content > .profile > .user-name > .leaderboard-badges_s4o6nj {
	font-size: 16pt;
	margin-left: 15px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .following-count {
	font-family: 'Museo Sans (500)';
	font-size: 15pt;
}
.profile-screen_1u1j1e > .main > .content > .profile > .following-count.followees {
	margin-bottom: 15px;
}
.profile-screen_1u1j1e > .main > .content > .profile > .following-count.followers {
	margin-top: 15px;
}