/*
	componentPath: src/app/common/components/screens/SearchScreen
	cssComponentId: search-screen_cdqndl
*/

.search-screen_cdqndl > .filters {
	margin-bottom: 30px;
}
.search-screen_cdqndl > .no-results {
	text-align: center;
}