/*
	componentPath: src/app/common/components/screens/StarredScreen
	cssComponentId: starred-screen_v6yb53
*/

.starred-screen_v6yb53 {
	flex: 0 0 auto;
	display: flex;
	flex-flow: column;
}
.starred-screen_v6yb53 > .controls {
	flex: 0 0 auto;
	margin-bottom: 10px;
}
.starred-screen_v6yb53 > .article-list_o9uw1n,
.starred-screen_v6yb53 > .page-selector_a8tbpb {
	flex: 0 0 auto;
}
.starred-screen_v6yb53 > .loading-overlay_zfgtd1,
.starred-screen_v6yb53 > .info-box_whou0t {
	flex: 1 1 auto;
}