/*
	componentPath: src/app/common/components/screens/StatsScreen
	cssComponentId: stats-screen_mqbxl8
*/
@import '../../../../common/styles/colors';

.stats-screen_mqbxl8 > .reading-time > form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.stats-screen_mqbxl8 > .reading-time > form > .title {
	font-family: 'Museo Sans (500)';
}
.stats-screen_mqbxl8 > .reading-time > .loading-container {
	position: relative;
	padding-top: 50%;
}
.stats-screen_mqbxl8 > .reading-time > .chart {
	position: relative;
	font-size: 10pt;
}
.stats-screen_mqbxl8 > .reading-time > .chart > .y-label {
	position: absolute;
	top: calc(50% - 17px);
	left: 0;
	transform-origin: top left;
	transform: rotate(-90deg) translateX(-50%);
}
.stats-screen_mqbxl8 > .reading-time > .chart > .placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	font-size: 13pt;
	text-align: center;
	font-family: 'Museo Sans (700)';
	width: 70%;
}
.stats-screen_mqbxl8 > .reading-time > .chart > .placeholder > .padlock {
	margin: 10px auto;
	font-size: 48px;
}
.stats-screen_mqbxl8 > .reading-time > .key {
	font-size: 12pt;
}
.stats-screen_mqbxl8 > .reading-time > .key > li {
	text-align: center;
}
.stats-screen_mqbxl8 > .reading-time > .key > li:first-child {
	margin-bottom: 5px;
}
.stats-screen_mqbxl8 > .reading-time > .key > li::before {
	content: "";
	width: 25px;
	height: 10px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.stats-screen_mqbxl8 > .reading-time > .key > li::before {
	border-width: 1px;
	border-style: solid;
}

@include theme using ($root, $scheme) {
	#{$root} .stats-screen_mqbxl8 > .reading-time > .key > li:nth-child(1)::before {
		@include theme-colors(
			$scheme,
			(
				"background-color": $chart-1-background-color,
				"border-color": $chart-1-border-color
			)
		);
	}
	#{$root} .stats-screen_mqbxl8 > .reading-time > .key > li:nth-child(2)::before {
		@include theme-colors(
			$scheme,
			(
				"background-color": $chart-2-background-color,
				"border-color": $chart-2-border-color
			)
		);
	}
}