/*
	componentPath: src/app/common/components/screens/StatsScreen
	cssComponentId: stats-screen_mqbxl8
*/

.stats-screen_mqbxl8 > .reading-time > form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.stats-screen_mqbxl8 > .reading-time > form > .title {
	font-family: 'Museo Sans (500)';
}
.stats-screen_mqbxl8 > .reading-time > .loading-container {
	position: relative;
	padding-top: 50%;
}
.stats-screen_mqbxl8 > .reading-time > .chart {
	position: relative;
	font-size: 10pt;
}
.stats-screen_mqbxl8 > .reading-time > .chart > .y-label {
	position: absolute;
	top: calc(50% - 17px);
	left: 0;
	transform-origin: top left;
	transform: rotate(-90deg) translateX(-50%);
}
.stats-screen_mqbxl8 > .reading-time > .chart > .placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	font-size: 13pt;
	text-align: center;
	font-family: 'Museo Sans (700)';
	width: 70%;
}
.stats-screen_mqbxl8 > .reading-time > .chart > .placeholder > .padlock {
	margin: 10px auto;
	font-size: 48px;
}