.app {
	width: 375px;
	font-family: 'Bitter';
	font-size: 13px;
	letter-spacing: 0.02em;
}
.app > .ready-indicator {
	border: 5px solid green;
	padding: 12px 4px;
	border-radius: 12px;
	background: palegreen;
}
.app > .ready-indicator > h1 {
	text-align: center;
	font-size: 17px;
	color: green;
}
.app > h1 {
	padding: 5px 0;
	text-align: center;
}
.app > h1 > a {
	display: inline-block;
}
.app > h1 > a > svg {
	display: block;
	width: 170px;
}
.app > .signed-out-warning {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border: 1px dashed gray;
	padding: 5px;
}
.app > .signed-out-warning > i {
	display: block;
	width: 28px;
	flex: 0 0 auto;
}
.app > .signed-out-warning > i > svg {
	display: block;
}
.app > .signed-out-warning > span {
	font-size: 12px;
	padding-left: 8px;
}
.app > .signed-out-warning > span > span {
	text-decoration: underline;
	cursor: pointer;
}
.app > .nav-bar {
	text-align: center;
}
.app > .article-details {
	margin-top: 10px;
}
.app > .article-placeholder {
	padding: 15px 0;
   color: #999;
   font-style: italic;
	text-align: center;
}