/*
	componentPath: src/extension/browser-action/components/App
	cssComponentId: app_79z645
*/

.app_79z645 {
	width: 375px;
}
.app_79z645 > h1 {
	padding: 5px 0;
	text-align: center;
}
.app_79z645 > h1 > a {
	display: block;
	width: 64px;
	margin: 0 auto;
}
.app_79z645 > h1 > a > img {
	display: block;
	width: 100%;
}
.app_79z645 > .signed-out-warning {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border: 1px dashed gray;
	padding: 5px;
}
.app_79z645 > .signed-out-warning > img {
	display: block;
	width: 28px;
	flex: 0 0 auto;
}
.app_79z645 > .signed-out-warning > span {
	font-size: 12px;
	padding-left: 8px;
}
.app_79z645 > .signed-out-warning > span > span {
	text-decoration: underline;
	cursor: pointer;
}
.app_79z645 > .nav-bar_2crc9o {
	text-align: center;
}
.app_79z645 > .article-details_d2vnmv {
	margin-top: 10px;
}
.app_79z645 > .article-placeholder {
	padding: 15px 0;
   color: #999;
   font-style: italic;
	text-align: center;
}