/*
	componentPath: src/app/common/components/controls/NotificationPreferencesControl/AlertSelector
	cssComponentId: alert-selector_esabj4
*/

.alert-selector_esabj4 > .controls > .children > ol {
	margin-top: 5px;
}
.alert-selector_esabj4 > .controls > .children > ol > li {
	line-height: 24px;
}
.alert-selector_esabj4 > .controls > .children > ol > li > label {
	vertical-align: middle;
}
.alert-selector_esabj4 > .controls > .children > ol > li > label > span {
	margin-left: 5px;
}
.alert-selector_esabj4 > .controls > .children > ol > li > select {
	height: 24px;
	box-sizing: border-box;
	vertical-align: middle;
	margin-left: 5px;
}