.edit-notifications-dialog > .fields > ul > li {
	padding: 3px 0 0 10px
}
.edit-notifications-dialog > .fields > ul > li > label > input {
	vertical-align: middle;
	margin-right: 3px;
}
.edit-notifications-dialog > .fields > ul > li > label > span {
	vertical-align: middle;
}