/*
	componentPath: src/app/common/components/SettingsPage/LinkAccountDialog
	cssComponentId: link-account-dialog_q2jc4k
*/

.link-account-dialog_q2jc4k > .children > .provider > .field-container > label  {
	line-height: 28px;
}
.link-account-dialog_q2jc4k > .children > .integrations {
	margin-top: 10px;
}