/*
	componentPath: src/app/common/components/SettingsPage/SubscriptionControl
	cssComponentId: subscription-control_ryw1sb
*/

.subscription-control_ryw1sb {
	display: inline-block;
}
.subscription-control_ryw1sb > .title {
	font-family: "Museo Sans (700)";
}
.subscription-control_ryw1sb > .price-name,
.subscription-control_ryw1sb > .price-amount,
.subscription-control_ryw1sb > .payment-info,
.subscription-control_ryw1sb > .message,
.subscription-control_ryw1sb > .actions > .action-link_ftamt8 {
	margin-top: 5px;
}
.subscription-control_ryw1sb > .payment-info {
	display: flex;
	align-items: center;
}
.subscription-control_ryw1sb > .payment-info > .icon_rour3d {
	width: 30px;
	height: 22px;
}
.subscription-control_ryw1sb > .payment-info > .last-four {
	margin: 0 10px;
}
.subscription-control_ryw1sb > .payment-info > .popover_r7v81v {
	margin-left: 10px;
}
.subscription-control_ryw1sb > .payment-info > .popover_r7v81v > .menu > .content {
	display: block;
	position: relative;
	padding: 5px;
	background: var(--content-background-color);
}
.subscription-control_ryw1sb > .message  > .nowrap {
	white-space: nowrap;
}
.subscription-control_ryw1sb > .actions {
	display: flex;
	flex-wrap: wrap;
}
.subscription-control_ryw1sb > .actions > .action-link_ftamt8 {
	margin-right: 10px;
}