/*
	componentPath: src/app/common/components/SettingsPage/WriterAccountControl
	cssComponentId: writer-account-control_yerlvh
*/

.writer-account-control_yerlvh > p:not(:last-child) {
	margin-bottom: 10px;
}
