/*
	componentPath: src/app/common/components/screens/LeaderboardScreen/AuthorLeaderboards
	cssComponentId: author-leaderboards_4rtwc1
*/

.author-leaderboards_4rtwc1 .spacer {
	margin: 0 5px;
}
.author-leaderboards_4rtwc1 .spacer::before {
	content: "•";
	font-style: normal;
}

.author-leaderboards_4rtwc1 .load-more-button {
	cursor: pointer;
	margin-top: 10px;
	.icon_rour3d {
		vertical-align: middle;
		transform: translateY(-2px);
	}
}

// switching between desktop and mobile style
// logged-in means the left sider bar is shown, which has a width of 188.633px
// => switch to mobile styles earlier

$side-bar-width: 188.63px;
// $leaderboards-bp: 768px;
$leaderboards-bp: 720px;
$leaderboards-logged-in-bp: $leaderboards-bp + $side-bar-width;

.author-leaderboards_4rtwc1 > .desktop-container {
	display: none;
}
.author-leaderboards_4rtwc1 > .mobile-container {
	display: block;
}

.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table {
	th.minutes-read,
	th.amount-earned {
		width: 15%;
	}
	th.writer {
		width: 25%;
	}
	th.top-article {
		width: 35%;
	}
	th.status {
		width: 10%;
	}
}

@mixin desktop-column-widths {
	th.writer {
		width: 20%;
	}
	th.minutes-read {
		width: 20%;
	}
	th.top-article {
		width: 34%;
	}
	th.amount-earned {
		width: 16%;
	}
	th.status {
		width: 10%;
	}
	td.minutes-read,
	td.amount-earned {
		text-align: right;
		padding-right: 3em;
	}
}

$columnWidthChangeBp: 890px;
@media screen and (min-width: $columnWidthChangeBp) {
	.author-leaderboards_4rtwc1:not(.logged-in) > .desktop-container > .content-box_kkp9lc > table {
		@include desktop-column-widths();
	}
}

@media screen and (min-width: $columnWidthChangeBp + $side-bar-width) {
	.author-leaderboards_4rtwc1.logged-in > .desktop-container > .content-box_kkp9lc > table {
		@include desktop-column-widths();
	}
}

@media screen and (min-width: $leaderboards-bp) {
	.author-leaderboards_4rtwc1:not(.logged-in) > .desktop-container {
		display: block;
	}
	.author-leaderboards_4rtwc1:not(.logged-in) > .mobile-container {
		display: none;
	}
}

@media screen and (min-width: $leaderboards-logged-in-bp) {
	.author-leaderboards_4rtwc1.logged-in > .desktop-container {
		display: block;
	}
	.author-leaderboards_4rtwc1.logged-in > .mobile-container {
		display: none;
	}
}


.author-leaderboards_4rtwc1 .details {
// .author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.top-article {
	display: inline-block;
	max-width: 100%;

	font-family: "Museo Sans (300)";
	font-size: 11pt;
	color: var(--text-muted-color);

	> .source {
		max-width: 100%;
		white-space: nowrap;
		vertical-align: middle;
		display: inline-block;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.author-leaderboards_4rtwc1 > .desktop-container .details {
	max-width: 85%;
	white-space: nowrap;
}

/* -- desktop styles -- */

.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.top-article > .details {
	> .source {
		// avoid collapsing on desktop -> trim source title
		max-width: 50%;
	}
}

.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	// max-width: 700px;
	margin: 0 auto;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table th,
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td {
	padding: 8px 10px;
	background-color: var(--content-background-color);
	border-bottom: 1px solid var(--reader-header-border-color);
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table th:first-child,
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td:first-child {
	padding-left: 20px;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table th:last-child,
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td:last-child {
	padding-right: 20px;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table tr:last-child td {
	padding-bottom: 20px;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table th {
	font-family: 'Museo Sans (700)';
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table th.status > .icon_rour3d,
.author-leaderboards_4rtwc1 > .mobile-container > .content-box_kkp9lc > .top-line > .earnings > .icon_rour3d
{
	margin-left: 0.5em;
	vertical-align: middle;
	transform: translateY(-2px);
	cursor: pointer;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.writer {
	white-space: nowrap;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.writer .link_ke15oa,
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.top-article > .link_ke15oa
 {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100%);
	overflow: hidden;
	text-overflow: ellipsis;
}



.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.writer > span > .icon_rour3d {
	vertical-align: middle;
	transform: translateY(-2px);
	margin-left: .2em;
	cursor: pointer;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.amount-earned > .content {
	display: inline-flex;
	align-items: center;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.amount-earned > .content > .icon_rour3d {
	margin-left: 5px;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.amount-earned > .content > .icon_rour3d.hidden {
	visibility: hidden;
}
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.minutes-read,
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.amount-earned,
.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.amount-paid {
	text-align: right;
}


.author-leaderboards_4rtwc1 > .desktop-container > .content-box_kkp9lc > table td.status > .icon_rour3d {
	cursor: pointer;
}

/* -- mobile card styles -- */

$left-right-padding: 12px;
$top-bot-padding: 10px;
.author-leaderboards_4rtwc1 > .mobile-container > .content-box_kkp9lc {
	margin: 1em 5px;
	// override
	padding: $top-bot-padding 0 0 0;
	// just in case
	overflow-x: hidden;

	> .author-section {
		padding: 0 $left-right-padding $top-bot-padding $left-right-padding;

		> .top-line {
			display: flex;
			justify-content: space-between;

			.icon_rour3d {
				vertical-align: middle;
				transform: translateY(-2px);
				margin-left: .2em;
				cursor: pointer;
			}

			// writer link
			.link_ke15oa {
				font-weight: 600;
				// wrap over long names
				white-space: normal;
			}
		}

		> .minutes-read {
			display: inline-block;
			margin: 8px 0 4px 0
		}
	}
	> .article-section {
		background-color: var(--leaderboards-article-background-color);
		padding: $top-bot-padding $left-right-padding;

		.top-article {
			font-size: 11pt;
			margin-bottom: 3px;

			> .icon_rour3d {
				width: 0.75em;
				height: 0.75em;
				> .icon {
					stroke-width: 1.5;
				}
			}
		}
		.link_ke15oa {
			// overrides
			white-space: normal;
			text-decoration: none;

		}
	}
}

.author-leaderboards_4rtwc1 > .mobile-container .load-more-button-mobile-container {
	display: flex;
	justify-content: center;
}

@mixin mobile-wrap-over-earnings {
	.author-section {
		> .top-line {
			flex-wrap: wrap;
			> .link_ke15oa {
				// wrap over
				width: 100%;
			}
			> .earnings {
				font-size: 12pt;
				margin-top: 5px;
			}
		}
		> .minutes-read {
			font-size: 12pt;
			margin: 5px 0 0 0;
		}
	}
}

$wrap-over-earnings-bp: 350px;
@media screen and (max-width: $wrap-over-earnings-bp) {
	.author-leaderboards_4rtwc1:not(.logged-in) > .mobile-container {
		@include mobile-wrap-over-earnings()
	}
}

@media screen and (max-width: $wrap-over-earnings-bp + $side-bar-width) {
	.author-leaderboards_4rtwc1.logged-in > .mobile-container {
		@include mobile-wrap-over-earnings()
	}
}