/*
	componentPath: src/app/common/components/screens/LeaderboardScreen/LeaderboardHeader
	cssComponentId: leaderboard-header_ruu55d
*/
@import '../../../../../common/styles/colors';

.leaderboard-header_ruu55d {
	padding: 5px 0 10px 0;
	text-align: center;
}
.leaderboard-header_ruu55d > .icon {
	display: inline-block;
	vertical-align: middle;
}
.leaderboard-header_ruu55d > .icon:first-child {
	margin-right: 10px;
}
.leaderboard-header_ruu55d > .icon:last-child {
	margin-left: 10px;
	cursor: pointer;
}
.leaderboard-header_ruu55d > .text {
	font-family: 'Museo Sans (700)';
	font-size: 15pt;
	vertical-align: middle;
}

@include theme using ($root, $scheme) {
	#{$root} .leaderboard-header_ruu55d > .icon:last-child {
		@include theme-colors(
			$scheme,
			(
				"color": $intent-neutral-color
			)
		);
	}
}