/*
	componentPath: src/app/common/components/screens/LeaderboardScreen/ReaderLeaderboard
	cssComponentId: reader-leaderboard_ky3yfu
*/
@import '../../../../../common/styles/colors';

.reader-leaderboard_ky3yfu > .break {
	margin: 0 0 5px 0;
	border-style: solid;
	border-width: 1px 0 0 0;
}

@include theme using ($root, $scheme) {
	#{$root} .reader-leaderboard_ky3yfu > .break {
		@include theme-colors(
			$scheme,
			(
				"border-color": $content-divider-color
			)
		);
	}
}