/*
	componentPath: src/app/common/components/screens/LeaderboardScreen/ReaderLeaderboards
	cssComponentId: reader-leaderboards_8eclav
*/
@import '../../../../../common/styles/colors';

.reader-leaderboards_8eclav > .leaderboards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.reader-leaderboards_8eclav > .leaderboards > .reader-leaderboard_ky3yfu,
.reader-leaderboards_8eclav > .leaderboards > .placeholder {
	flex: 1 1 0;
	box-sizing: border-box;
	min-width: 320px;
	margin: 0 5px 10px 5px;
}
.reader-leaderboards_8eclav > .leaderboards > .placeholder {
	padding: 10px 15px;
}
.reader-leaderboards_8eclav > .leaderboards > .reader-leaderboard_ky3yfu > .footer > .streak-status {
	text-align: center;
	padding: 10px 0 5px 0;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 5px;
	font-family: 'Museo Sans (700)';
	font-size: 12pt;
}

@media (max-width: 659px) {
	.reader-leaderboards_8eclav > .leaderboards > .reader-leaderboard_ky3yfu {
		min-width: 300px;
	}
}

@include theme using ($root, $scheme) {
	#{$root} .reader-leaderboards_8eclav > .leaderboards > .reader-leaderboard_ky3yfu > .footer > .streak-status {
		@include theme-colors(
			$scheme,
			(
				"border-top-color": $content-divider-color
			)
		);
	}
}