/*
	componentPath: src/common/components/ActionLink
	cssComponentId: action-link_ftamt8
*/
@import '../styles/colors';

.action-link_ftamt8 {
	position: relative;
	text-decoration: underline;
	cursor: pointer;
	color: inherit;
}
.action-link_ftamt8.busy {
	text-decoration: none;
	cursor: default;
}
.action-link_ftamt8.disabled {
	cursor: default;
}
.action-link_ftamt8 > .icon_rour3d {
	vertical-align: text-top;
}
.action-link_ftamt8 > .spinner-icon_6s5uk2,
.action-link_ftamt8 > .icon-left {
	margin-right: 0.3em;
}
.action-link_ftamt8 > .icon-right {
	margin-left: 0.3em;
}
.action-link_ftamt8 > .alert-badge_ejzklr {
	right: -16px;
}

@include theme using ($root, $scheme) {
	#{$root} .action-link_ftamt8.disabled {
		@include theme-colors(
			$scheme,
			(
				"color": $control-disabled-color
			)
		);
	}
}