/*
	componentPath: src/common/components/AlertBadge
	cssComponentId: alert-badge_ejzklr
*/
@import '../styles/colors';

.alert-badge_ejzklr {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	font-size: 8pt;
	font-family: 'Museo Sans (700)';
}
.alert-badge_ejzklr.visible {
	animation: alert-badge_ejzklr-scale-up 500ms forwards;
}
.alert-badge_ejzklr.hiding {
	animation: alert-badge_ejzklr-scale-down 500ms forwards;
}
.alert-badge_ejzklr.hidden {
	transform: scale(0);
}

@keyframes alert-badge_ejzklr-scale-up {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes alert-badge_ejzklr-scale-down {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@include theme using ($root, $scheme) {
	#{$root} .alert-badge_ejzklr {
		@include theme-colors(
			$scheme,
			(
				"background-color": $intent-alert-color,
				"color": $intent-text-color
			)
		);
	}
}