/*
	componentPath: src/common/components/AotdPopover
	cssComponentId: aotd-popover_cgfd5c
*/

.aotd-popover_cgfd5c > .menu > .content {
	position: relative;
	padding: 5px;
	background-color: white;
	text-align: center;
}
.aotd-popover_cgfd5c > .children > .icon_rour3d {
	font-size: 20px;
	cursor: pointer;
}