@import '../styles/colors';
@import "../styles/breakpoints.scss";

// image overrides
$borderRadius: 3px;

@keyframes image-placeholder {
	from {
		color: var(--content-border-color);
	}
	to {
		color: var(--control-disabled-color);
	}
}

// don't show images on non-featured images on phones
// TODO: This solution is inefficient for data usage on phones.
//		Browsers still load images within "display: none" elements.
.article-details_d2vnmv.has-image:not(.is-featured) > .article-container {
	@include only(phone) {
		> .image_1ctn9c {
			display: none;
		}
	}
}

.article-details_d2vnmv.has-image > .article-container {
	@include from(tablet-portrait) {
		&.image--left > .image_1ctn9c {
			margin-right: 15px;
		}
		&.image--right > .image_1ctn9c {
			margin-left: 15px;
		}
	}

	> .image_1ctn9c {

		box-sizing: border-box;
		overflow: hidden;
		min-width: 120px;
		max-width: 120px;
		// border-style: solid;
		// color: var(--content-border-color);
		// border-width: 1px 0px 1px 1px;
		// border-radius: $borderRadius 0 0 $borderRadius;

		> .positioner {
			// note for the future: the below is an aspect ratio hack, see also padding-bottom used for the mobile breakpoint below
			// A better aspect-ratio property is coming https://caniuse.com/mdn-css_properties_aspect-ratio
			// It would be preferable because its simpler, but also because the padding hack to preserve aspect ratio can't be combined with max-height & max-width
			// (see issue: https://stackoverflow.com/questions/27420434/max-height-ignored-when-percentage-padding-defines-element-height)
			// It's already released in most browsers, except crucially in iOS 14 Safari which we should still support.
			padding-bottom: 80%;
			// position relatively to fixed aspect ratio container
			position: relative;
			> .image {
				// positioning of image or placeholder
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			> .placeholder {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--nav-background-color);
				> .icon_rour3d {
					width: 40%;
					height: 40%;
					animation-name: image-placeholder;
					animation-duration: 2s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}

			> img {
				// image properties
				object-fit: cover;
			}
		}
	}

	> .content {
		border-width: 1px 1px 1px 0;
		border-radius: 0 $borderRadius $borderRadius 0;
	}
}

.article-details_d2vnmv > .article-container {
	display: flex;
	flex-direction: row;
	&.image--right {
		flex-direction: row-reverse;
	}
}

.article-details_d2vnmv > .article-container > .content {
	box-sizing: border-box;
	max-width: 100%; // prevents long author names from expanding the box till it oveflows
}

.article-details_d2vnmv > .article-container > .content {
	flex-grow: 1;
}

.article-details_d2vnmv > .article-container > .content > .title > .star_n3lkaj {
	float: right;
	margin-left: 8px;
}
.article-details_d2vnmv > .article-container > .content > .title > .share-control_mnbspk {
	float: right;
	// the bookmark with a % has some right-margin already
	margin-left: 2px;
	> .children > .icon_rour3d {
		color: #858585;
	}
	> .menu.align-top {
		margin-top: -8px;
	}
}
.article-details_d2vnmv > .article-container > .content > .title > .bookmark {
	position: relative;
	float: right;
	margin-top: -10px;
}
.article-details_d2vnmv > .article-container > .content > .title > .bookmark > .percent-complete {
	font-family: 'Museo Sans (500)';
	font-size: 8pt;
	position: absolute;
	top: 12px;
	transform: translateX(-50%);
	left: 50%;
	z-index: 1;
}
.article-details_d2vnmv > .article-container > .content > .title > .bookmark > .icon_rour3d {
	display: block;
	width: 42px;
	height: 42px;
}
.article-details_d2vnmv > .article-container > .content > .title > .title-link {
	font-family: 'Cambria (bold)';
	font-size: 16pt;
	text-decoration: none;
	line-height: 1em;
	word-break: break-word;
}
.article-details_d2vnmv > .article-container > .content > .columns {
	display: flex;
}
.article-details_d2vnmv > .article-container > .content > .columns > .star-container {
	flex: 0 0 auto;
	width: 20px;
	margin-right: 5px;
}

.article-details_d2vnmv > .article-container > .content > .columns > .article {
	flex: 1 1 auto;
}
.article-details_d2vnmv > .article-container > .content > .columns > .article > .meta {
	margin-top: 5px;
	font-family: 'Museo Sans (300)';
	font-size: 11pt;
}
// TODO: 'spacer' should be defined somewhere globally, it is reused
.article-details_d2vnmv > .article-container > .content > .columns > .article > .meta > .spacer {
	margin: 0 5px;
}
.article-details_d2vnmv > .article-container > .content > .columns > .article > .meta > .spacer::before {
	content: "•";
	font-style: normal;
}
.article-details_d2vnmv > .article-container > .content > .columns > .article > .stats {
	display: flex;
	align-items: center;
	height: 22px;
	margin-top: 5px;
	font-family: 'Museo Sans (500)';
	font-size: 12pt;
}
.article-details_d2vnmv > .article-container > .content > .columns > .article > .stats > .reads,
.article-details_d2vnmv > .article-container > .content > .columns > .article > .stats > .comments {
	margin-right: 10px;
}
.article-details_d2vnmv > .article-container > .content > .columns > .article > .stats > .popover_r7v81v {
	flex: 0 0 auto;
}
.article-details_d2vnmv > .article-container > .content > .columns > .article > .stats > .popover_r7v81v + .popover_r7v81v {
	margin-left: 10px;
}
.article-details_d2vnmv > .article-container > .content > .columns > .article > .stats > .share-control_mnbspk > .children > .icon_rour3d {
	font-size: 16px;
}
.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article {
	display: none;
}
.article-details_d2vnmv > .article-container > .content > .columns > .post {
	flex: 0 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin-left: 5px;
}

.article-details_d2vnmv {
	& > .article-container > .content > .columns > .small-stats-article > .description,
	& > .article-container > .content > .columns > .article > .description {
		font-size: 11pt;
		color: var(--text-muted-color);
		margin: 0.5em 0;
	}
}

// for non-featured articles, the description lines are clamped to a standardised 3 lines
.article-details_d2vnmv:not(.is-featured) {
	& > .article-container > .content > .columns > .small-stats-article > .description,
	& > .article-container > .content > .columns > .article > .description {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}


@media (max-width: 449px) {
	.article-details_d2vnmv > .article-container > .content > .title {
		margin-bottom: 2px;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .star-container,
	.article-details_d2vnmv > .article-container > .content > .columns > .article {
		display: none;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article {
		flex: 1 1 auto;
		display: flex;
		flex-flow: column;
		min-width: 0;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta {
		flex: 0 0 auto;
		font-family: 'Museo Sans (300)';
		font-size: 11pt;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .publisher,
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length {
		display: flex;
		margin-top: 1px;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length > .author {
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length > .spacer {
		flex: 0 0 auto;
		width: 10px;
		text-align: center;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length > .spacer::before {
		content: "|";
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length > .date,
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length > .length {
		flex: 0 0 auto;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		margin-top: 2px;
		font-family: 'Museo Sans (500)';
		font-size: 11pt;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats > .reads,
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats > .comments {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 5px;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats > .reads,
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats > .popover_r7v81v {
		flex: 0 0 auto;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats > .popover_r7v81v + .popover_r7v81v {
		margin-left: 5px;
	}
	.article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats > .share-control_mnbspk > .children > .icon_rour3d {
		font-size: 16px;
	}

}

@include until(tablet-portrait) {
	.article-details_d2vnmv.has-image > .article-container {
		flex-direction: column;
		> .image_1ctn9c {
			// TODO
			// width: 100px;
			max-width: unset;
			width: 100%;
			height: 128px;
			margin-bottom: 12px;
			> .positioner {
				padding-bottom: 0;
				width: 100%;
				height: 100%;
			}
			// height: 100px;

			// border-width: 1px 1px 0 1px;
			// border-radius: $borderRadius $borderRadius 0 0;
		}
		> .content {
			flex-direction: column;
			border-width: 0 1px 1px 1px; // remove top border
			border-radius: 0 0 $borderRadius $borderRadius;
		}
	}
}

@include theme using ($root, $scheme) {
	#{$root} .article-details_d2vnmv > .article-container > .content > .title > .bookmark > .percent-complete {
		@include theme-colors(
			$scheme,
			(
				"color": $intent-text-color
			)
		);
	}
	#{$root} .article-details_d2vnmv > .article-container > .content > .title > .bookmark > .icon_rour3d,
	#{$root} .article-details_d2vnmv > .article-container > .content > .columns > .article > .meta > .spacer,
	#{$root} .article-details_d2vnmv > .article-container > .content > .columns > .article > .stats > .share-control_mnbspk > .children > .icon_rour3d,
	#{$root} .article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .meta > .author-date-length > .spacer,
	#{$root} .article-details_d2vnmv > .article-container > .content > .columns > .small-stats-article > .stats > .share-control_mnbspk > .children > .icon_rour3d {
		@include theme-colors(
			$scheme,
			(
				"color": $intent-neutral-color
			)
		);
	}
}