/*
	componentPath: src/common/components/BrowserOnboardingFlow
	cssComponentId: browser-onboarding-flow_74077a
*/
@import '../styles/colors';

.browser-onboarding-flow_74077a {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}
.browser-onboarding-flow_74077a::before {
	content: "";
	min-height: 10px;
	flex: 1 1 auto;
}
.browser-onboarding-flow_74077a::after {
	content: "";
	min-height: 10px;
	flex: 3 1 auto;
}
.browser-onboarding-flow_74077a.closing {
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}
.browser-onboarding-flow_74077a > .steps {
	display: flex;
	flex-flow: column;
	width: calc(100% - 20px);
	max-width: 700px;
	min-height: 0;
	border-radius: 5px;
	animation: browser-onboarding-flow_74077a-steps-slide-in 250ms forwards;
}
.browser-onboarding-flow_74077a.closing > .steps {
	animation: browser-onboarding-flow_74077a-steps-slide-out 250ms forwards;
}
.browser-onboarding-flow_74077a > .steps::after {
	content: "";
	display: block;
	height: 40px;
}
.browser-onboarding-flow_74077a > .steps > .titlebar {
	flex: 0 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.browser-onboarding-flow_74077a > .steps > .titlebar > .icon-right {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}
.browser-onboarding-flow_74077a > .steps > .titlebar > .icon-right > .icon_rour3d {
	font-size: 16px;
	cursor: pointer;
}
.browser-onboarding-flow_74077a > .steps > .transition-container_ko0vbz > .content {
	padding: 0 15px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-flow: column;
	align-items: center;
}

@media (max-width: 499px) {
	.browser-onboarding-flow_74077a > .steps::after {
		height: 0;
	}
	.browser-onboarding-flow_74077a > .steps > .transition-container_ko0vbz > .content::after {
		content: "";
		flex: 1 1 auto;
		min-height: 40px;
	}
}

@keyframes browser-onboarding-flow_74077a-overlay-fade-in-light {
	from {
		background-color: transparent;
	}
	to {
		background-color: map-get($light-theme, $overlay-color);
	}
}
@keyframes browser-onboarding-flow_74077a-overlay-fade-out-light {
	from {
		background-color: map-get($light-theme, $overlay-color);
	}
	to {
		background-color: transparent;
	}
}
@keyframes browser-onboarding-flow_74077a-overlay-fade-in-dark {
	from {
		background-color: transparent;
	}
	to {
		background-color: map-get($dark-theme, $overlay-color);
	}
}
@keyframes browser-onboarding-flow_74077a-overlay-fade-out-dark {
	from {
		background-color: map-get($dark-theme, $overlay-color);
	}
	to {
		background-color: transparent;
	}
}
@keyframes browser-onboarding-flow_74077a-steps-slide-in {
	from {
		transform: translateY(20%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes browser-onboarding-flow_74077a-steps-slide-out {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(20%);
		opacity: 0;
	}
}

@include theme using ($root, $scheme) {
	#{$root} .browser-onboarding-flow_74077a {
		@include theme-colors(
			$scheme,
			(
				"animation-name": "browser-onboarding-flow_74077a-overlay-fade-in"
			)
		);
	}
	#{$root} .browser-onboarding-flow_74077a.closing {
		@include theme-colors(
			$scheme,
			(
				"animation-name": "browser-onboarding-flow_74077a-overlay-fade-out"
			)
		);
	}
	#{$root} .browser-onboarding-flow_74077a > .steps {
		@include theme-colors(
			$scheme,
			(
				"background": $app-background-color,
				"box-shadow": 0px 1px 3px 1px
			)
		);
	}
	#{$root} .browser-onboarding-flow_74077a > .steps > .titlebar > .icon-right > .icon_rour3d {
		@include theme-colors(
			$scheme,
			(
				"color": $text-muted-color
			)
		);
	}
}