/*
	componentPath: src/common/components/Button
	cssComponentId: button_ovrlmi
*/

.button_ovrlmi {
	align-items: center;
	height: 32px;
	box-sizing: border-box;
	padding: 0 10px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Museo Sans (500)';
	position: relative;
	text-decoration: none;
	border: 1px dotted transparent;
}
.button_ovrlmi.inline {
	display: inline-flex;
}
.button_ovrlmi.block {
	display: flex;
	width: 100%;
}
.button_ovrlmi:focus {
	border-color: #ccc;
}
.button_ovrlmi.left {
	justify-content: flex-start;
}
.button_ovrlmi.center {
	justify-content: center;
}
.button_ovrlmi.right {
	justify-content: flex-end;
}
.button_ovrlmi.preferred {
	font-family: 'Museo Sans (700)';
}
.button_ovrlmi.loud {
	background-color: #2A2326;
	border-color: #2A2326;
	color: white;
}
.button_ovrlmi.loud:focus {
	border-color: #2A2326;
}
.button_ovrlmi.selected {
	background-color: #999;
	border-color: #999;
	color: white;
}
.button_ovrlmi.selected:focus {
	border-color: #999;
}
.button_ovrlmi.warning,
.button_ovrlmi.preferred.warning,
.button_ovrlmi.loud.warning {
	background-color: darkred;
	border-color: darkred;
	color: white;
}
.button_ovrlmi.loud.warning:focus {
	border-color: darkred;
}
.button_ovrlmi.success,
.button_ovrlmi.preferred.success,
.button_ovrlmi.loud.success {
	background-color: limegreen;
	border-color: limegreen;
	color: white;
}
.button_ovrlmi.loud.success:focus {
	border-color: limegreen;
}
.button_ovrlmi.large {
	height: 50px;
	font-family: 'Museo Sans (700)';
	font-size: 15pt;
	padding: 0 20px;
}
.button_ovrlmi.x-large {
	height: 60px;
	font-family: 'Museo Sans (700)';
	font-size: 15pt;
	padding: 0 30px;
}
.button_ovrlmi.busy,
.button_ovrlmi.disabled {
	color: silver;
}
.button_ovrlmi.indicator::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 5px;
	border-style: solid;
	border-color: red red transparent transparent;
}
.button_ovrlmi.overlay > .text,
.button_ovrlmi.overlay > .icon_rour3d {
	visibility: hidden;
}
.button_ovrlmi > .icon_rour3d + .text {
	margin-left: 0.5em;
}
.button_ovrlmi > .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
}