/*
	componentPath: src/common/components/Button
	cssComponentId: button_ovrlmi
*/

.button_ovrlmi {
	display: inline-flex;
	align-items: center;
	height: 32px;
	box-sizing: border-box;
	padding: 0 10px;
	border: none;
	background-color: white;
	cursor: pointer;
	font-family: 'Museo Sans (500)';
	text-transform: lowercase;
	position: relative;
}
.button_ovrlmi.preferred {
	border: 2px solid #2A2326;
	font-family: 'Museo Sans (700)';
}
.button_ovrlmi.disabled {
	color: silver;
	border-color: silver;
}
.button_ovrlmi.indicator::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 5px;
	border-style: solid;
	border-color: red red transparent transparent;
}
.button_ovrlmi > .icon_rour3d {
	margin-right: 5px;
	width: 16px;
	height: 16px;
}
.button_ovrlmi > .loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button_ovrlmi > .loading > .icon_rour3d {
	width: 16px;
	height: 16px;
}