/*
	componentPath: src/common/components/Button
	cssComponentId: button_ovrlmi
*/
@import '../styles/colors';

.button_ovrlmi {
	align-items: center;
	height: 32px;
	box-sizing: border-box;
	padding: 0 10px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Museo Sans (500)';
	position: relative;
	text-decoration: none;
}
.button_ovrlmi > .icon_rour3d + .text,
.button_ovrlmi > .text + .icon_rour3d {
	margin-left: 0.5em;
}
.button_ovrlmi > .text {
	position: relative;
}
.button_ovrlmi > .text > .alert-badge_ejzklr {
	right: -16px;
}
/* display */
.button_ovrlmi.inline {
	display: inline-flex;
}
.button_ovrlmi.block {
	display: flex;
	width: 100%;
}
/* interaction */
.button_ovrlmi:focus {
	outline-width: 1px;
	outline-style: solid;
}
/* align */
.button_ovrlmi.left {
	justify-content: flex-start;
}
.button_ovrlmi.center {
	justify-content: center;
}
.button_ovrlmi.right {
	justify-content: flex-end;
}
/* style */
.button_ovrlmi.preferred {
	font-family: 'Museo Sans (700)';
}
/* size */
.button_ovrlmi.large {
	height: 50px;
	font-family: 'Museo Sans (700)';
	font-size: 15pt;
	padding: 0 20px;
}
.button_ovrlmi.x-large {
	height: 60px;
	font-family: 'Museo Sans (700)';
	font-size: 15pt;
	padding: 0 30px;
}
/* indicator */
.button_ovrlmi.indicator::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 5px;
	border-style: solid;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
/* overlay */
.button_ovrlmi.overlay > .text,
.button_ovrlmi.overlay > .icon_rour3d {
	visibility: hidden;
}
.button_ovrlmi > .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
}

@include theme using ($root, $scheme) {
	#{$root} .button_ovrlmi:focus {
		@include theme-colors(
			$scheme,
			(
				"outline-color": $intent-primary-color
			)
		);
	}
	#{$root} .button_ovrlmi.default {
		@include theme-colors(
			$scheme,
			(
				"background-color": $intent-neutral-color,
				"color": $intent-text-color
			)
		);
	}
	#{$root} .button_ovrlmi.loud {
		@include theme-colors(
			$scheme,
			(
				"background-color": $loud-background-color,
				"color": $loud-text-color
			)
		);
	}
	#{$root} .button_ovrlmi.warning {
		@include theme-colors(
			$scheme,
			(
				"background-color": $intent-danger-color,
				"color": $intent-text-color
			)
		);
	}
	#{$root} .button_ovrlmi.success {
		@include theme-colors(
			$scheme,
			(
				"background-color": $intent-success-color,
				"color": $intent-text-color
			)
		);
	}
	#{$root} .button_ovrlmi.busy,
	#{$root} .button_ovrlmi.disabled {
		@include theme-colors(
			$scheme,
			(
				"color": $control-disabled-color
			)
		);
	}
	#{$root} .button_ovrlmi.selected {
		@include theme-colors(
			$scheme,
			(
				"background-color": $button-selected-background-color,
				"color": $button-selected-text-color
			)
		);
	}
	#{$root} .button_ovrlmi.indicator::after {
		@include theme-colors(
			$scheme,
			(
				"border-top-color": $intent-alert-color,
				"border-right-color": $intent-alert-color
			)
		);
	}
}