/*
	componentPath: src/app/common/components/controls/Dialog
	cssComponentId: dialog_1wfm87
*/

.dialog_1wfm87 {
	display: flex;
	flex-flow: column;
	margin: 0 10px;
	z-index: 100;
	background: #F7F6F5;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	box-sizing: border-box;
	animation: dialog_1wfm87-slide-in 250ms forwards;
	border-radius: 5px;
   box-shadow: 0px 1px 3px 1px rgba(160, 160, 160, 0.5);
}
.dialog_1wfm87.small {
	max-width: 400px;
}
.dialog_1wfm87 > .header {
	flex: 0 0 auto;
	font-size: 16pt;
	text-align: center;
	font-family: 'Museo Sans (700)';
	padding: 5px 10px;
	line-height: 32px;
}
.dialog_1wfm87 > .children {
	padding: 15px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: white;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #e0e0e0;
}
.dialog_1wfm87 > .children.center {
	text-align: center;
}
.dialog_1wfm87 > .children.right {
	text-align: right;
}
.dialog_1wfm87 > .children > p + p {
	margin-top: 10px;
}
.dialog_1wfm87 > .buttons {
	flex: 0 0 auto;
	display: flex;
	padding: 5px 10px;
}
.dialog_1wfm87 > .buttons.single {
	justify-content: center;
}
.dialog_1wfm87 > .buttons.double {
	justify-content: space-between;
}