/*
	componentPath: src/common/components/Icon
	cssComponentId: icon_rour3d
*/

.icon_rour3d {
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	height: 1em;
	width: 1em;
}
.icon_rour3d.block {
	display: block;
}