/*
	componentPath: src/common/components/MarkdownDialog
	cssComponentId: markdown-dialog_1fmodc
*/
@import '../../common/styles/colors';

.markdown-dialog_1fmodc > .children > table > thead > tr > th {
	text-align: left;
	padding: 3px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td {
	padding: 3px 0;
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td:first-child {
	padding-right: 2px;
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td:last-child {
	padding-left: 2px;
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td > em {
	font-style: italic;
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td > strong {
	font-family: 'Museo Sans (500)';
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td > .link {
	text-decoration: underline;
	cursor: pointer;
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td > blockquote {
	border-left-width: 0.15em;
	border-left-style: solid;
	padding: 2px 0.5em;
	overflow: hidden;
	border-radius: 0.25em;
}
.markdown-dialog_1fmodc > .children > table > tbody > tr > td > ul {
	padding-left: 1.5em;
	list-style-type: disc;
}

@include theme using ($root, $scheme) {
	#{$root} .markdown-dialog_1fmodc > .children > table > thead > tr > th {
		@include theme-colors(
			$scheme,
			(
				"border-bottom-color": $content-divider-color
			)
		);
	}
	#{$root} .markdown-dialog_1fmodc > .children > table > tbody > tr > td > blockquote {
		@include theme-colors(
			$scheme,
			(
				"border-left-color": $markdown-block-border-color,
				"background-color": $markdown-block-background-color
			)
		);
	}
}