/*
        componentPath: src/common/components/Pill
        cssComponentId: pill_m10abw
*/
.pill_m10abw {
	font-size: 0.9rem;
    padding: 0.25em 0.5em;
	border-radius: 14px;
	background-color: var(--content-background-color);
	border: 1px solid var(--content-border-color);
}