/*
	componentPath: src/common/components/PostPrompt
	cssComponentId: post-prompt_de6v6u
*/

.post-prompt_de6v6u {
	text-align: center;
}
.post-prompt_de6v6u > .action-link_ftamt8 {
	display: inline-block;
	margin-top: 10px;
}
.post-prompt_de6v6u > .button_ovrlmi {
	margin-top: 10px;
}