/*
	componentPath: src/common/components/PostButton
	cssComponentId: post-button_euo01q
*/
@import '../styles/colors';

.post-button_euo01q > .menu > .content {
	position: relative;
	padding: 5px;
	text-align: center;
}
.post-button_euo01q > .menu > .content > ol {
	overflow: hidden;
	text-align: left;
	margin-bottom: 5px;
}
.post-button_euo01q > .menu > .content > ol > li + li {
	margin-top: 5px;
}

@include theme using ($root, $scheme) {
	#{$root} .post-button_euo01q > .menu > .content {
		@include theme-colors(
			$scheme,
			(
				"background-color": $content-background-color
			)
		);
	}
}