/*
	componentPath: src/common/components/PostPrompt
	cssComponentId: post-prompt_de6v6u
*/

.post-prompt_de6v6u {
	text-align: center;
}
.post-prompt_de6v6u > .post-button_euo01q {
	margin-top: 10px;
}