/*
	componentPath: src/common/components/PostHeader
	cssComponentId: post-header_f4a846
*/
@import '../styles/colors';

.post-header_f4a846 {
	padding: 5px 10px;
	display: flex;
	align-items: center;
	font-size: 12pt;
}
.post-header_f4a846.has-flair {
	padding: 3px 10px;
}

$spacing: 10px;
$spacing-verbose: 5px;
// spacing between items
.post-header_f4a846 {
	& > .user-name,
	& > .leaderboard-badges_s4o6nj,
	& > .posted-copy {
		margin-right: $spacing;
	}
}

.post-header_f4a846.is-verbose {
	& > .user-name,
	& > .leaderboard-badges_s4o6nj,
	& > .posted-copy {
		margin-right: $spacing-verbose;
	}
}

.post-header_f4a846 > .user-name,
.post-header_f4a846 > .leaderboard-badges_s4o6nj,
.post-header_f4a846 > .posted-copy {
	margin-right: $spacing;
}

.post-header_f4a846 > .user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Museo Sans (500)';
}
.post-header_f4a846 > .leaderboard-badges_s4o6nj {
	flex: 0 0 auto;
	font-size: 12pt;
	margin-right: 10px;
}
.post-header_f4a846 > .age {
	flex: 0 0 auto;
}
.post-header_f4a846 > .share-control_mnbspk {
	flex: 0 0 auto;
	margin-left: $spacing;
}
.post-header_f4a846 > .author {
	display: flex;
	align-items: center;
	margin-left: 10px;
	border-radius: 3px;
	padding: 2px 5px;
}
.post-header_f4a846 > .author > .icon_rour3d {
	margin-right: 3px;
}

@media (max-width: 449px) {
	.post-header_f4a846 {
		font-size: 11pt;
	}
}

@include theme using ($root, $scheme) {
	#{$root} .post-header_f4a846 {
		@include theme-colors(
			$scheme,
			(
				"background-color": $intent-neutral-color,
				"color": $intent-text-color
			)
		);
	}
	#{$root} .post-header_f4a846 > .share-control_mnbspk > .menu_qla37i {
		@include theme-colors(
			$scheme,
			(
				"color": $text-color
			)
		);
	}
	#{$root} .post-header_f4a846 > .author {
		@include theme-colors(
			$scheme,
			(
				"background-color": $chart-2-border-color,
				"color": $twitter-button-text-color
			)
		);
	}
}