/*
	componentPath: src/common/components/PostHeader
	cssComponentId: post-header_f4a846
*/
@import '../styles/colors';

.post-header_f4a846 {
	padding: 5px 10px;
	display: flex;
	align-items: center;
	font-size: 12pt;
}
.post-header_f4a846 > .user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Museo Sans (500)';
	margin-right: 10px;
}
.post-header_f4a846 > .leaderboard-badges_s4o6nj {
	flex: 0 0 auto;
	font-size: 12pt;
	margin-right: 10px;
}
.post-header_f4a846 > .age {
	flex: 0 0 auto;
}
.post-header_f4a846 > .share-control_mnbspk {
	flex: 0 0 auto;
	margin-left: 10px;	
}

@media (max-width: 449px) {
	.post-header_f4a846 {
		font-size: 11pt;
	}
}

@include theme using ($root, $scheme) {
	#{$root} .post-header_f4a846 {
		@include theme-colors(
			$scheme,
			(
				"background-color": $intent-neutral-color,
				"color": $intent-text-color
			)
		);
	}
	#{$root} .post-header_f4a846 > .share-control_mnbspk > .menu_qla37i {
		@include theme-colors(
			$scheme,
			(
				"color": $text-color
			)
		);
	}
}