/*
	componentPath: src/common/components/ReaderSubscriptionPrompt
	cssComponentId: reader-subscription-prompt_7fgp4b
*/

.reader-subscription-prompt_7fgp4b {
	text-align: center;
}
.reader-subscription-prompt_7fgp4b > .button_ovrlmi {
	margin-top: 25px;
}