/*
	componentPath: src/common/components/ReaderSubscriptionPrompt
	cssComponentId: reader-subscription-prompt_7fgp4b
*/

.reader-subscription-prompt_7fgp4b {
	text-align: center;
}
.reader-subscription-prompt_7fgp4b > .text {
	font-family: 'Museo Sans (500)';
	font-size: 15pt;
}
.reader-subscription-prompt_7fgp4b > img {
	width: 100%;
	max-width: 400px;
	margin: 20px 0;
}
.reader-subscription-prompt_7fgp4b > .button_ovrlmi {
	margin-top: 25px;
}