/*
	componentPath: src/common/components/ShareControl
	cssComponentId: share-control_mnbspk
*/
@import '../styles/colors';

.share-control_mnbspk > .children {
	cursor: pointer;
}
.share-control_mnbspk > .menu > .button {
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	align-items: center;
	padding: 3px 10px;
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
.share-control_mnbspk > .menu > .button:first-child {
	padding-top: 6px;
	border-radius: 3px 3px 0 0;
}
.share-control_mnbspk > .menu > .button:last-child {
	padding-bottom: 6px;
	border-radius: 0 0 3px 3px;
}
.share-control_mnbspk > .menu > .button > label {
	margin-left: 6px;
	cursor: pointer;
}

@include theme using ($root, $scheme) {
	#{$root} .share-control_mnbspk > .menu > .button {
		@include theme-colors(
			$scheme,
			(
				"background-color": $control-background-color
			)
		);
	}
}