/*
	componentPath: src/common/components/ShareControl
	cssComponentId: share-control_mnbspk
*/

.share-control_mnbspk {
	display: flex;
	position: relative;
	outline: none;	
}
.share-control_mnbspk > .menu {
	position: absolute;
	z-index: 100;
	white-space: nowrap;
	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	box-shadow: 0px 0px 1px -1px black;
}
.share-control_mnbspk > .menu.middle {
	top: 50%;
}
.share-control_mnbspk > .menu.bottom {
	bottom: 0;
}
.share-control_mnbspk > .menu.left {
	right: 100%;
	transform: translate(-13px, -50%);
	animation: share-control_mnbspk-pop-in-left 250ms;
}
.share-control_mnbspk > .menu.middle.left {
	transform: translate(-13px, -50%);
	animation: share-control_mnbspk-pop-in-middle-left 250ms;
}
.share-control_mnbspk > .menu.bottom.left {
	transform: translate(-13px, 5px);
	animation: share-control_mnbspk-pop-in-bottom-left 250ms;
}
.share-control_mnbspk > .menu.right {
	left: 100%;
	transform: translate(13px, -50%);
	animation: share-control_mnbspk-pop-in-right 250ms;
}
.share-control_mnbspk > .menu.center.top {
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, -13px);
	animation: share-control_mnbspk-pop-in-center-top 250ms;
}
.share-control_mnbspk > .menu.middle.left.closing {
	animation: share-control_mnbspk-pop-out-middle-left 250ms;
}
.share-control_mnbspk > .menu.bottom.left.closing {
	animation: share-control_mnbspk-pop-out-bottom-left 250ms;
}
.share-control_mnbspk > .menu.right.closing {
	animation: share-control_mnbspk-pop-out-right 250ms;
}
.share-control_mnbspk > .menu.center.top.closing {
	animation: share-control_mnbspk-pop-out-center-top 250ms;
}
.share-control_mnbspk > .menu::before,
.share-control_mnbspk > .menu::after {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 16px solid;
}
.share-control_mnbspk > .menu.middle::before,
.share-control_mnbspk > .menu.middle::after {
	top: 50%;
}
.share-control_mnbspk > .menu.bottom::before,
.share-control_mnbspk > .menu.bottom::after {
	top: 100%;
}
.share-control_mnbspk > .menu.left::before,
.share-control_mnbspk > .menu.left::after {
	border-left: 16px solid transparent;
	transform-origin: bottom left;
}
.share-control_mnbspk > .menu.middle.left::before,
.share-control_mnbspk > .menu.middle.left::after {
	transform: rotate(-45deg) translate(4px, -4px);
}
.share-control_mnbspk > .menu.bottom.left::before,
.share-control_mnbspk > .menu.bottom.left::after {
	transform: rotate(-45deg) translate(15px, -15px);
}
.share-control_mnbspk > .menu.right::before,
.share-control_mnbspk > .menu.right::after {
	border-right: 16px solid transparent;
	transform: rotate(45deg) translate(-4px, -4px);
	transform-origin: bottom right;
}
.share-control_mnbspk > .menu.center.top::before,
.share-control_mnbspk > .menu.center.top::after {
	border-right: 16px solid transparent;
	transform: rotate(-45deg) translate(-8px, -8px);
	transform-origin: top left;
}
.share-control_mnbspk > .menu::before {
	border-bottom-color: #e0e0e0;
	box-shadow: 0px 0px 1px -1px black;
}
.share-control_mnbspk > .menu.left::before {
	right: -17px;
}
.share-control_mnbspk > .menu.right::before {
	left: -17px;
}
.share-control_mnbspk > .menu.center.top::before {
	top: 100%;
	left: 50%;
}
.share-control_mnbspk > .menu::after {
	border-bottom-color: white;
}
.share-control_mnbspk > .menu.left::after {
	right: -16px;
}
.share-control_mnbspk > .menu.right::after {
	left: -16px;
}
.share-control_mnbspk > .menu.center.top::after {
	left: 50%;
}
.share-control_mnbspk > .menu > .button {
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	align-items: center;
	padding: 3px 10px;
	background-color: white;
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
.share-control_mnbspk > .menu > .button:first-child {
	padding-top: 6px;
	border-radius: 3px 3px 0 0;
}
.share-control_mnbspk > .menu > .button:last-child {
	padding-bottom: 6px;
	border-radius: 0 0 3px 3px;
}
.share-control_mnbspk > .menu > .button > label {
	margin-left: 6px;
	cursor: pointer;
}

@keyframes share-control_mnbspk-pop-in-bottom-left {
	0% { transform: translate(-13px, 5px) scale(0, 0); }
	75% { transform: translate(-13px, 5px) scale(1.15, 1.15); }
	100% { transform: translate(-13px, 5px) scale(1, 1); }
}
@keyframes share-control_mnbspk-pop-in-middle-left {
	0% { transform: translate(-13px, -50%) scale(0, 0); }
	75% { transform: translate(-13px, -50%) scale(1.15, 1.15); }
	100% { transform: translate(-13px, -50%) scale(1, 1); }
}
@keyframes share-control_mnbspk-pop-out-bottom-left {
	0% { transform: translate(-13px, 5px) scale(1, 1); }
	100% { transform: translate(-13px, 5px) scale(0, 0); }
}
@keyframes share-control_mnbspk-pop-out-middle-left {
	0% { transform: translate(-13px, -50%) scale(1, 1); }
	100% { transform: translate(-13px, -50%) scale(0, 0); }
}
@keyframes share-control_mnbspk-pop-in-right {
	0% { transform: translate(13px, -50%) scale(0, 0); }
	75% { transform: translate(13px, -50%) scale(1.15, 1.15); }
	100% { transform: translate(13px, -50%) scale(1, 1); }
}
@keyframes share-control_mnbspk-pop-out-right {
	0% { transform: translate(13px, -50%) scale(1, 1); }
	100% { transform: translate(13px, -50%) scale(0, 0); }
}
@keyframes share-control_mnbspk-pop-in-center-top {
	0% { transform: translate(-50%, -13px) scale(0, 0); }
	75% { transform: translate(-50%, -13px) scale(1.15, 1.15); }
	100% { transform: translate(-50%, -13px) scale(1, 1); }
}
@keyframes share-control_mnbspk-pop-out-center-top {
	0% { transform: translate(-50%, -13px) scale(1, 1); }
	100% { transform: translate(-50%, -13px) scale(0, 0); }
}