/*
	componentPath: src/common/components/toaster
	cssComponentId: toaster_2zbeib_2zbeib
*/

.toaster_2zbeib {
	position: fixed;
	top: 0;
	z-index: 200;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 0;
	padding: 0 10px;
	box-sizing: border-box;
}
.toaster_2zbeib > .toasts > .toast {
	padding: 15px;
	margin-top: 10px;
	text-align: center;
	font-family: 'Museo Sans (500)';
	box-shadow: 0px 1px 3px 1px rgba(160, 160, 160, 0.5);
	border-radius: 3px;
	animation: toaster_2zbeib-pop-in 250ms forwards;
}
.toaster_2zbeib > .toasts > .toast.remove {
	animation: toaster_2zbeib-pop-out 250ms forwards;
}
.toaster_2zbeib > .toasts > .toast.neutral {
	background-color: #F7F6F5;
}
.toaster_2zbeib > .toasts > .toast.success {
	color: white;
	background-color: limegreen;
}
.toaster_2zbeib > .toasts > .toast.danger {
	color: white;
	background-color: darkred;
}
.toaster_2zbeib > .toasts > .toast > p:not(:first-of-type) {
	margin-top: 10px;
}
.toaster_2zbeib > .toasts > .toast > p > .action-link_ftamt8.disabled {
	color: #999;
}

@keyframes toaster_2zbeib-pop-in {
	0% { transform: scale(0, 0); }
	75% { transform: scale(1.25, 1.25); }
	100% { transform: scale(1, 1); }
}
@keyframes toaster_2zbeib-pop-out {
	0% { transform: scale(1, 1); }
	100% { transform: scale(0, 0); }
}