/*
	componentPath: src/common/components/TwitterAuthButton
	cssComponentId: twitter-auth-button_h10z4a
*/
@import '../styles/colors';

.twitter-auth-button_h10z4a {
	height: 40px;
	border-radius: 5px;
	font-family: 'Museo Sans (500)';
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.twitter-auth-button_h10z4a > img {
	width: 0.9em;
	margin-right: 0.25em;
}
.twitter-auth-button_h10z4a > .icon_rour3d {
	width: 0.9em;
}

@include theme using ($root, $scheme) {
	#{$root} .twitter-auth-button_h10z4a {
		@include theme-colors(
			$scheme,
			(
				"color": $twitter-button-text-color,
				"background-color": $twitter-button-background-color
			)
		);
	}
}