/*
	componentPath: src/app/common/components/AppRoot/AuthScreen
	cssComponentId: auth-screen_gnq77a
*/
@import '../../../../common/styles/colors';
@import '../../../../common/styles/config';

.auth-screen_gnq77a {
	flex: 1 1 auto;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}
.auth-screen_gnq77a > .content > .logo {
	height: 60px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.auth-screen_gnq77a > .content > .status {
	margin: 50px auto 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.auth-screen_gnq77a > .content > .status.hidden {
	visibility: hidden;
}
.auth-screen_gnq77a > .content > .status > .spinner-icon_6s5uk2 {
	margin-right: 5px;
}
.auth-screen_gnq77a > .content > .auth-service-button_bj12nx.twitter {
	width: 210px;
	height: 50px;
	margin: 0 auto;
}
.auth-screen_gnq77a > .content > .twitter-notice {
	text-align: center;
	margin-top: 10px;
}
.auth-screen_gnq77a > .content > .auth-service-button_bj12nx.apple {
	width: 210px;
	margin: 30px auto 0 auto;
}
.auth-screen_gnq77a > .content > .email-button {
	width: 210px;
	height: 40px;
	margin: 20px auto 0;
	border-radius: 5px;
	font-family: 'Museo Sans (500)';
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.auth-screen_gnq77a > .content > .email-button > .icon_rour3d {
	font-size: 0.9em;
	margin-right: 0.25em;
}

@include theme using ($root, $scheme) {
	#{$root} .auth-screen_gnq77a > .content > .logo {
		@if $scheme == light {
			background-image: url(create-url(map-get($readup-config, 'static-server'), '/app/images/logo.svg'));
		} @else {
			background-image: url(create-url(map-get($readup-config, 'static-server'), '/app/images/logo-white.svg'));
		}
	}
	#{$root} .auth-screen_gnq77a > .content > .email-button {
		@include theme-colors(
			$scheme,
			(
				"background-color": $intent-neutral-color,
				"color": $intent-text-color
			)
		);
	}
}