/*
	componentPath: src/app/common/components/AppRoot/AuthScreen
	cssComponentId: auth-screen_gnq77a
*/

.auth-screen_gnq77a {
	flex: 1 1 auto;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}
.auth-screen_gnq77a > .content > img {
	display: block;
	height: 60px;
	margin: 0 auto;
}
.auth-screen_gnq77a > .content > .apple-id-auth {
	margin: 50px auto 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.auth-screen_gnq77a > .content > .apple-id-auth.hidden {
	visibility: hidden;
}
.auth-screen_gnq77a > .content > .apple-id-auth > .spinner-icon_6s5uk2 {
	margin-right: 5px;
}
.auth-screen_gnq77a > .content > .apple-id-button_mrmms4 {
	width: 210px;
	margin: 0 auto;
}
.auth-screen_gnq77a > .content > .email-button {
	width: 210px;
	height: 40px;
	margin: 20px auto 0;
	background-color: #999;
	color: white;
	border-radius: 5px;
	font-family: 'Museo Sans (500)';
	display: flex;
	justify-content: center;
	align-items: center;
}
.auth-screen_gnq77a > .content > .email-button > .icon_rour3d {
	font-size: 12pt;
	margin-right: 5px;
}