/*
	componentPath: src/app/common/components/AppRoot/Header
	cssComponentId: header_q3p9go
*/

.header_q3p9go {
	flex: 0 0 auto;
	height: 41px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ccc;
	background-color: #eaeaea;
	color: #666;
}
.header_q3p9go > .left-content,
.header_q3p9go > .right-content {
	flex: 0 0 auto;
	width: 36px;
	height: 100%;
}
.header_q3p9go > .left-content > .back-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.header_q3p9go > .left-content > .back-button > .icon_rour3d {
	font-size: 20px;
}
.header_q3p9go > .title {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-weight: bold;
}