/*
  componentPath: src/app/common/components/AppRoot/HomePage
  cssComponentId: home-page_3aivep
*/

.home-page_3aivep > .header {
	display: flex;
	padding: 20px 0;
	align-items: center;
}
.home-page_3aivep > .header::before {
	content: "";
	flex: 0 0 auto;
	width: 24px;
}
.home-page_3aivep > .header > .logo-container {
	flex: 1 1 auto;
}
.home-page_3aivep > .header > .logo-container > svg {
	display: block;
	height: 25px;
	margin: 0 auto;
}
.home-page_3aivep > .header > .icon {
	flex: 0 0 auto;
	width: 24px;
	font-size: 24px;
}