/*
	componentPath: src/app/common/components/AppRoot/HomeScreen
	cssComponentId: home-screen_an7vm5
*/

.home-screen_an7vm5 {
	display: flex;
	flex-flow: column;
}
.home-screen_an7vm5 > .sticky-note_zcw6jg {
	flex: 0 0 auto;
	margin: 0 auto 10px auto;
}
.home-screen_an7vm5 > .loading-overlay_zfgtd1 {
	flex: 1 1 auto;
}
.home-screen_an7vm5 > .community-reads-list_g4cy3n {
	flex: 0 0 auto;
}
.home-screen_an7vm5 > .show-more {
	text-align: center;
	margin: 20px 0;
}