/*
	componentPath: src/app/common/components/AppRoot/HomeScreen
	cssComponentId: home-screen_an7vm5
*/

.home-screen_an7vm5 {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}
.home-screen_an7vm5 > .info-box_whou0t {
	flex: 0 0 auto;
}
.home-screen_an7vm5 > .info-box_whou0t + .hot-topics-list_4aaj4s {
	margin-top: 20px;
}
.home-screen_an7vm5 > .loading-overlay_zfgtd1,
.home-screen_an7vm5 > .hot-topics-list_4aaj4s {
	flex: 1 1 auto;
}
.home-screen_an7vm5 > .action-link {
	justify-content: center;
	margin: 5px 0 10px 0;
}

.home-screen_an7vm5-title-content > svg {
	height: 16px;
	position: relative;
	top: 3px;
	fill: #666;
}
.home-screen_an7vm5-header-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.home-screen_an7vm5-header-content > .icon {
	font-size: 22px;
}