/*
	componentPath: src/app/common/components/AppRoot/Menu
	cssComponentId: menu_fk9ujy
*/
@import '../../../../common/styles/colors';

.menu_fk9ujy {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: row-reverse;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}
.menu_fk9ujy.closing {
	animation-direction: reverse;
	animation-fill-mode: backwards;
}
.menu_fk9ujy > .drawer {
	display: flex;
	flex-flow: column;
	max-width: 260px;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	border-left-width: 1px;
	border-left-style: solid;
	animation: menu_fk9ujy-drawer-open 250ms forwards;
}
.menu_fk9ujy.closing > .drawer {
	animation: menu_fk9ujy-drawer-close 250ms forwards;
}
.menu_fk9ujy > .drawer > .header {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0 20px;
}
.menu_fk9ujy > .drawer > .header > label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.menu_fk9ujy > .drawer > .header > .close-button {
	flex: 0 0 auto;
	height: 42px;
	width: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu_fk9ujy > .drawer > .header > .close-button > .icon_rour3d {
	cursor: pointer;
}
.menu_fk9ujy > .drawer > ol {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}
.menu_fk9ujy > .drawer > .revenue-meter_56f8z4 {
	flex: 0 0 auto;
	margin: 0 15px 15px 15px;
	font-size: 0.75em;
}

@keyframes menu_fk9ujy-overlay-fade-in-light {
	from {
		background-color: transparent;
		border-top-color: transparent;
	}
	to {
		background-color: map-get($light-theme, $overlay-color);
		border-top-color: map-get($light-theme, $nav-border-color);
	}
}
@keyframes menu_fk9ujy-overlay-fade-in-dark {
	from {
		background-color: transparent;
		border-top-color: transparent;
	}
	to {
		background-color: map-get($dark-theme, $overlay-color);
		border-top-color: map-get($dark-theme, $nav-border-color);
	}
}
@keyframes menu_fk9ujy-drawer-open {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes menu_fk9ujy-drawer-close {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@include theme using ($root, $scheme) {
	#{$root} .menu_fk9ujy {
		@include theme-colors(
			$scheme,
			(
				"animation-name": "menu_fk9ujy-overlay-fade-in"
			)
		);
	}
	#{$root} .menu_fk9ujy > .drawer {
		@include theme-colors(
			$scheme,
			(
				"background-color": $content-background-color,
				"border-left-color": $nav-border-color
			)
		);
	}
}