/*
	componentPath: src/app/common/components/AppRoot/NavTray
	cssComponentId: nav-tray_2tc8
*/

.nav-tray_2tc8 {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	border-top: 1px solid #ccc;
	border-bottom: env(safe-area-inset-bottom) solid #eaeaea;
	background-color: #eaeaea;
}
.nav-tray_2tc8 > li {
	width: 20%;
	text-align: center;
}
.nav-tray_2tc8 > li > button {
	width: 100%;
	padding: 6px 0 3px 0;
	background: none;
	border: none;
	outline: none;
	color: #666;
}
.nav-tray_2tc8 > li > button.selected {
	color: black;
	font-weight: bold;
}
.nav-tray_2tc8 > li > button > .icon_rour3d {
	font-size: 20px;
}
.nav-tray_2tc8 > li > button > label {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 1px;
	font-family: 'Museo Sans (100)';
	font-size: 9pt;
}