/*
	componentPath: src/app/common/components/AppRoot/NavTray
	cssComponentId: nav-tray_2tc8
*/
@import '../../../../common/styles/colors';

.nav-tray_2tc8 {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: env(safe-area-inset-bottom);
	border-bottom-style: solid;
}
.nav-tray_2tc8 > li {
	width: 33.33%;
	text-align: center;
}
.nav-tray_2tc8 > li > button {
	width: 100%;
	padding: 6px 0 3px 0;
	background: none;
	border: none;
	outline: none;
}
.nav-tray_2tc8 > li > button.selected {
	font-weight: bold;
}
.nav-tray_2tc8 > li > button > .icon_rour3d {
	font-size: 20px;
}
.nav-tray_2tc8 > li > button > label {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 1px;
	font-family: 'Museo Sans (100)';
	font-size: 9pt;
}

@include theme using ($root, $scheme) {
	#{$root} .nav-tray_2tc8 {
		@include theme-colors(
			$scheme,
			(
				"border-top-color": $nav-border-color,
				"border-bottom-color": $nav-background-color,
				"background-color": $nav-background-color
			)
		);
	}
	#{$root} .nav-tray_2tc8 > li > button {
		@include theme-colors(
			$scheme,
			(
				"color": $text-muted-color
			)
		);
	}
	#{$root} .nav-tray_2tc8 > li > button.selected {
		@include theme-colors(
			$scheme,
			(
				"color": $text-color
			)
		);
	}
}