/*
	componentPath: src/app/common/components/AppRoot/ProfileScreen
	cssComponentId: profile-screen_dci8co
*/

.profile-screen_dci8co-header-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.profile-screen_dci8co-header-content > .icon_rour3d {
	font-size: 22px;
}