/*
	componentPath: src/app/common/components/AppRoot/StarredScreen
	cssComponentId: starred-screen_jocosv
*/

.starred-screen_jocosv > p {
	margin: 20px 0 30px 0;
	text-align: center;
}
.starred-screen_jocosv > p > .action-link_ftamt8 {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}