/*
	componentPath: src/app/common/components/BrowserRoot/ProfileScreen/DownloadAppDialog
	cssComponentId: download-app-dialog_59deqy
*/

.download-app-dialog_59deqy {
	width: 280px;
}
.download-app-dialog_59deqy > .children {
	display: flex;
	justify-content: center;
}
.download-app-dialog_59deqy > .children > .download-app-button {
	margin: 10px 0;
}
.download-app-dialog_59deqy > .children > .download-app-button > img {
	display: block;
	height: 60px;
}