@font-face {
	font-family: 'Cambria (Bold)';
	src: url('chrome-extension://{EXTENSION_ID}/content-script/user-interface/fonts/cambria-bold.ttf');
}
@font-face {
	font-family: 'Cambria (Regular)';
	src: url('chrome-extension://{EXTENSION_ID}/content-script/user-interface/fonts/cambria-regular.ttf');
}
@font-face {
	font-family: 'Museo Sans (100)';
	src: url('chrome-extension://{EXTENSION_ID}/content-script/user-interface/fonts/museo-sans-100.ttf');
}
@font-face {
	font-family: 'Museo Sans (300)';
	src: url('chrome-extension://{EXTENSION_ID}/content-script/user-interface/fonts/museo-sans-300.ttf');
}
@font-face {
	font-family: 'Museo Sans (500)';
	src: url('chrome-extension://{EXTENSION_ID}/content-script/user-interface/fonts/museo-sans-500.ttf');
}
@font-face {
	font-family: 'Museo Sans (700)';
	src: url('chrome-extension://{EXTENSION_ID}/content-script/user-interface/fonts/museo-sans-700.ttf');
}
@font-face {
	font-family: 'Museo Sans (1900)';
	src: url('chrome-extension://{EXTENSION_ID}/content-script/user-interface/fonts/museo-sans-900.ttf');
}

#reallyreadit-footer-root {
	font-family: 'Museo Sans (300)';
	font-size: 13pt;
	color: #2A2326;
}
#reallyreadit-footer-root a,
#reallyreadit-footer-root button,
#reallyreadit-footer-root div,
#reallyreadit-footer-root img,
#reallyreadit-footer-root label,
#reallyreadit-footer-root span,
#reallyreadit-footer-root strong,
#reallyreadit-footer-root svg {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#reallyreadit-footer-root a {
	color: #2A2326;
}