@import '../../../common/styles/colors';

.alert {
	position: fixed;
	top: 20px;
	right: 20px;
	text-align: center;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	animation: alert-pop-in 250ms forwards;
}
.alert.popping-out {
	animation: alert-pop-out 250ms;
}
.alert > img {
	display: block;
	height: 30px;
	margin: 5px auto 10px auto;
}
.alert > .prompt-text {
	max-width: 250px;
	margin-bottom: 15px;
}
.alert > .button-container {
	display: flex;
	justify-content: center;
}
.alert > .button-container > button {
	align-items: center;
	height: 32px;
	box-sizing: border-box;
	padding: 0 10px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Museo Sans (500)';
	position: relative;
	text-decoration: none;
	display: inline-flex;
	justify-content: flex-start;
	-webkit-user-select: none;
	user-select: none;
}
.alert > .button-container > button:focus {
	outline-width: 1px;
	outline-style: solid;
}

@keyframes alert-pop-in {
	0% {
		transform: translateY(-20%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes alert-pop-out {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-20%);
		opacity: 0;
	}
}

@include theme using ($root, $scheme) {
	#{$root} .alert {
		@include theme-colors(
			$scheme,
			(
				'background-color': $control-background-color,
				'border-color': $control-border-color,
				'box-shadow': 0px 1px 3px 1px,
			)
		);
	}
	#{$root} .alert > .logo-light {
		@if $scheme == light {
			display: block;
		} @else {
			display: none;
		}
	}
	#{$root} .alert > .logo-dark {
		@if $scheme == dark {
			display: block;
		} @else {
			display: none;
		}
	}
	#{$root} .alert > .button-container > button:focus {
		@include theme-colors(
			$scheme,
			(
				'outline-color': $intent-primary-color,
			)
		);
	}
}
