/*
	componentPath: src/app/common/components/AppRoot/OrientationWizard/ImportStep
	cssComponentId: import-step_jg2xdw
*/
@import '../../../../../common/styles/colors';

.import-step_jg2xdw {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.import-step_jg2xdw > h1 {
	font-size: 26pt;
	font-family: 'Museo Sans (500)';
	margin-bottom: 30px;
	text-align: center;
}
.import-step_jg2xdw > h2 {
	font-size: 16pt;
	font-family: 'Museo Sans (500)';
	margin: 0 10px 30px 10px;
	text-align: center;
}
.import-step_jg2xdw > img {
	width: 80%;
	max-width: 320px;
	border-width: 1px;
	border-style: solid;
}
.import-step_jg2xdw > .button_ovrlmi {
	margin: 30px 0 0 0;
}

@include theme using ($root, $scheme) {
	#{$root} .import-step_jg2xdw > img {
		@include theme-colors(
			$scheme,
			(
				"border-color": $content-border-color
			)
		);
	}
}