/*
	componentPath: src/app/common/components/screens/DiscoverScreen/MultiSelectFilter
	cssComponentId: multi-select-filter_xw30j8
*/
@import '../../../../../common/styles/colors';

.multi-select-filter_xw30j8 > .content > .option {
	padding: 5px;
	margin: 0 5px 5px 0;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	outline: none;
}
.multi-select-filter_xw30j8 > .content > .option.show-more {
	border-color: transparent;
}

@include theme using ($root, $scheme) {
	#{$root} .multi-select-filter_xw30j8 > .content > .option {
		@include theme-colors(
			$scheme,
			(
				"background-color": $control-background-color,
				"border-color": $control-border-color
			)
		);
	}
	#{$root} .multi-select-filter_xw30j8 > .content > .option.selected {
		@include theme-colors(
			$scheme,
			(
				"color": $button-selected-text-color,
				"background-color": $button-selected-background-color
			)
		);
	}
}