/*
	componentPath: src/app/common/components/StripePriceChangeDialog/ConfirmationStep
	cssComponentId: confirmation-step_yoguba
*/

.confirmation-step_yoguba > .price-selection-summary_8w3t0z {
	margin-bottom: 20px;
}
.confirmation-step_yoguba > .form {
	text-align: center;
}
.confirmation-step_yoguba > .form > .notice > p + p {
	margin-top: 10px;
}
.confirmation-step_yoguba > .form > .button_ovrlmi {
	margin-top: 25px;
}