/*
	componentPath: src/app/common/components/BrowserRoot/StripeSubscriptionPrompt/ContinueStep
	cssComponentId: continue-step_yedqha
*/

.continue-step_yedqha {
	text-align: center;
}
.continue-step_yedqha > .message {
	margin-bottom: 10px;
}