/*
	componentPath: src/app/common/components/BrowserRoot/StripeSubscriptionPrompt/PaymentEntryStep
	cssComponentId: payment-entry-step_c3xgsp
*/
@import '../../../../../common/styles/colors';

.payment-entry-step_c3xgsp > .selection {
	margin-bottom: 20px;
}
.payment-entry-step_c3xgsp > .selection > .title {
	font-family: 'Museo Sans (700)';
	margin-bottom: 5px;
}
.payment-entry-step_c3xgsp > .selection > .name,
.payment-entry-step_c3xgsp > .selection > .price {
	margin-bottom: 5px;
}
.payment-entry-step_c3xgsp > .selection > .action-link_ftamt8 {
	font-size: 11pt;
}
.payment-entry-step_c3xgsp > .form {
	text-align: center;
}
.payment-entry-step_c3xgsp > .form > .label {
	text-align: left;
	font-family: 'Museo Sans (700)';
	margin-bottom: 10px
}
.payment-entry-step_c3xgsp > .form > .card-element {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	width: 336px;
}
.payment-entry-step_c3xgsp > .form > .card-element-error {
	margin-top: 10px;
	font-size: 11pt;
}
.payment-entry-step_c3xgsp > .form > .button_ovrlmi {
	margin-top: 25px;
}

@include theme using ($root, $scheme) {
	#{$root} .payment-entry-step_c3xgsp > .selection > .action-link_ftamt8 {
		@include theme-colors(
			$scheme,
			(
				"color": $text-muted-color
			)
		);
	}
	#{$root} .payment-entry-step_c3xgsp > .form > .card-element {
		@include theme-colors(
			$scheme,
			(
				"background-color": $control-background-color,
				"border-color": $control-border-color
			)
		);
	}
	#{$root} .payment-entry-step_c3xgsp > .form > .card-element-error {
		@include theme-colors(
			$scheme,
			(
				"color": $text-muted-color
			)
		);
	}
}