.hero {
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	background-color: ghostwhite;
}
.hero > .title-bar {
	display: flex;
	justify-content: flex-end;
}
.hero > .title-bar > .icon {
	cursor: pointer;
}
.hero > .title-text {
	display: block;
	margin: 10px 0;
	font-size: 18px;
}
.hero > ol {
	display: flex;
}
.hero > ol > li {
	width: 33.3%;
	padding: 5px;
}
.hero > ol > li:nth-child(2) {
	margin: 0 10px;
}
.hero > ol > li > .illustration {
	position: relative;
	height: 50px;
	margin-bottom: 10px;
}
.hero > ol > li:first-child > .illustration {
	display: flex;
}
.hero > ol > li:first-child > .illustration::after {
	content: "";
	flex: 1 1 50%;
}
.hero > ol > li:first-child > .illustration > .annotation {
	flex: 1 1 50%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 11px;
	color: gray;
}
.hero > ol > li:first-child > .illustration > .annotation > span {
	width: 60px;
}
.hero > ol > li:first-child > .illustration > .annotation > .arrow {
	width: 30px;
	transform: rotate(10deg);
	margin-right: 5px;
}
.hero > ol > li:first-child > .illustration > .annotation > .arrow > svg {
	width: 100%;
}
.hero > ol > li:first-child > .illustration > svg {
	flex: 0 0 auto;
	width: 48px;
}
.hero > ol > li:nth-child(2) > .illustration {
	display: flex;
	justify-content: center;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li {
	display: flex;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li > .icon {
	width: 18px;
	height: 18px;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li > .icon:first-child {
	margin-right: 10px;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li > .group-separator {
	width: 1px;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li:first-child {
	padding-bottom: 5px;
	border-bottom: 1px solid silver;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li:first-child > .icon:first-child {
	fill: lime;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li:first-child > .read-count-indicator {
	font-size: 15px;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li:last-child {
	padding-top: 4px;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li:last-child > .icon:first-child {
	fill: red;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li:last-child > .group {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
}
.hero > ol > li:nth-child(2) > .illustration > ol > li:last-child > .group > .icon {
	width: 18px;
	height: 18px;
	color: gray;
}
.hero > ol > li:nth-child(3) > .illustration {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero > ol > li > .text > strong {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
}

@media (max-width: 499px) {
	.hero > ol {
		flex-flow: column;
	}
	.hero > ol > li {
		width: auto;
	}
	.hero > ol > li:nth-child(2) {
		margin: 10px 0;
	}
	.hero > ol > li:not(:first-child) > .illustration {
		height: auto;
	}
	.hero > ol > li > .text > strong {
		margin-bottom: 5px;
	}
}